---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/36004586-651c-4ded-af87-203aca22d946@14.1:5ec095f4-0983-4f53-9dea-caed0643aba9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"xN6GP/BkEa8HjjoYwvuvJw"'
      Link:
      - <https://cnx.org/contents/36004586-651c-4ded-af87-203aca22d946:5ec095f4-0983-4f53-9dea-caed0643aba9/%F0%9F%93%8E-Inquiry-Organizer>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive2
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "7", "submitlog": "rebake", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2020-09-02T00:12:50Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "5ec095f4-0983-4f53-9dea-caed0643aba9",
        "canonical": "36004586-651c-4ded-af87-203aca22d946", "title": "\ud83d\udcce
        Inquiry Organizer", "mediaType": "application/vnd.org.cnx.module", "canon_url":
        "https://cnx.org/contents/36004586-651c-4ded-af87-203aca22d946:5ec095f4-0983-4f53-9dea-caed0643aba9/%F0%9F%93%8E-Inquiry-Organizer",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <body><div data-type=\"page\"
        id=\"5ec095f4-0983-4f53-9dea-caed0643aba9\" data-cnxml-to-html-ver=\"2.1.0\"
        class=\"chapter-content-module\"><h2 data-type=\"document-title\" id=\"0\"><span
        class=\"os-number\">1.1</span><span class=\"os-divider\"> </span><span data-type=\"\"
        itemprop=\"\" class=\"os-text\">\ud83d\udcce Inquiry Organizer</span></h2>\n\n<div
        class=\"os-table \"><table id=\"eip-idm663405264\" summary=\"Table 16.2 Controversy
        Groups \" class=\"unnumbered\" data-label=\"\"><tbody><tr><td>\ud83d\udcce
        </td><td>Inquiry Organizer</td><td>\nSummary of chapter objectives and resources\n</td></tr><tr><td>\ud83d\udcd6
        </td><td>Chapter Introductory Essay</td><td>In-depth overview of significant
        events in the time period\n</td></tr><tr><td>\ud83d\udd0e </td><td>Narratives</td><td>Shorter
        essays on a dramatic story or individual\n</td></tr><tr><td>\ud83d\udccd </td><td>Decision
        Points</td><td>\nNarratives that describe a pivotal decision in history\n</td></tr><tr><td>\ud83d\udcac
        </td><td>Point-Counterpoints</td><td>Differing sides of an argument presented
        by scholars or historical figures\n</td></tr><tr><td>\u2712\ufe0f </td><td>Primary
        Sources</td><td>\nFirsthand accounts from the time period\n</td></tr><tr><td>\ud83d\udcdd
        </td><td>Lessons</td><td>Instructions and handouts to engage students in the
        classroom\n</td></tr><tr><td>\u270f\ufe0f </td><td>Unit Essay Activity</td><td>Culminating
        essay based on AP LEQs to assess chapter objectives\n</td></tr></tbody></table></div>\n\n<div
        class=\"os-table \"><table id=\"fs-idm358657136\" summary=\"Table 16.2 Controversy
        Groups \" class=\"unnumbered\" data-label=\"\"><tbody>\n<tr><td colspan=\"2\"
        data-align=\"center\"><strong>Unit 1: Chapter 1 (1491\u20131607)</strong></td>\n</tr>\n<tr>\n<td
        colspan=\"2\"><strong>Compelling Question: How did the collision of cultures
        create a \u201cNew World\u201d?</strong></td>\n</tr>\n<tr>\n<td colspan=\"2\"><strong>Chapter
        Objectives:</strong><span data-type=\"newline\"><br/></span>\n<ul id=\"fs-idm514815984\">\n<li>Students
        will be able to explain the development of the systems of exchange of resources,
        goods, and peoples between Europe, Africa, and the Americas that developed
        due to European exploration of the Atlantic world.</li>\n<li>Students will
        be able to evaluate the social, cultural, geographic, economic, and political
        impact of European contact with Native Americans and the Americas.</li>\n</ul>\n</td>\n</tr>\n<tr>\n<td><strong>Supporting
        Question 1:[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/oauth/token"
    body:
      encoding: UTF-8
      string: client_id=<openstax_exercises_client_id>&client_secret=<openstax_exercises_secret>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"773d8dfb0592b9204c01e9b02605bb5f"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"cdd8fb6b09bb1ae0fccb0493572e2339be3af110f202f201225440539907e033","token_type":"Bearer","created_at":1549033637}'
  recorded_at: Thu, 11 Feb 2021 22:54:32 GMT
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A5ec095f4-0983-4f53-9dea-caed0643aba9%2Ccontext-cnxmod%3A22e8aac4-82ad-474f-867d-3059dfde7829%2Ccontext-cnxmod%3A41f1c31a-ba90-4f46-a42f-f106be7ba6f9%2Ccontext-cnxmod%3A7123cc1b-f3ae-45eb-87a4-634a459e9bf9%2Ccontext-cnxmod%3Aff3d527a-7f54-43b3-bc09-13d4a43894b4%22
    headers:
      Authorization:
      - "<Authorization>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"24fd5dc45d4dc459edb95005db31ede1"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6NDAsIml0ZW1zIjpbeyJpbWFnZXMiOltdLCJ0YWdzIjpbInRpbWU6c2hvcnQiLCJibG9vbXM6MiIsImJvb2s6c3RheC1hcHVzaCIsImZpbHRlci10eXBlOmFwLXRlc3QtcHJlc[...]
