---
http_interactions:
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Name%20FROM%20Book__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=237/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v29.0/sobjects/Book__c/a0Z3B000000UAiCUAW"},"Id":"a0Z3B000000UAiCUAW","Name":"Physics"},{"attributes":{"type":"Book__c","url":"/services/data/v29.0/sobjects/Book__c/a0Z3B000000UAi7UAG"},"Id":"a0Z3B000000UAi7UAG","Name":"Chemistry"}]}'
  recorded_at: Fri, 27 Jan 2017 21:12:12 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Name%20FROM%20Account
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=238/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v29.0/sobjects/Account/0013B000009vJrCQAU"},"Id":"0013B000009vJrCQAU","Name":"JP
        University"}]}'
  recorded_at: Fri, 27 Jan 2017 21:12:13 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20TermYear__c,%20Book_Text__c,%20Contact__c,%20Class_Start_Date__c,%20Book__c,%20Account__c%20FROM%20Individual_Adoption__c%20WHERE%20(Contact__c%20=%20%270033B000008kp7AQAQ%27)%20AND%20(Book_Text__c%20=%20%27Chemistry%27)%20AND%20(TermYear__c%20=%20%272016%20-%2017%20Spring%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=238/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Individual_Adoption__c","url":"/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000Vay4UAC"},"Id":"a1W3B000000Vay4UAC","TermYear__c":"2016
        - 17 Spring","Book_Text__c":"Chemistry","Contact__c":"0033B000008kp7AQAQ","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}]}'
  recorded_at: Fri, 27 Jan 2017 21:12:18 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Individual_Adoption__c%20=%20%27a1W3B000000Vay4UAC%27)%20AND%20(Product__c%20=%20%27Tutor%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=238/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Fri, 27 Jan 2017 21:12:18 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20=%20%27a1S3B000000E0vFUAS%27)%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=240/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OS_Ancillary__c","url":"/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E0vFUAS"},"Id":"a1S3B000000E0vFUAS","Status__c":null,"Product__c":"Tutor","Account_Type__c":null,"Book_Name__c":"Chemistry","Class_Start_Date__c":"2017-01-01","Course_Name__c":null,"Course_Code__c":null,"External_ID__c":null,"E_Created_Date__c":null,"Error__c":null,"General_Access_URL__c":null,"Teacher_Join_URL__c":null,"School_Name__c":"JP
        University","Active_Teachers__c":null,"Sections__c":null,"Students_Using__c":null,"TermYear__c":"2016
        - 17 Spring","Opportunity__c":null,"Individual_Adoption__c":"a1W3B000000Vay4UAC"}]}'
  recorded_at: Fri, 27 Jan 2017 21:12:20 GMT
- request:
    method: patch
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E0vFUAS
    body:
      encoding: UTF-8
      string: '{"Status__c":"Approved","External_ID__c":1,"E_Created_Date__c":"2017-01-27T21:12:14Z","Teacher_Join_URL__c":"http://localhost:3001/teach/bc20e7a5688c42923ff162c48781d87c/DO_NOT_GIVE_TO_STUDENTS","Active_Teachers__c":1,"Sections__c":2,"Students_Using__c":6}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=239/48000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2017 21:12:21 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Indiv[...]
[...]
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20TermYear__c,%20Book_Text__c,%20Contact__c,%20Class_Start_Date__c,%20Book__c,%20Account__c%20FROM%20Individual_Adoption__c%20WHERE%20(Contact__c%20=%20%270033B000008kpAOQAY%27)%20AND%20(Book_Text__c%20=%20%27Chemistry%27)%20AND%20(TermYear__c%20=%20%272016%20-%2017%20Spring%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=284/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Individual_Adoption__c","url":"/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000VayiUAC"},"Id":"a1W3B000000VayiUAC","TermYear__c":"2016
        - 17 Spring","Book_Text__c":"Chemistry","Contact__c":"0033B000008kpAOQAY","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}]}'
  recorded_at: Fri, 27 Jan 2017 21:25:32 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Individual_Adoption__c%20=%20%27a1W3B000000VayiUAC%27)%20AND%20(Product__c%20=%20%27Tutor%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=289/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Fri, 27 Jan 2017 21:25:33 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20[...]
- request:
    method: patch
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E0w3UAC
    body:
      encoding: UTF-8
      string: '{"Status__c":"Approved","External_ID__c":2,"E_Created_Date__c":"2017-01-27T21:25:28Z","Teacher_Join_URL__c":"http://localhost:3001/teach/dcfde2521811598efb8149b1f85662ff/DO_NOT_GIVE_TO_STUDENTS","Active_Teachers__c":1,"Sections__c":2,"Students_Using__c":6}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=284/48000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Fri, 27 Jan 2017 21:25:35 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Indiv[...]
[...]
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Elinor","LastName":"Hirthe","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=452/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0033B000008kpz3QAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B000008kpz3QAA","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 00:11:22 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Individual_Adoption__c
    body:
      encoding: UTF-8
      string: '{"Contact__c":"0033B000008kpz3QAA","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=457/48000
      Location:
      - "/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000Vb7rUAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1W3B000000Vb7rUAC","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 00:11:22 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20TermYear__c,%20Book_Text__c,%20Contact__c,%20Class_Start_Date__c,%20Book__c,%20Account__c%20FROM%20Individual_Adoption__c%20WHERE%20(Contact__c%20=%20%270033B000008kpz3QAA%27)%20AND%20(Book_Text__c%20=%20%27Chemistry%27)%20AND%20(TermYear__c%20=%20%272016%20-%2017%20Spring%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=455/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Individual_Adoption__c","url":"/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000Vb7rUAC"},"Id":"a1W3B000000Vb7rUAC","TermYear__c":"2016
        - 17 Spring","Book_Text__c":"Chemistry","Contact__c":"0033B000008kpz3QAA","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}]}'
  recorded_at: Sat, 28 Jan 2017 00:11:23 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Individual_Adoption__c%20=%20%27a1W3B000000Vb7rUAC%27)%20AND%20(Product__c%20=%20%27Tutor%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=456/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Sat, 28 Jan 2017 00:11:23 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c
    body:
      encoding: UTF-8
      string: '{"Product__c":"Tutor","Individual_Adoption__c":"a1W3B000000Vb7rUAC"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=458/48000
      Location:
      - "/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E14FUAS"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1S3B000000E14FUAS","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 00:11:24 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20[...]
- request:
    method: patch
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E14FUAS
    body:
      encoding: UTF-8
      string: '{"Status__c":"Approved","External_ID__c":2,"E_Created_Date__c":"2017-01-28T00:11:19Z","Teacher_Join_URL__c":"http://localhost:3001/teach/2730416a0fb79a2e18ffb1918b30ad74/DO_NOT_GIVE_TO_STUDENTS","Active_Teachers__c":1,"Sections__c":2,"Students_Using__c":6}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=458/48000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Jan 2017 00:11:25 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Indiv[...]
[...]
