---
http_interactions:
- request:
    method: get
    uri: https://tutor-dev.openstax.org/assets/rev-manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 31 Aug 2018 21:21:15 GMT
      Etag:
      - '"5b89b14b-194"'
    body:
      encoding: UTF-8
      string: |
        {
          "lmspair.min.js": "lmspair-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js",
          "lmspair.min.js.map": "lmspair-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js.map",
          "tutor.min.css": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.css",
          "tutor.min.js": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js",
          "tutor.min.js.map": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js.map"
        }
  recorded_at: Tue, 11 Sep 2018 20:52:48 GMT
[...]
- request:
    method: get
    uri: https://tutor-dev.openstax.org/assets/rev-manifest.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Fri, 31 Aug 2018 21:21:15 GMT
      Etag:
      - '"5b89b14b-194"'
    body:
      encoding: UTF-8
      string: |
        {
          "lmspair.min.js": "lmspair-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js",
          "lmspair.min.js.map": "lmspair-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js.map",
          "tutor.min.css": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.css",
          "tutor.min.js": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js",
          "tutor.min.js.map": "tutor-991511e12f76aa9aa1ddcb7732c56c32ff399b62.min.js.map"
        }
  recorded_at: Wed, 12 Sep 2018 02:01:54 GMT
recorded_with: VCR 2.9.3
