<div class="error_card browser_upgrade">
  <div class="title">
    <div class="icon">
      <span class="glyphicon glyphicon-alert"></span>
    </div>
    <div class="text">Your web browser is not supported</div>
  </div>
  <div class="body">
    <p>
      Your web browser does not appear to be a version we support.
    </p>
    <p>
      In order to have the best possible experience while using OpenStax Tutor, please upgrade to a recent version of <a href="https://www.google.com/chrome/browser/">Chrome</a>, <a href="https://www.mozilla.org/firefox/new/">Firefox</a>, <a href="https://support.apple.com/en-us/HT204416">Safari</a> or <a href="https://www.microsoft.com/en-us/windows/microsoft-edge">Microsoft Edge</a>.
    </p>
  </div>
</div>
