<div class='generic-error'>
  <h2><%= heading || "An error occurred." %></h2>

  <% if body.present? %>
  <p><%= body %></p>
  <% end %>

  <p>We're sorry this error occurred. If you need help, please contact OpenStax.</p>
</div>
