<div id="alt-signup">

  <div class='title'>
    <h2>How to get started with OpenStax Tutor Beta</h2>
    <div class="stripe">
      <div class="orange"> </div>
      <div class="blue"> </div>
      <div class="red"> </div>
      <div class="yellow"> </div>
      <div class="teal"> </div>
    </div>
  </div>

  <div class='container teacher-student'>
    <div class="student">
      <h3>Are you a student?</h3>
      <p>
        You need an enrollment link from your instructor to join a course. Clicking the enrollment link will give you access to your instructor’s course.
      </p>
    </div>
    <div class="teacher">
      <div style="float:right">
        <h3>Are you an instructor?</h3>
        <p>
          <%= link_to 'Get started', main_app.non_student_signup_path %> with OpenStax Tutor beta
          or <%= link_to 'learn more', 'https://openstax.org/openstax-tutor/' %>.
        </p>
      </div>
    </div>
  </div>


</div>
