<div id="alt-signup">

  <div class='title'>
    <h2>How To Sign Up for OpenStax Tutor Beta</h2>
    <div class="stripe">
      <div class="orange"> </div>
      <div class="blue"> </div>
      <div class="red"> </div>
      <div class="yellow"> </div>
      <div class="teal"> </div>
    </div>
  </div>

  <div class='container teacher-student'>
    <div class="student">
      <h3>Are you a student?</h3>
      <p>
        You need an enrollment link from your instructor to join a course.  Click that link to access the course.
      </p>
    </div>
    <div class="teacher">
      <h3>Are you an instructor or administrator?</h3>
      <p>
        OpenStax Tutor beta is currently in closed pilot.
        If you're interested in learning how to participate,
        please <a href="mailto:info@openstax.org">contact us</a>.
      </p>
    </div>
  </div>


</div>
