<div class='container'>
  <div class='row'>
    <h2>How To Sign Up</h2>
  </div>

  <div class='row'>
    <p>To sign up for OpenStax Tutor, you'll need a special link.</p>

    <h3>Are you a student?</h3>

    <p>Your instructor will provide you with an enrollment link.  Click that link to create an account and get enrolled in your course.</p>

    <h3>Are you a teacher?</h3>

    <p>Lorem ipsum tango foxtrot larry.</p>

  </div>

</div>
