<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF8" />
</head>
<body>
  <div class="actions">
    <button class="success">Trigger Successfull Payment</button>
    <button class="cancel warning">Cancel Payment</button>
  </div>
  <%= stylesheet_link_tag 'payments/stub', media: 'all' %>
  <%= javascript_include_tag 'payments/stub' %>
</body>
