<table class="table table-striped">
  <thead>
    <tr>
      <th class="col-md-2">Book Title</th>
      <th class="col-md-2">Import Date</th>
      <th class="col-md-4">UUID @ Version (link to archive)</th>
      <th class="col-md-4">Comments</th>
    </tr>
  </thead>
  <tbody>
  <% ecosystems.each do |ecosystem| %>
    <% book = ecosystem.books.first %>

    <tr>
      <td><%= book.title %></td>
      <td><small><%= ecosystem.imported_at %></small></td>
      <td><small><%= link_to "#{book.uuid} @ #{book.version}", book.url, target: '_blank'%></small></td>
      <td><%= ecosystem.comments %></td>
    </tr>
  <% end %>
  </tbody>
</table>
