---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/1b79a450-f691-4301-aef3-d065268ab4a9@6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"XWYOdwKItU4ch2PqDPhbIg"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:1b79a450-f691-4301-aef3-d065268ab4a9/Physical-Quantities-and-Units>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive2
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "6", "submitlog": "errata 11898",
        "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><ul>\n<li>Perform unit
        conversions both in the SI and English units.\n</li>\n<li>Explain the most
        common prefixes in the SI units and be able to write them in scientific notation.</li>\n</ul></div>",
        "revised": "2020-12-15T17:39:50Z", "printStyle": null, "roles": null, "keywords":
        ["Units", "SI units", "Second", "Physical quantity", "Order of magnitude",
        "Metric system", "Meter", "Kilogram", "Fundamental units", "English units",
        "Derived units", "Customary system", "Conversion factor"], "id": "1b79a450-f691-4301-aef3-d065268ab4a9",
        "canonical": "405335a3-7cff-4df2-a9ad-29062a4af261", "title": "Physical Quantities
        and Units", "mediaType": "application/vnd.org.cnx.module", "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:1b79a450-f691-4301-aef3-d065268ab4a9/Physical-Quantities-and-Units",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Physical Quantities and Units</title><meta
        name=\"created-time\" content=\"2016/05/02 13:32:12 -0500\"/><meta name=\"revised-time\"
        content=\"2020/12/15 11:39:50.683 US/Central\"/><meta name=\"author\" content=\"cnxphyscw\"/><meta
        name=\"acl-list\" content=\"cnxphyscw\"/><meta name=\"licensor\" content=\"cnxphyscw\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"Conversion factor, Customary system, Derived units,
        English units, Fundamental units, Kilogram, Meter, Metric system, Order of
        magnitude, Physical quantity, Second, SI units, Units\"/><meta name=\"subject\"
        content=\"Mathematics and Statistics\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        xmlns:epub=\"http://www.idpf.org/2007/ops\" data-cnxml-to-html-ver=\"2.1.0\"><div
        data-type=\"document-title\">Physical Quantities and Units</div><div data-type=\"abstract\"><ul>\n<li>Perform
        unit conversions both in the SI and English units.\n</li>\n<li>Explain the
        most common prefixes in the SI units and be able to write them in scientific
        notation.</li>\n</ul></div>\n    \n    <figure id=\"import-auto-id2657097\"><figcaption>The
        distance from Earth to the Moon may seem immense, but it is just a tiny fraction
        of the distances from Earth to other celestial bodies. (credit: NASA)</figcaption><span
        data-type=\"media\" id=\"import-auto-id3164906\" data-alt=\"A view of Earth
        from the Moon.\">\n        <img src=\"/resources/485c7cbe98e7d93838a4bd98e125dde7583a0883/Figure_01_02_01b.jpg\"
        data-media-type=\"image/png\" alt=\"A view of Earth from the Moon.\" width=\"300\"/>\n      </span>\n      \n    </figure><p
        id=\"import-auto-id2510075\">The range of objects and phenomena studied in
        physics is immense. From the incredibly short lifetime of a nucleus to the
        age of the Earth, from the tiny sizes of sub-nuclear particles to the vast
        distance to the edges of the known universe, from the force exerted by a jumping
        flea to the force between Earth and the Sun, there are enough factors of 10
        to challenge the imagination of even the most experienced scientist. Giving
        numerical values for physical quantities and equations for physical principles
        allows us to understand nature much more deeply than does qualitative description
        alone. To comprehend these vast ranges, we must also have accepted units in
        which to express them. And we shall find that (even in the potentially mundane
        discussion of meters, kilograms, and seconds) a profound simplicity of nature
        appears&#8212;most physical quantities can be expressed as combinations of
        only four fundamental physical quantities: length, mass, time, and electric
        current.</p><p id=\"import-auto-id1675918\">We define a <span data-type=\"term\"
        id=\"import-auto-id1536256\">physical quantity</span> either by  <em data-effect=\"italics\">specifying
        how it is measured</em> or by <em data-effect=\"italics\"><em data-effect=\"italics\">stating
        how it is calculated</em></em> from other measurements. For example, we define
        distance and time by specifying methods for measuring them, whereas we define
        <em data-effect=\"italics\"><em data-effect=\"italics\">average speed</em></em>
        by stating that it is calculated as distance traveled divided by time of travel.</p>\n    <p
 [...]
- request:
    method: post
    uri: "<openstax_exercises_url>/oauth/token"
    body:
      encoding: UTF-8
      string: client_id=<openstax_exercises_client_id>&client_secret=<openstax_exercises_secret>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"773d8dfb0592b9204c01e9b02605bb5f"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"cdd8fb6b09bb1ae0fccb0493572e2339be3af110f202f201225440539907e033","token_type":"Bearer","created_at":1549033637}'
  recorded_at: Sun, 14 Feb 2021 21:36:42 GMT
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A1b79a450-f691-4301-aef3-d065268ab4a9%22
    headers:
      Authorization:
      - "<Authorization>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d2697267a71aba61a3d82c13848f210c"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MjksIml0ZW1zIjpbeyJpbWFnZXMiOltdLCJ0YWdzIjpbImluYm9vay15ZXMiLCJrMTJwaHlzIiwiazEycGh5cy1jaDAxIiwiazEycGh5cy1jaDAxLXMwMyIsImsxMnBoeXMtY[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A20ecccca-ce8d-4067-9d78-b1cd34d9b582%22
    headers:
      Authorization:
      - "<Authorization>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89f750447686a96974878949bd937512"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"items":[]}'
  recorded_at: Sun, 14 Feb 2021 21:36:49 GMT
recorded_with: VCR 4.0.0
