---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20210514.171726/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.46:1b79a450-f691-4301-aef3-d065268ab4a9.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Replication-Status:
      - COMPLETED
      Last-Modified:
      - Tue, 18 May 2021 21:12:12 GMT
      Etag:
      - W/"489a6b98db759196480ccb6eca49ccd1"
      X-Amz-Version-Id:
      - 2WkdA5b3RFdOZUbFHKn77l3JmZ0xj416
    body:
      encoding: ASCII-8BIT
      string: '{"slug": "1-2-physical-quantities-and-units", "title": "Physical Quantities
        and Units", "abstract": "<ul xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:m=\"http://www.w3.org/1998/Math/MathML\"
        xmlns:epub=\"http://www.idpf.org/2007/ops\">\n<li>Perform unit conversions
        both in the SI and English units.\n</li>\n<li>Explain the most common prefixes
        in the SI units and be able to write them in scientific notation.</li>\n</ul>",
        "id": "1b79a450-f691-4301-aef3-d065268ab4a9", "revised": "2020-12-15T17:39:50Z",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <head><style>\n            /*
        STYLING_FOR_DEVS */\n            /* Linking to a specific element should highlight
        the element */\n            :target {\n                background-color: #ffffcc;\n                border:
        1px dotted #000000;\n\n                animation-name: cssAnimation;\n                animation-duration:
        10s;\n                animation-timing-function: ease-out;\n                animation-delay:
        0s;\n                animation-fill-mode: forwards;\n            }\n            @keyframes
        cssAnimation {\n                to {\n                    background-color:
        initial;\n                    border: initial;\n                }\n            }\n\n            /*
        Style footnotes so that they stand out */\n            [role=\"doc-footnote\"]
        {\n                background-color: #ffcccc;\n                border: 1px
        dashed #ff0000;\n            }\n            [role=\"doc-footnote\"]:before
        { content: \"FOOTNOTE \" ; }\n\n            /* Show a permalink when hovering
        over a heading or paragraph */\n            *:not(:hover) &gt; a.-dev-permalinker
        { display: none; }\n            * &gt; a.-dev-permalinker {\n                margin-left:
        .1rem;\n                text-decoration: none;\n            }\n        </style><script>//&lt;![CDATA[\n            //
        SCRIPTS_FOR_DEVS\n            window.addEventListener(''load'', () =&gt; {\n                const
        pilcrow = ''\u00b6''\n\n                function addPermalink(parent, id)
        {\n                    const link = window.document.createElement(''a'')\n                    link.classList.add(''-dev-permalinker'')\n                    link.setAttribute(''href'',
        ''#'' + id)\n                    link.textContent = pilcrow\n                    parent.appendChild(link)\n                }\n\n                const
        paragraphs = Array.from(\n                    document.querySelectorAll(''p[id]'')\n                )\n                paragraphs.forEach(p
        =&gt; addPermalink(p, p.getAttribute(''id'')) )\n\n                const headings
        = Array.from(\n                    document.querySelectorAll(\n                        ''*[id]
        &gt; h1, *[id] &gt; h2, *[id] &gt; h3, '' +\n                        ''*[id]
        &gt; h4, *[id] &gt; h5, *[id] &gt; h6''\n                    )\n                )\n                headings.forEach(h
        =&gt; addPermalink(\n                    h, h.parentElement.getAttribute(''id''))\n                )\n            })\n        //
        ]]&gt;</script></head><body><div data-type=\"page\" id=\"1b79a450-f691-4301-aef3-d065268ab4a9\"
        data-cnxml-to-html-ver=\"2.1.1\" class=\" chapter-content-module\"><h2 data-type=\"document-title\"
        id=\"0\"><span class=\"os-number\">1.2</span><span class=\"os-divider\"> </span><span
        data-type=\"\" itemprop=\"\" class=\"os-text\">Physical Quantities and Units</span></h2>\n    \n    \n    \n    <div
        class=\"os-figure\"><figure id=\"import-auto-id2657097\"><span data-type=\"media\"
        id=\"import-auto-id3164906\" data-alt=\"A view of Earth from the Moon.\">\n        <img
        src=\"../resources/485c7cbe98e7d93838a4bd98e125dde7583a0883\" data-media-type=\"image/png\"
        alt=\"A view of Earth from the Moon.\" width=\"300\" id=\"2\"/>\n      </span>\n      \n    </figure><div
        class=\"os-caption-container\"><span class=\"os-title-label\">Figure </span><span
        class=\"os-number\">1.16</span><span [...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A1b79a450-f691-4301-aef3-d065268ab4a9%22
    headers:
      Authorization:
      - "<Authorization 1>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"c7e23545e79ec4624c61061a6333e74b"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MzAsIml0ZW1zIjpbeyJpbWFnZXMiOltdLCJ0YWdzIjpbImluYm9vay15ZXMiLCJrMTJwaHlzIiwiazEycGh5cy1jaDAxIiwiazEycGh5cy1jaDAxLXMwMyIsImsxMnBoeXM[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A20ecccca-ce8d-4067-9d78-b1cd34d9b582%22
    headers:
      Authorization:
      - "<Authorization 1>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"89f750447686a96974878949bd937512"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":0,"items":[]}'
  recorded_at: Tue, 25 May 2021 19:51:33 GMT
recorded_with: VCR 4.0.0
