---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.128.json"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 May 2015 14:39:14 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.128.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '69591'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "4.128", "submitlog": "added final
        module of chapter", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-04-22T21:06:54Z", "printStyle": null, "roles": null, "keywords":
        [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58", "title": "Updated Tutor
        HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "publishers": [{"surname": "Slavik", "suffix":
        "", "firstname": "Alina", "title": "", "fullname": "Alina Slavik", "id": "AlinaManager"}],
        "parent": {"authors": [], "version": "", "id": null, "title": null}, "stateid":
        1, "parentTitle": null, "authors": [{"surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "fullname": "Alina Slavik", "id": "AlinaManager"}],
        "parentVersion": "", "legacy_version": "1.4", "licensors": [{"surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "fullname": "Alina Slavik",
        "id": "AlinaManager"}], "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "version": "4.0", "abbr": "by", "name": "Creative Commons Attribution License"},
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.128",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@10",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@33",
        "title": "Force"}, {"id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd@39", "title":
        "Newton''s First Law of Motion: Inertia"}, {"id": "d60a912c-83cf-443a-a6c2-3dd95545e7d4@35",
        "title": "Newton''s Second Law of Motion"}, {"id": "26906559-5f4c-4b41-8c23-3380fec28355@23",
        "title": "Newton''s Third Law of Motion"}], "title": "Forces and Newton''s
        Laws of Motion"}], "title": "Updated Tutor HS Physics Content - legacy"},
        "doctype": "", "buyLink": null, "submitter": {"surname": "Slavik", "suffix":
        "", "firstname": "Alina", "title": "", "fullname": "Alina Slavik", "id": "AlinaManager"},
        "parentAuthors": [], "history": [{"changes": "added final module of chapter",
        "version": "4.128", "revised": "2015-04-22T21:06:54Z", "publisher": {"surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "fullname": "Alina
        Slavik", "id": "AlinaManager"}}, {"changes": "added final module of chapter",
        "version": "4.127", "revised": "2015-04-14T16:45:04Z", "publisher": {"surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "fullname": "Alina
        Slavik", "id": "AlinaManager"}}, {"changes": "added final module of chapter",
        "version": "4.126", "revised": "2015-04-14T16:1[...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '288437'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "10", "submitlog": "changed roles",
        "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-04-10T18:27:38Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "1491e74e-ed39-446f-a602-e7ab881af101",
        "title": "Introduction", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2015/03/05 08:26:29 +0000\"/><meta name=\"revised-time\" content=\"2015/04/10
        13:27:38.803 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Introduction</div>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"summary\" title=\"Section Summary\"</cnx-pi>
        \n<cnx-pi data-type=\"cnx.eoc\">class=\"key-equations\" title=\"Key Equations\"</cnx-pi>  \n<cnx-pi
        data-type=\"cnx.eoc\">class=\"concept\" title=\"Concept Items\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"critical-thinking\" title=\"Critical Thinking
        Items\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"problem\" title=\"Problems\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"performance\" title=\"Performance Task\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"multiple-choice\" title=\"Multiple Choice \"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"short-answer\" title=\"Short Answer\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"extended-response\" title=\"Extended Response\"</cnx-pi>\n\n<figure
        id=\"fs-idp30390784\" class=\"splash\"><figcaption>Newton&#8217;s laws of
        motion describe the motion of the dolphin&#8217;s path. (credit: Jin Jang)</figcaption><span
        data-type=\"media\" id=\"fs-idp23649424\" data-alt=\"Alt text\"><img src=\"/resources/c9051f176708741076d3818bbb591cbf9a3f68cc/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure>\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"eip-105\" class=\"note os-teacher\" data-label=\"Teacher
        Edition\">\n<p id=\"eip-idp140653684147760\">Before students begin this chapter,
        they may wish to review the concepts of distance, displacement, speed, velocity,
        acceleration, scalars, ve[...]
