---
http_interactions:
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/95a1573d-0915-4203-8989-913325160855@4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "ensured k12
        phys, not phys", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-05-07T17:59:54Z", "printStyle": null, "roles": null, "keywords":
        ["velocity", "vector quantities", "time", "negative acceleration", "instantaneous
        acceleration", "displacement", "deceleration", "average acceleration"], "id":
        "95a1573d-0915-4203-8989-913325160855", "title": "Acceleration", "mediaType":
        "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Acceleration</title><meta
        name=\"created-time\" content=\"2015/05/06 05:45:08 -0500\"/><meta name=\"revised-time\"
        content=\"2015/05/07 12:59:54.175 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"licensor\" content=\"tutor_hsphysics\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"average acceleration, deceleration, displacement,
        instantaneous acceleration, negative acceleration, time, vector quantities,
        velocity\"/><meta name=\"subject\" content=\"Science and Technology\"/><meta
        name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Acceleration</div>\n<section data-depth=\"1\"
        id=\"fs-idm32602112\" class=\"section-opener\">\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-idm15002784\" class=\"note learning-objectives\" data-label=\"\"><div
        data-type=\"title\" class=\"title\">Section Learning Objectives</div>\n<p
        id=\"fs-idm23421280\">By the end of this section, you will be able to:</p>\n<ul
        id=\"fs-idp24241232\"><li class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch03-s01-lo01
        ost-tag-teks-112-39-c-4b\">Explain acceleration and determine the direction
        and magnitude of acceleration in one dimension.</li>\n<li class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch03-s01-lo02 ost-tag-teks-112-39-c-4a ost-tag-teks-112-39-c-4b\">Analyze
        motion in one dimension using kinematic equations and graphic representations.</li>\n</ul></div>\n\n<div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-idm5732144\" class=\"note
        os-teacher\" data-label=\"Teacher Edition\">\n<p id=\"fs-idp3095152\">The
        Learning Objectives in this section will help your students master the following
        TEKS:</p>\n<ul id=\"fs-idm6050816\">\n<li class=\"ost-standards-def ost-standards-teks
        ost-tag-teks-112-39-c-4a\"><span class=\"ost-standards-name\">(4A)</span><span
        class=\"ost-standards-discard\">:</span><span class=\"ost-standards-description\">Generate
        and interpret graphs and charts describing different types of motion, including
        the use of real-time technology such as motion detectors or photogates.</span></li>\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4b\"><span
        class=\"ost-standards-name\">(4B)</span><span class=\"ost-standards-discard\">:</span><span
        class=\"ost-standards-description\">Describe and analyze motion in one dimension
        using equations with the concepts of distance, displacement, speed, average
        velocity, instantaneous velocity, and acceleration.</span></li>\n</ul>\n</div>\n\n<table
        id=\"fs-idp26088544\" summary=\"...\" class=\"unnumbered key-terms ost-reading-discard\"
        data-label=\"\"><caption><span data-type=\"title\">Section Key Terms</span></caption><tbody>\n<tr>\n<td>average
        acceleration</td>\n<td>instantaneous acceleration</td>\n<td>negative acceleration</td>\n</tr>\n</tbody></table>\n\n<div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-idp33495232\" class=\"note
        os-teacher\" data-label=\"Teacher Edition\">\n<p id=\"fs-idp6842880\"><span
        class=\"ost-level-below\">[BL]</span><span class=\"ost-level-on\">[OL]</span>
        Begin a general discussion about acceleration and deceleration. Ask for examples
        of both. Explain that deceleration is not used in physics because acceleration
        can be positive or negative. Lead the students to their topics of interest,
        such as motor vehicles or sports. Explain that the capital Greek letter delta
        always means &#8220;final minus initial&#8221; and that the net change may
        be zero, positive, or negative.</p>\n<p id=\"fs-idm13370000\"><span class=\"ost-level-above\">[AL]</span>
        See how much students remember about vectors. What does a vector arrow represent?
        Ask them to name some quantities that are vectors and some that are scalars.</p>\n</div>\n</section>\n\n<section
        data-depth=\"1\" id=\"fs-idm21400512\" class=\"ost-tag-lo-k12phys-ch03-s01-lo01\"><h1
        data-type=\"title\">Defining Acceleration</h1>\n<p id=\"fs-idp32132880\">Throughout
        this chapter we will use the following terms: <em data-effect=\"italics\">time</em>,
        <em data-effect=\"italics\">displacement</em>, <em data-effect=\"italics\">velocity</em>,
        and <em data-effect=\"italics\">acceleration</em>. Recall that each of these
        terms has a designated variable and SI unit of measurement as follows:</p>\n<ul
        id=\"fs-idp27202528\">\n<li><span data-type=\"term\">Time</span>: <em data-effect=\"italics\">t</em>,
        measured in seconds (s)</li>\n<li><span data-type=\"term\">Displacement</span>:
        &#916;<em data-effect=\"italics\">d</em>, measured in meters (m)</li>\n<li><span
        data-type=\"term\">Velocity</span>: <em data-effect=\"italics\">v</em>, measured
        in meters per second (m/s)</li>\n<li><span data-type=\"term\">Acceleration</span>:
        <em data-effect=\"italics\">a</em>, measured in meters per second per second
        (m/s<sup>2</sup>, also called meters per second squared)</li>\n<li>Also note:\n<ul
        id=\"fs-idm15527984\">\n<li>&#916; means &#8220;change in.&#8221;</li>\n<li>The
        subscript &#8220;0&#8221; refers to an initial value (sometimes subscript
        &#8220;i&#8221; is used to refer to initial value).</li>\n<li>The subscript
        &#8220;f&#8221; refers to final value.</li>\n<li>A bar over a symbol, such
        as <math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"inline\"><semantics><mrow><mover
        accent=\"true\"><mi>a</mi>\n<mo>&#175;</mo></mover></mrow><annotation-xml
        encoding=\"MathML-Content\"><mover accent=\"true\"><mi>a</mi>\n<mo>&#175;</mo></mover></annotation-xml></semantics></math>,
        means &#8220;average.&#8221;</li>\n</ul>\n</li>\n</ul>\n\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-idm20606336\" class=\"note os-teacher\" data-label=\"Teacher
        Edition\">\n<p id=\"fs-idm21364672\"><span class=\"ost-level-below\">[BL]</span>
        Review the definitions of the terms: <em data-effect=\"italics\">time</em>,
        <em data-effect=\"italics\">displacemen[...]
