---
http_interactions:
- request:
    method: get
    uri: https://archive-staging.cnx.org/contents/d7290d42-6efd-4a78-b863-eb5861e630c1@4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"lengFrvVt3J/oXPlei/+Hw"'
      Link:
      - <https://staging.cnx.org/contents/d380510e-6145-4625-b19a-4fa68204b6b1:d7290d42-6efd-4a78-b863-eb5861e630c1/Introduction>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - staging08_archive4
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "metadata title
        space", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2020-05-22T19:47:47Z",
        "printStyle": null, "roles": null, "keywords": ["social entrepreneur", "lifestyle
        venture", "entrepreneurial vision", "entrepreneurial venture", "entrepreneurial
        mindset", "disruptive technologies", "career entrepreneur", "serial entrepreneur",
        "vision statement", "mission statement", "entrepreneur", "divergent thinking"],
        "id": "d7290d42-6efd-4a78-b863-eb5861e630c1", "canonical": "d380510e-6145-4625-b19a-4fa68204b6b1",
        "title": "Introduction ", "mediaType": "application/vnd.org.cnx.module", "canon_url":
        "https://staging.cnx.org/contents/d380510e-6145-4625-b19a-4fa68204b6b1:d7290d42-6efd-4a78-b863-eb5861e630c1/Introduction",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2018/11/27 14:52:37 -0600\"/><meta name=\"revised-time\" content=\"2019/12/10
        14:40:22.919 US/Central\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta
        name=\"licensor\" content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"career entrepreneur, disruptive technologies,
        divergent thinking, entrepreneur, entrepreneurial mindset, entrepreneurial
        venture, entrepreneurial vision, lifestyle venture, mission statement, serial
        entrepreneur, social entrepreneur, vision statement\"/><meta name=\"subject\"
        content=\"Mathematics and Statistics\"/><meta name=\"subject\" content=\"Mathematics
        and Statistics\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        xmlns:epub=\"http://www.idpf.org/2007/ops\" class=\"introduction\" data-cnxml-to-html-ver=\"2.0.0\"><div
        data-type=\"document-title\">Introduction</div><cnx-pi data-type=\"cnx.flag.introduction\">\n        class=\"introduction\"\n      </cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"section-summary\" title=\"Summary\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"key-terms\" title=\"Key Terms\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"review-questions\" title=\"Review Questions\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"discussion-questions\" title=\"Discussion Questions\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"case-questions\" title=\"Case Questions\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"suggested-resources\" title=\"Suggested Resources\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"references\" title=\"References\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"figure-credits\" title=\"Figure Credits\"</cnx-pi>\n<figure
        id=\"OSX_Eship_01_00_Algae\" class=\"splash\"><figcaption>Phil Libin, former
        CEO of Evernote, discusses his product. Evernote is an app that allows users
        to create notes in a variety of formats and save and share them across platforms.
        (credit (a): modification of &#8220;Phil Libin and Loic Le Meur - LeWeb Day
        1 - Dan Taylor/Heisenberg Media&#8221; by Heisenberg Media/Flickr, CC BY 2.0;
        credit (b): modification of &#8220;screenshot of the old Evernote iPhone app&#8221;
        by Jason Jones/Flickr, CC BY 2.0)</figcaption><span data-type=\"media\" id=\"fs-idm364079856\"
        data-alt=\"Photo of two men talking (left); on the right is a screenshot of
        an app with the words New Note at the top, with options for text, snapshot,
        camera roll, and voice.\">\n<img src=\"/resources/7ffe3141b66a07b02254486248bdfa999a756ce1/OSX_Eship_01_00_Algae.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Photo of two men talking (left); on the
        right is a screenshot of an app with the words New Note at the top, with options
        for text, snapshot, camera roll, and voice.\"/>\n</span>\n\n</figure><p id=\"fs-idm348624928\">Phil
        <span data-type=\"term\" class=\"no-emphasis\">Libin</span>, cofounder and
        former CEO of <span data-type=\"term\" cl[...]
