---
http_interactions:
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@5.63.json"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 08 Jul 2015 18:44:54 GMT
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@5.63.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "5.63", "submitlog": "applied ccap
        biology template ", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-06-29T18:04:04Z", "printStyle": null, "roles": null, "keywords":
        [], "id": "ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7", "title": "AP Biology", "mediaType":
        "application/vnd.org.cnx.collection", "subjects": ["Science and Technology"],
        "legacy_id": "col10038", "parentId": null, "publishers": [{"surname": "APBio",
        "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor APBio",
        "id": "tutor_apbio"}], "parent": {"authors": [], "version": "", "id": null,
        "title": null}, "stateid": 1, "parentTitle": null, "authors": [{"surname":
        "APBio", "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor
        APBio", "id": "tutor_apbio"}], "parentVersion": "", "legacy_version": "1.5",
        "licensors": [{"surname": "APBio", "suffix": null, "firstname": "Tutor", "title":
        "", "fullname": "Tutor APBio", "id": "tutor_apbio"}], "language": "en", "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Attribution"}, "created": "2015-06-16T15:17:51Z", "tree":
        {"id": "ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@5.63", "contents": [{"id": "subcol",
        "contents": [{"id": "subcol", "contents": [{"id": "dc74b6ed-d06a-4fef-8479-8eefd058b59a@23",
        "title": "Introduction"}, {"id": "4d5fc58c-cdea-4950-a91d-a5f141a38744@29",
        "title": "The Science of Biology"}, {"id": "cb7cf05b-7e16-4a53-a498-003b01ec3d7f@24",
        "title": "Themes and Concepts of Biology"}], "title": "The Study of Life"},
        {"id": "subcol", "contents": [], "title": "The Chemical Foundation of Life"},
        {"id": "subcol", "conten[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/dc74b6ed-d06a-4fef-8479-8eefd058b59a@23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-3", "version": "23", "submitlog":
        "Modified", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch01-s01-lo01,apbio-ch01-s01-lo02,apbio-ch01-s01-aplo-2-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"3fd7ae5788143cb9fd774f2375295bfb"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MzAsIml0ZW1zIjpbeyJ1aWQiOiI2MDVAMiIsIm51
        bWJlciI6NjA1LCJ2ZXJzaW9uIjoyLCJwdWJsaXNoZWRfYXQiOiIyMDE1LTA3
        LTA4VDE4OjE3OjM4LjU1OVoiLCJlZGl0b3JzIjpbXSwiYXV0aG9ycyI6W3si
        dXNlcl9pZCI6MSwibmFtZSI6Ik9wZW5TdGF4In1dLCJjb3B5cmlnaHRfaG9s
        ZGVycyI6W3sidXNlcl9pZCI6MiwibmFtZSI6IlJpY2UgVW5pdmVyc2l0eSJ9
        XSwiZGVyaXZlZF9mcm9tIjpbXSwiYXR0YWNobWV[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/cb7cf05b-7e16-4a53-a498-003b01ec3d7f@24
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "24", "submitlog": "Modified",
        "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-06-26T08:20:46Z",
        "printStyle": null, "roles": null, "keywords": ["zoology", "tissue", "prokaryote",
        "population", "phylogeny", "phylogenetic tree", "paleontology", "organ system",
        "organism", "organelle", "organ", "neurobiology", "molecule", "molecular biology",
        "microbiology", "macromolecule", "life", "homeostasis", "evolution", "eukaryote",
        "ecosystem", "community", "cell", "Carl Woese", "botany", "biosphere", "biology",
        "biochemistry", "atom"], "id": "cb7cf05b-7e16-4a53-a498-003b01ec3d7f", "title":
        "Themes and Concepts of Biology", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Themes and Concepts of Biology</title><meta
        name=\"created-time\" content=\"2015/04/21 10:25:26 -0500\"/><meta name=\"revised-time\"
        content=\"2015/06/26 03:20:46.280 GMT-5\"/><meta name=\"author\" content=\"tutor_apbio\"/><meta
        name=\"licensor\" content=\"tutor_apbio\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"atom, biochemistry, biology, biosphere, botany,
        Carl Woese, cell, community, ecosystem, eukaryote, evolution, homeostasis,
        life, macromolecule, microbiology, molecular biology, molecule, neurobiology,
        organ, organelle, organism, organ system, paleontology, phylogenetic tree,
        phylogeny, population, prokaryote, tissue, zoology\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Themes and Concepts of Biology</div>\n<section
        data-depth=\"1\" id=\"fs-id1167066857224\" class=\"learning-objectives\">\n<p
        id=\"fs-id1167066808654\">By the end of this section, you will be able to:</p>\n<ul
        id=\"fs-id1167066852444\">\n<li class=\"ost-learning-objective-def ost-tag-lo-apbio-ch01-s02-lo01\">Identify
        and describe the properties of life</li>\n<li class=\"ost-learning-objective-def
        ost-tag-lo-apbio-ch01-s02-lo02\">Describe the levels of organization among
        living things</li>\n<li class=\"ost-learning-objective-def ost-tag-lo-apbio-ch01-s02-lo03\">Recognize
        and interpret a phylogenetic tree</li>\n</ul>\n</section>\n<section data-depth=\"1\"
        id=\"fs-id1167066854039\" class=\"ap-connection\"><h1 data-type=\"title\">Connection
        for AP<sup>&#174;</sup> Courses</h1><p id=\"fs-id1167066831692\">The AP<sup>&#174;</sup>
        Biology curriculum is organized around four major themes called the Big Ideas
        that apply to all levels of biological organization&#8212;from molecules and
        cells to populations and ecosystems. Each Big Idea identifies key concepts
        called Enduring Understandings, and Essential Knowledges, along with supporting
        examples. Simple descriptions define the focus of each Big Idea: Big Ide[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch01-s02-lo01,apbio-ch01-s02-lo02,apbio-ch01-s02-lo03,apbio-ch01-s02-aplo-1-14,apbio-ch01-s02-aplo-1-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4c15ae680ae654ac0a33f6c5eaa53e85"
    body:
      e[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch03-s01-lo01,apbio-ch03-s01-lo02,apbio-ch03-s01-aplo-1-27,apbio-ch03-s01-aplo-1-28
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"2405357a61e893700563504b65a08a56"
    body:
      encoding: ASCII-8BIT
[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch03-s02-lo01,apbio-ch03-s02-lo02,apbio-ch03-s02-lo03,apbio-ch03-s02-aplo-4-1,apbio-ch03-s02-aplo-4-2,apbio-ch03-s02-aplo-4-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"8c22ba172aa531105725435f81ddb[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch03-s03-lo01,apbio-ch03-s03-lo02,apbio-ch03-s03-lo03,apbio-ch03-s03-lo04,apbio-ch03-s03-lo05,apbio-ch03-s03-lo06,apbio-ch03-s03-aplo-4-1,apbio-ch03-s03-aplo-4-2,apbio-ch03-s03-aplo-4-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      -[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:apbio-ch03-s04-lo01,apbio-ch03-s04-lo02,apbio-ch03-s04-lo03,apbio-ch03-s04-lo04,apbio-ch03-s04-aplo-4-1,apbio-ch03-s04-aplo-4-2,apbio-ch03-s04-aplo-4-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"c376176db[...]
[...]
