# Copyright 2011-2013 Rice University. Licensed under the Affero General Public 
# License version 3 or later.  See the COPYRIGHT file for details.

# language: ruby
# rvm:
#   - "1.8.7"
#   - "1.9.2"
#   - "1.9.3"
#   - jruby-18mode # JRuby in 1.8 mode
#   - jruby-19mode # JRuby in 1.9 mode
#   - rbx-18mode
#   - rbx-19mode
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec

language: ruby
rvm:
  - "2.1.2"
env:
  - DB=mysql
script:
  - RAILS_ENV=test bundle exec rake --trace db:migrate spec
branches:
  only:
    - master
before_script:
  - gem install mysql2
  - mysql -e 'create database ost_test'
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
  - cp config/secrets.yml.example config/secrets.yml

