# Copyright 2011-2015 Rice University. Licensed under the Affero General Public
# License version 3 or later.  See the COPYRIGHT file for details.

# language: ruby
# rvm:
#   - "1.8.7"
#   - "1.9.2"
#   - "1.9.3"
#   - jruby-18mode # JRuby in 1.8 mode
#   - jruby-19mode # JRuby in 1.9 mode
#   - rbx-18mode
#   - rbx-19mode
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
sudo: false
dist: trusty
language: ruby
rvm:
  - '2.3.6'
cache: bundler
bundler_args: --without production --retry=6
addons:
 postgresql: '9.5'
env:
  - TAG=~speed:slow
  - TAG=speed:slow
script:
  - bundle exec parallel_rspec -o "-t $TAG" ./spec
branches:
  only:
    - master
    - alpha
    - beta
    - lms
    - /^int-.*$/
    - /^release-.*$/
before_install:
  - export PATH=$PWD/travis_phantomjs/phantomjs-2.1.1-linux-x86_64/bin:$PATH
  - >-
    if [ $(phantomjs --version) != '2.1.1' ]; then
      rm -rf $PWD/travis_phantomjs;
      mkdir -p $PWD/travis_phantomjs;
      wget https://assets.membergetmember.co/software/phantomjs-2.1.1-linux-x86_64.tar.bz2
      -O $PWD/travis_phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2;
      tar -xvf $PWD/travis_phantomjs/phantomjs-2.1.1-linux-x86_64.tar.bz2 -C $PWD/travis_phantomjs;
    fi
before_script:
  - export OXT_DB_USER=postgres
  - export OXT_DB_PASS=
  - export OXT_TEST_DB=travis_ci_test
  - export PARALLEL_TEST_PROCESSORS=2
  - export DEMO_MAX_PROCESSES=0
  - bundle exec rake --trace parallel:create parallel:load_schema parallel:seed
