# Copyright 2011-2015 Rice University. Licensed under the Affero General Public
# License version 3 or later.  See the COPYRIGHT file for details.

# language: ruby
# rvm:
#   - "1.8.7"
#   - "1.9.2"
#   - "1.9.3"
#   - jruby-18mode # JRuby in 1.8 mode
#   - jruby-19mode # JRuby in 1.9 mode
#   - rbx-18mode
#   - rbx-19mode
# uncomment this line if your project needs to run something other than `rake`:
# script: bundle exec rspec spec
sudo: false
language: ruby
rvm:
  - "2.2.3"
cache: bundler
bundler_args: --without production --retry=6
addons:
 postgresql: "9.4"
script:
  - bundle exec parallel_rspec ./spec
branches:
  only:
    - master
    - alpha
    - beta
before_script:
  - export OXT_DB_USER=postgres
  - export OXT_DB_PASS=
  - export OXT_TEST_DB=travis_ci_test
  - export PARALLEL_TEST_PROCESSORS=2
  - export DEMO_MAX_PROCESSES=0
  - bundle exec rake --trace parallel:create parallel:load_schema parallel:seed
before_install:
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"
after_script:
  # Report coverage to codecov
  - bash <(curl -s https://codecov.io/bash)
