---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f@2.1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '313'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "2.1", "submitlog": "mini", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">Biology is designed for
        multi-semester biology courses for science majors. It is grounded on an evolutionary
        basis and includes exciting features that highlight careers in the biological
        sciences and everyday applications of the concepts at hand. To meet the needs
        of today&#8217;s instructors and students, some content has been strategically
        condensed while maintaining the overall scope and coverage of traditional
        texts for this course. Instructors can customize the book, adapting it to
        the approach that works best in their classroom. Biology also includes an
        innovative art program that incorporates critical thinking and clicker questions
        to help students understand&#8212;and apply&#8212;key concepts.</div>", "revised":
        "2015-10-29T16:29:45Z", "printStyle": "ccap-biology", "roles": "{''translators'':[''openstaxalina'']}",
        "keywords": ["cells", "DNA", "gene expression", "phylogeny", "conservation",
        "biodiversity", "biology", "chemistry", "evolution", "proteins", "bacteria",
        "fungi", "cell membranes", "inheritance", "physiology", "ecology", "genetics",
        "biotechnology", "biosphere", "photosynthesis", "biological molecules", "cell
        structure", "metabolism", "cellular respiration", "genes", "cell communication",
        "cell reproduction", "meiosis", "sexual reproduction", "genomics", "study
        of life", "cell function", "animal diversity", "animal reproduction", "plant
        nutrition", "soil", "seedless plants", "plant physiology", "plant reproduction",
        "animal body", "circulatory system", "digestive system", "endocrine system",
        "nervous system", "respiratory system", "origin of species", "ecosystems",
        "archaea", "sensory system", "osmotic regulation", "immune system", "vertebrates",
        "virus", "population ecology", "musculoskeletal system", "behavioral biology",
        "animal biology", "animal physiology", "biology for majors", "college biology",
        "eukaryotes", "invertebrates", "macromolecules", "plant biology", "population
        evolution", "prokaryotes", "protists", "seed plants"], "id": "f10533ca-f803-490d-b935-88899941197f",
        "title": "Mini CC Biology Tes Coll", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Science and Technology"], "legacy_id": "col11900", "parentId":
        "185cbf87-c72e-48f5-b51e-f14f21b5eabd", "publishers": [{"surname": "feng",
        "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy feng",
        "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}, {"surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": null, "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "parent": {"authors": [{"surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "fullname": "OpenStax",
        "id": "OpenStaxCollege"}], "shortId": "GFy_h8cu", "version": "9.87", "id":
        "185cbf87-c72e-48f5-b51e-f14f21b5eabd", "title": "Biology"}, "stateid": 1,
        "parentTitle": "Biology", "shortId": "8QUzyvgD", "authors": [{"surname": "feng",
        "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy feng",
        "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}], "parentVersion":
        "9.87", "legacy_version": "1.2", "licensors": [{"surname": "feng", "suffix":
        null, "firstname": "wendy", "title": "", "fullname": "wendy feng", "id": "wendyfeng"},
        {"surname": "Slavik", "suffix": "", "firstname": "Alina", "title": "", "fullname":
        "Alina Slavik", "id": "openstaxalina"}], "language": "en", "license": {"url":
        "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version": "4.0",
        "name": "Creative Commons Attribution License"}, "created": "2012-08-22T18:43:24Z",
        "tree": {"shortId": "8QUzyvgD@2.1", "id": "f10533ca-f803-490d-b935-88899941197f@2.1",
        "contents": [{"shortId": "subcol", "id": "subcol", "contents": [{"shortId":
        "subcol", "id": "subcol", "contents": [{"shortId": "rZudN6XP@2", "id": "ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2",
        "title": "Introduction"}, {"shortId": "agVo2CPX@12", "id": "6a0568d8-23d7-439b-9a01-16e4e73886b3@12",
        "title": "The Science of Biology"}], "title": "The Study of Life"}, {"shortId":
        "subcol", "id": "subcol", "contents": [{"shortId": "djajv-uA@2", "id": "7636a3bf-eb80-4898-8b2c-e81c1711b99f[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '95454'
    body:
      encoding: UTF-8
      string:[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/6a0568d8-23d7-439b-9a01-16e4e73886b3@12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '95454'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-3", "version": "12", "submitlog":
        "errata report 797", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">By
        the end of this section, you will be able to:\n<ul>\n<li>Identify the shared
        characteristics of the natural sciences</li>\n<li>Summarize the steps of the
        scientific method</li>\n<li>Compare inductive reasoning with deductive reasoning</li>\n<li>Describe
        the goals of basic science and applied science</li>\n</ul></div>", "revised":
        "2015-05-13T17:57:57Z", "printStyle": null, "roles": null, "keywords": ["introduction",
        "control", "abstract", "variable", "results", "conclusion", "theory", "science",
        "biology", "discussion", "experiment", "life", "hypothesis", "plagiarism",
        "life science", "scientific method", "applied science", "basic science", "deductive
        reasoning", "descriptive science", "falsifiable", "hypothesis-based science",
        "inductive reasoning", "materials and methods", "natural sciences", "peer-reviewed",
        "physical science", "review article", "scientific reasoning", "serendipity"],
        "id": "6a0568d8-23d7-439b-9a01-16e4e73886b3", "title": "The Science of Biology",
        "mediaType": "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>The
        Science of Biology</title><meta name=\"created-time\" content=\"2012/08/22
        14:06:58 -0500\"/><meta name=\"revised-time\" content=\"2015/05/13 12:57:57.339
        GMT-5\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta name=\"licensor\"
        content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"abstract, applied science, basic science, biology,
        conclusion, control, deductive reasoning, descriptive sci[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=id:2933@2,2934@2,2935@2,2936@2,2937@2,2938@2,2939@2,2940@2,2941@2,2942@2,2943@2,2944@2,2945@2,2946@2,2947@2,2948@2,2949@2,2950@2,2951@2,2952@2,2953@2,2954@2,2955@2,2956@2,2957@2,2958@2,2959@2,2960@2,2961@2,2962@2,2963@2,2964@2,2965@2,2966@2,2967@2,2968@2,2969@2,2970@2,2971@2,2972@2,2973@2,2974@2,2975@2,2976@2,2977@2,2978@2,2979@2,2980@2,2981@2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"fc8ae2d471f7468b76e540b8f694c4c3"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6NDksIml0ZW1zIjpbeyJ0YWdzIjpbImJvb2s6c3Rh
        eC1iaW8iLCJsbzpzdGF4LWJpbzoxLTEtMSIsInR5cGU6Y29uY2VwdC1jb2Fj
        aCIsImV4aWQ6c3RheC1iaW86NCIsImRvazoyIiwiYmxvb21zOjIiLCJ0aW1l
        OnNob3J0IiwiY254bW9kOmFkOWI5ZDM3LWE1Y2YtNGEwZC1iOGMxLTA4M2Zj
        YzRkM2IwYyJdLCJ1aWQiOiIyOTMzQDIiLCJudW1iZXIiOjI5MzMsInZlcnNp
        b24iOjIsInB1Ymxpc2hlZF9hdCI6IjIwMTUtMTE[...]
