---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.57
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '395661'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "4.57", "submitlog": "added final
        module of chapter", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-04-02T16:27:54Z", "roles": null, "keywords": [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58",
        "title": "Updated Tutor HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "stateid": 1, "parentTitle": null, "maintainers":
        [{"website": "", "surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "othername": "", "email": "alinams@rice.edu", "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "authors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "parentVersion":
        "", "legacy_version": "1.4", "licensors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "language": "en",
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.57",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@7",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@18",
        "title": "Force"}, {"id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd@21", "title":
        "Newton''s First Law of Motion: Inertia"}, {"id": "d60a912c-83cf-443a-a6c2-3dd95545e7d4@14",
        "title": "Newton''s Second Law of Motion:"}, {"id": "26906559-5f4c-4b41-8c23-3380fec28355@9",
        "title": "Newton''s Third Law of Motion"}], "title": "Forces and Newton''s
        Laws of Motion"}], "title": "Updated Tutor HS Physics Content - legacy"},
        "doctype": "", "buyLink": null, "submitter": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}, "parentAuthors":
        [], "history": [{"changes": "added final module of chapter", "version": "4.57",
        "revised": "2015-04-02T16:27:54Z", "publisher": {"website": "", "surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "othername": "",
        "email": "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}},
        {"changes": "added final module of chapter", "version": "4.56", "revised":
        "2015-04-02T16:03:49Z", "publisher": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slav[...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '424888'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "7", "submitlog": "removed incorrect
        section tag around splash image", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-03-31T20:22:11Z", "roles": null, "keywords": [], "id": "1491e74e-ed39-446f-a602-e7ab881af101",
        "title": "Introduction", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2015/03/05 08:26:29 -0600\"/><meta name=\"revised-time\" content=\"2015/03/31
        15:22:11.408 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Introduction</div>\n<?cnx.eoc class=\"summary\"
        title=\"Section Summary\"?> \n<?cnx.eoc class=\"key-equations\" title=\"Key
        Equations\"?>  \n<?cnx.eoc class=\"concept\" title=\"Concept Items\"?>\n<?cnx.eoc
        class=\"critical-thinking\" title=\"Critical Thinking Items\"?>\n<?cnx.eoc
        class=\"problem\" title=\"Problems\"?>\n<?cnx.eoc class=\"performance\" title=\"Performance
        Task\"?>\n<?cnx.eoc class=\"multiple-choice\" title=\"Multiple Choice \"?>\n<?cnx.eoc
        class=\"short-answer\" title=\"Short Answer\"?>\n<?cnx.eoc class=\"extended-response\"
        title=\"Extended Response\"?>\n\n<figure id=\"fs-idp30390784\" class=\"splash\"><figcaption>Newton&#8217;s
        laws of motion describe the motion of the dolphin&#8217;s path. (credit: Jin
        Jang)</figcaption><span data-type=\"media\" id=\"fs-idp23649424\" data-alt=\"Alt
        text\"><img src=\"/resources/a99cf4ac886581d4f905dfa768c26219/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure>\n<div data-type=\"note\"
        id=\"eip-105\" class=\"os-teacher\" data-label=\"Teacher Edition\">\n<p id=\"eip-idp140653684147760\">Before
        students begin this chapter, they may wish to review the concepts of distance,
        displacement, speed, velocity, acceleration, scalars, vectors, representing
        vectors, units of[...]
[...]
- request:
    method: get
    uri: 'http://exercises-dev1.openstax.org/api/exercises?q=tag:'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://exercises-dev1.openstax.org/api/exercises?q=tag%3A
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 21 Apr 2015 13:28:44 GMT
- request:
    method: get
    uri: 'https://exercises-dev1.openstax.org/api/exercises?q=tag:'
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"94e4d18c45f17112272ac8b4af7759cb"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MTI4LCJpdGVtcyI6W3sidWlkIjoiMUAxIiwibnVt
        YmVyIjoxLCJ2ZXJzaW9uIjoxLCJwdWJsaXNoZWRfYXQiOiIyMDE1LTA0LTA2
        VDE4OjMwOjU5LjcwNFoiLCJlZGl0b3JzIjpbXSwiYXV0aG9ycyI6W3sidXNl
        cl9pZCI6MX1dLCJjb3B5cmlnaHRfaG9sZGVycyI6W3sidXNlcl9pZCI6Mn1d
        LCJkZXJpdmVkX2Zyb20iOltdLCJhdHRhY2htZW50cyI6W10sInRhZ3MiOlsi
        azEycGh5cy1jaDA0LXMwMS1sbzAxIiwiazEycGh[...]
- request:
    method: get
    uri: http://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-s01-lo01,k12phys-ch04-s01-lo02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://exercises-dev1.openstax.org/api/exercises?q=tag%3Ak12phys-ch04-s01-lo01%2Ck12phys-ch04-s01-lo02
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 21 Apr 2015 13:29:10 GMT
- request:
    method: get
    uri: https://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-s01-lo01,k12phys-ch04-s01-lo02
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"b7aebda3294272a01f24f4abb168c83a"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9j[...]
[...]
