<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script>
      var msg = <%=raw json_escape @status.to_json %>;
      window.parent.postMessage( JSON.stringify({
        sourceWindowName: 'OxAccountIframe', data: { onLogin: msg}
      }), '<%= @iframe_origin %>' );
    </script>
  </head>
  <body>
  </body>
</html>
