<!DOCTYPE html>
<html>
  <head>
    <script>
      var msg = <%=raw json_escape @status.to_json %>;
      window.parent.postMessage( JSON.stringify({ data: { onLogin: msg}}), '<%= @iframe_origin %>' );
    </script>
  </head>
  <body>
  </body>
</html>
