<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <script>
      window.parent.postMessage( JSON.stringify({'data': {'logoutComplete': true}}), '<%= params[:parent] %>' );
    </script>
  </head>
  <body>
  </body>
</html>
