---
http_interactions:
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/3005b86b-d993-4048-aff0-500256001f42
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/3005b86b-d993-4048-aff0-500256001f42@7.json"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Mon, 04 Apr 2016 21:53:52 GMT
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/3005b86b-d993-4048-aff0-500256001f42@7.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "7", "submitlog": "fixed cnxml
        error in 5th kinematic equation", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-06-11T17:28:18Z", "printStyle": null, "roles": null, "keywords":
        ["velocity", "kinematic equations", "displacement", "constant acceleration",
        "acceleration due to gravity"], "id": "3005b86b-d993-4048-aff0-500256001f42",
        "title": "Representing Acceleration with Equations and Graphs", "mediaType":
        "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Representing
        Acceleration with Equations and Graphs</title><meta name=\"created-time\"
        content=\"2015/05/29 14:08:37 -0500\"/><meta name=\"revised-time\" content=\"2015/06/11
        12:28:18.574 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"acl-list\" content=\"tutor_hsphysics\"/><meta name=\"licensor\" content=\"tutor_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"acceleration due to gravity, constant acceleration,
        displacement, kinematic equations, velocity\"/><meta name=\"subject\" content=\"Science
        and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Representing Acceleration with Equations and
        Graphs</div>\n<section data-depth=\"1\" id=\"fs-idm10667024\" class=\"section-opener\">\n<div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-idm254736\" class=\"note
        learning-objectives\" data-label=\"\"><div data-type=\"title\" class=\"title\">Section
        Learning Objectives</div>\n<p id=\"fs-idp37274960\">By the end of this section,
        you will be able to:</p>\n<ul id=\"fs-idp9734704\">\n<li class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch03-s02-lo01 ost-tag-teks-112-39-c-4a ost-tag-teks-112-39-c-4b\">Explain
        the kinematic equations related to acceleration and illustrate them with graphs.</li>\n<li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch03-s02-lo02 ost-tag-teks-112-39-c-4a
        ost-tag-teks-112-39-c-4b\">Apply the kinematic equations and related graphs
        to problems involving acceleration.</li>\n</ul>\n</div>\n\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-idp13564336\" class=\"note os-teacher\" data-label=\"Teacher
        Support\">\n<p id=\"fs-idp5402128\">The Learning Objectives in this section
        will help your students master the following TEKS:</p>\n<ul id=\"fs-idp45700976\">\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4a\"><span
        class=\"ost-standards-name\">(4A)</span><span class=\"ost-standards-discard\">:</span><span
        class=\"ost-standards-description\">Generate and interpret graphs and charts
        describing different types of motion, including the use of real-time technology
        such as motion detectors or photogates.</span></li>\n<li class=\"ost-standards-def
        ost-standards-teks ost-tag-teks-112-39-c-4b\"><span class=\"ost-standards-name\">(4B)</span><span
        class=\"ost-standards-discard\">:</span><span class=\"ost-standards-description\">Describe
        and analyze motion in one dimension using equations with the concepts of distance,
        displacement, speed, average velocity, instantaneous velocity, and acceleration.</span></li>\n</ul>\n</div><table
        id=\"fs-idp5115072\" summary=\"The list of Key Terms includes: acceleration
        due to gravity, kinematic equations, and uniform acceleration.\" class=\"key-terms
        ost-reading-discard unnumbered\" data-label=\"\"><caption><span data-type=\"title\">Section
        Key Terms</span></caption><tbody>\n<tr>\n<td>acceleration due to gravity</td>\n<td>kinematic
        equations</td>\n<td>uniform acceleration</td>\n</tr>\n</tbody></table><div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-idm39794096\" class=\"note
        os-teacher\" data-label=\"Teacher Support\">\n<p id=\"fs-idm19461376\"><span
        class=\"ost-level-below\">[BL]</span> Briefly review displacement, time, velocity,
        and acceleration; their variables, and their units.</p>\n<p id=\"fs-idp12605072\"><span
        class=\"ost-level-on\">[OL]</span><span class=\"ost-level-above\">[AL]</span>
        Explain that this section introduces five equations that allow us to solve
        a wider range of problems than just finding acceleration from time and velocity.
        Review graphical analysis, including axes, algebraic signs, how to designate
        points on a coordinate plane, i.e., (<em data-effect=\"italics\">x</em>, <em
        data-effect=\"italics\">y</em>), slopes and intercepts. Explain that these
        equations can also be represented graphically.</p>\n</div></section>\n\n<section
        data-depth=\"1\" id=\"fs-idm57946960\" class=\"ost-tag-lo-k12phys-ch03-s02-lo01\"><h1
        data-type=\"title\">How the Kinematic Equations are Related to Acceleration</h1><p
        id=\"fs-idm7760528\">We are studying concepts related to motion: time, displacement,
        <span data-type=\"term\" class=\"no-emphasis\">velocity</span>, and&#8212;especially&#8212;acceleration.
        We are only concerned with motion in one dimension. The <span data-type=\"term\">kinematic
        equations</span> apply to conditions of constant acceleration and show how
        these concepts are related. <span data-type=\"term\">Constant acceleration</span>
        is acceleration that does not change over time. The first kinematic equation
        relates displacement <em data-effect=\"italics\">d</em>, average velocity
        <math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"inline\"><semantics><mrow>\n<mover
        accent=\"true\">\n<mi>v</mi>\n<mo>&#175;</mo>\n</mover>\n</mrow><annotation-xml
        encoding=\"MathML-Content\"><mover accent=\"true\">\n<mi>v</mi>\n<mo>&#175;</mo>\n</mover></annotation-xml></semantics></math>,
        and time <em data-effect=\"italics\">t</em>.</p><p id=\"fs-123456789\"><span
        data-type=\"title\">Equation 1</span><div data-type=\"equation\" id=\"fs-idp25918192\"
        class=\"equation ost-tag-lo-k12phys-ch03-s02-lo01 unnumbered\" data-label=\"\"><math
        xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"block\"><semantics><mrow>\n\t\t<mrow>\n\t\t\t<mi>d</mi><mo>=</mo><msub><mi>d</mi><mn>0</mn></msub>\n\t\t\t<mo>+</mo><mover
        accent=\"true\">   <mi>v</mi><mo>&#175;</mo></mover><mi>t</mi><mspace width=\"0.25\"/>\n\t\t\t<mtext>,
        the initial displacement</mtext><mspace width=\"0.25\"/><msub><mi>d</mi><mn>0</mn>  </msub><mspace
        width=\"0.25\"/><mtext>is often 0, in which case the equation can be written
        as</mtext><mspace width=\"0.25\"/>\n  <mover accent=\"true\">\n   <mi>v</mi>\n   <mo>&#175;</mo>\n  </mover>\n  <mo>=</mo><mfrac>\n   <mi>d</mi>\n   <mi>t</mi>\n  </mfrac>\n
        </mrow>\n</mrow><annotation-xml encoding=\"MathML-Content\"><mrow>\n\t\t\t<mi>d</mi><mo>=</mo><msub><mi>d</mi><mn>0</mn></msub>\n\t\t\t<mo>+</mo><mover
        accent=\"true\">   <mi>v</mi><mo>&#175;</mo></mover><mi>t</mi><mspace width=\"0.25\"/>\n\t\t\t<mtext>,
        the initial displacement</mtext><mspace width=\"0.25\"/><msub><mi>d</mi><mn>0</mn>  </msub><mspace
        width=\"0.25\"/><mtext>is often 0, in which case the equation can be written
        as</mtext><mspace width=\"0.25\"/>\n  <mover accent=\"true\">\n   <mi>v</mi>\n   <mo>&#175;</mo>\n  </mover>\n  <mo>=</mo><mfrac>\n   <mi>d</mi>\n   <mi>t</mi>\n  </mfrac>\n
        </mrow></annotation-xml></semantics></math>\n</div></p><p id=\"fs-idp18709056\">This
        equation says that average velocity is <span data-type=\"term\" class=\"no-emphasis\">displacement</span>
        per unit time. We will express velocity in meters per second. If we graph
        displacement versus time, as in the figure below, the slope will be the velocity.
        Whenever a rate, such as velocity, is represented graphically, time is usually
        taken to be the independent variable and is plotted along the <em data-effect=\"italics\">x</em>
        axis.</p><figure id=\"Figure_03_02_displace\" class=\"ost-tag-lo-k12phys-ch03-s02-lo01\"><figcaption>The
        slope of displacement versus time is velocity.</figcaption>\n<span data-type=\"media\"
        id=\"fs-idp23485472\" data-alt=\" A line graph is shown. The x-axis is labeled
        time and includes a directional arrow pointing to the right. The y-axis is
        labeled displacement and includes a directional arrow pointing upward. The
        graphed line shows a directly proportional relationship between time and displacement.\">\n<img
        src=\"/resources/f2c3a95a477b9873c6e[...]
[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/1bb611e9-0ded-48d6-a107-fbb9bd900851@2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "2", "submitlog": "Nothing", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-06-01T15:56:04Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "1bb611e9-0ded-48d6-a107-fbb9bd900851",
        "title": "Introduction", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2015/05/29 14:13:53 -0500\"/><meta name=\"revised-time\" content=\"2015/06/01
        10:56:04.060 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"acl-list\" content=\"tutor_hsphysics\"/><meta name=\"licensor\" content=\"tutor_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Introduction</div>\n<cnx-pi data-type=\"cnx.eoc\">class=\"summary\"
        title=\"Section Summary\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"key-equations\"
        title=\"Key Equations\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"concept\"
        title=\"Concept Items\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"critical-thinking\"
        title=\"Critical Thinking Items\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"problem\"
        title=\"Problems\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class[...]
[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/3005b86b-d993-4048-aff0-500256001f42
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      X-Varnish-Status:
      - cacheable (override) - no Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive3
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        404 Not Found

        The resource could not be found.




  recorded_at: Fri, 12 Feb 2021 18:36:23 GMT
[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/2242a8c5-e8b1-4287-b801-af74ef6f1e5b@7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"YCitj53qg/RgtvwhZd1KKQ"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:2242a8c5-e8b1-4287-b801-af74ef6f1e5b/Kinematics-in-Two-Dimensions:-An-Introduction>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive3
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "7", "submitlog":
        "revised and embedded phet simulations", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"><ul>\n<li>Observe
        that motion in two dimensions consists of horizontal and vertical components.</li>\n<li>Understand
        the independence of horizontal and vertical vectors in two-dimensional motion.</li>\n</ul></div>",
        "revised": "2020-05-05T19:13:42Z", "printStyle": null, "roles": null, "keywords":
        ["Kinematics", "Motion", "Vector", "Pythagorean theorem"], "id": "2242a8c5-e8b1-4287-b801-af74ef6f1e5b",
        "canonical": "405335a3-7cff-4df2-a9ad-29062a4af261", "title": "Kinematics
        in Two Dimensions: An Introduction", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:2242a8c5-e8b1-4287-b801-af74ef6f1e5b/Kinematics-in-Two-Dimensions:-An-Introduction",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Kinematics in Two Dimensions:
        An Introduction</title><meta name=\"created-time\" content=\"2016/05/02 19:12:25
        +0000\"/><meta name=\"revised-time\" content=\"2018/07/25 11[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive1
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3; you should be redirected automatically.

  recorded_at: Sat, 13 Feb 2021 02:15:57 GMT
[...]
