---
http_interactions:
- request:
    method: get
    uri: https://archive-content05.cnx.org/contents/482ba886-c771-4533-96a6-ac6bf1c6889d@3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"v+a2Wz7cE+R2cBz8pkpXaA"'
      Link:
      - <https://content05.cnx.org/contents/669e9ebd-1046-41ed-8296-f64db92fbbed:482ba886-c771-4533-96a6-ac6bf1c6889d/%F0%9F%94%8E-Fort-McHenry-and-the-War-of-1812>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - content05_archive0
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "3", "submitlog": "--", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\" data-cnxml-to-html-ver=\"1.7.3\">By
        the end of this section, you will:\n<ul>\n<li>Explain the causes and effects
        of policy debates in the early republic</li>\n</ul></div>", "revised": "2019-10-19T13:30:38Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "482ba886-c771-4533-96a6-ac6bf1c6889d",
        "canonical": "669e9ebd-1046-41ed-8296-f64db92fbbed", "title": "\ud83d\udd0e
        Fort McHenry and the War of 1812", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://content05.cnx.org/contents/669e9ebd-1046-41ed-8296-f64db92fbbed:482ba886-c771-4533-96a6-ac6bf1c6889d/%F0%9F%94%8E-Fort-McHenry-and-the-War-of-1812",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>&#128270; Fort McHenry and the
        War of 1812</title><meta name=\"created-time\" content=\"2019/09/19 07:21:53
        -0500\"/><meta name=\"revised-time\" content=\"2019/10/19 08:30:38.290 GMT-5\"/><meta
        name=\"author\" content=\"xml_apush\"/><meta name=\"acl-list\" content=\"xml_apush\"/><meta
        name=\"licensor\" content=\"xml_apush\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Social Sciences\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        data-cnxml-to-html-ver=\"1.7.3\"><div data-type=\"document-title\">&#128270;
        Fort McHenry and the War of 1812</div><div data-type=\"abstract\">By the end
        of this section, you will:\n<ul>\n<li>Explain the causes and effects of policy
        debates in the early republic</li>\n</ul></div>\n<table id=\"fs-idm174057600\"
        summary=\"No Summary\" class=\"unnumbered unstyled\" data-label=\"\"><tbody>\n<tr>\n<td>Written
        by: Bill of Rights Institute</td>\n</tr>\n</tbody></table>\n<div data-type=\"note\"
        id=\"fs-idm207485408\" class=\"os-teacher\"><div data-type=\"title\">Standards</div>\n<p
        id=\"fs-idm195721024\"><strong data-effect=\"bold\">Topic</strong>: 4.2 The
        Rise of Political Parties and the Era of Jefferson</p>\n<p id=\"fs-idm214217584\"><strong
        data-effect=\"bold\">Theme</strong>: PCE Politics and Power</p>\n<p id=\"fs-idm226640864\"><strong
        data-effect=\"bold\">Learning Objective</strong>: Unit 4B Explain the causes
        and effects of policy debates in the early republic</p>\n<p id=\"fs-idm192342224\"><strong
        data-effect=\"bold\">Historical Development</strong>: 4.1.I.A</p>\n<p id=\"fs-idm202506160\"><strong
        data-effect=\"bold\">Historical Reasoning Skills</strong>: HTS-2 Sourcing
        and Situation, HTS-3 Source Claims and Evidence, HTS-4 Contextualization,
        HTS-5 Making Connections, HTS-6 Argumentation</p>\n<p id=\"fs-idm222601968\"><strong
        data-effect=\"bold\">Reasoning Processes</strong>: RP-1 Comparison, RP-2 Causation</p>\n</div>\n<div
        data-type=\"note\" id=\"fs-idm207726976\" class=\"os-teacher\"><div data-type=\"title\">Suggested
        Sequencing</div>\n<p id=\"fs-idm221660016\">This Narrative should follow the
        <a href=\"/m78848\" class=\"target-chapter\">Tecumseh and the Prophet</a>
        Narrative and be assigned to students along with the <a href=\"/m78872\" class=\"target-chapter\">Old
        Hickory: Andrew Jackson and the Battle of New Orleans</a> Narrative to paint
        a picture of the War of 1812.</p>\n</div>\n<p id=\"fs-idm195863168\">The War
        of 1812 was begun when Congress declared war on Great Britain for repeatedly
        violating U.S. <span data-type=\"term\">sovereignty</span>. American ships
        were being stopped and their sailors were being impressed into British naval
        service. The war was primarily fought at sea and in Canadian and American
        territory around the Great Lakes.</p>\n<p id=\"fs-idm221259040\">In August
        1814, however, a British fleet sailed up the Chesapeake Bay and unloaded more
        than four thousand British redcoats and marines, who routed American troops
        in an embarrassing[...]
- request:
    method: get
    uri: https://archive-content05.cnx.org/contents/482ba886-c771-4533-96a6-ac6bf1c6889d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      X-Varnish-Status:
      - cacheable (override) - no Cache-Control in backend response
      X-Varnish-Backend:
      - content05_archive0
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        404 Not Found

        The resource could not be found.




  recorded_at: Fri, 12 Feb 2021 18:27:15 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"/EJ79jgscQJhGYALaerOcw"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6/Newton%E2%80%99s-First-Law-of-Motion:-Inerti[...]
