---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20210514.171726/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.46:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Replication-Status:
      - COMPLETED
      Last-Modified:
      - Tue, 18 May 2021 21:13:26 GMT
      Etag:
      - W/"ef785872ab0af76344855d18fef6b693"
      X-Amz-Version-Id:
      - XESQoiYEqkP_4vxRJLtq7pvFGoahLuJ.
    body:
      encoding: ASCII-8BIT
      string: '{"slug": "4-2-newtons-first-law-of-motion-inertia", "title": "Newton\u2019s
        First Law of Motion: Inertia", "abstract": "<ul xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:m=\"http://www.w3.org/1998/Math/MathML\" xmlns:epub=\"http://www.idpf.org/2007/ops\">\n<li>Define
        mass and inertia.</li>\n<li>Understand Newton''s first law of motion.</li>\n</ul>",
        "id": "b0ffd0a2-9c83-4d73-b899-7f2ade2acda6", "revised": "2016-07-08T16:34:03Z",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <head><style>\n            /*
        STYLING_FOR_DEVS */\n            /* Linking to a specific element should highlight
        the element */\n            :target {\n                background-color: #ffffcc;\n                border:
        1px dotted #000000;\n\n                animation-name: cssAnimation;\n                animation-duration:
        10s;\n                animation-timing-function: ease-out;\n                animation-delay:
        0s;\n                animation-fill-mode: forwards;\n            }\n            @keyframes
        cssAnimation {\n                to {\n                    background-color:
        initial;\n                    border: initial;\n                }\n            }\n\n            /*
        Style footnotes so that they stand out */\n            [role=\"doc-footnote\"]
        {\n                background-color: #ffcccc;\n                border: 1px
        dashed #ff0000;\n            }\n            [role=\"doc-footnote\"]:before
        { content: \"FOOTNOTE \" ; }\n\n            /* Show a permalink when hovering
        over a heading or paragraph */\n            *:not(:hover) &gt; a.-dev-permalinker
        { display: none; }\n            * &gt; a.-dev-permalinker {\n                margin-left:
        .1rem;\n                text-decoration: none;\n            }\n        </style><script>//&lt;![CDATA[\n            //
        SCRIPTS_FOR_DEVS\n            window.addEventListener(''load'', () =&gt; {\n                const
        pilcrow = ''\u00b6''\n\n                function addPermalink(parent, id)
        {\n                    const link = window.document.createElement(''a'')\n                    link.classList.add(''-dev-permalinker'')\n                    link.setAttribute(''href'',
        ''#'' + id)\n                    link.textContent = pilcrow\n                    parent.appendChild(link)\n                }\n\n                const
        paragraphs = Array.from(\n                    document.querySelectorAll(''p[id]'')\n                )\n                paragraphs.forEach(p
        =&gt; addPermalink(p, p.getAttribute(''id'')) )\n\n                const headings
        = Array.from(\n                    document.querySelectorAll(\n                        ''*[id]
        &gt; h1, *[id] &gt; h2, *[id] &gt; h3, '' +\n                        ''*[id]
        &gt; h4, *[id] &gt; h5, *[id] &gt; h6''\n                    )\n                )\n                headings.forEach(h
        =&gt; addPermalink(\n                    h, h.parentElement.getAttribute(''id''))\n                )\n            })\n        //
        ]]&gt;</script></head><body><div data-type=\"page\" id=\"b0ffd0a2-9c83-4d73-b899-7f2ade2acda6\"
        data-cnxml-to-html-ver=\"2.1.1\" class=\" chapter-content-module\"><h2 data-type=\"document-title\"
        id=\"0\"><span class=\"os-number\">4.2</span><span class=\"os-divider\"> </span><span
        data-type=\"\" itemprop=\"\" class=\"os-text\">Newton\u2019s First Law of
        Motion: Inertia</span></h2>\n        \n        <p id=\"import-auto-id2654505\"
        class=\" \">Experience suggests that an object at rest will remain at rest
        if left alone, and that an object in motion tends to slow down and stop unless
        some effort is made to keep it moving. What <span data-type=\"term\" id=\"term88\"
        group-by=\"N\">Newton\u2019s first law of motion</span><strong data-effect=\"bold\"><!--
        no-selfclose --></strong> states, however, is the following:</p>\n      \n        \n      \n        <div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-id2690663\" data-label=\"\"><h3
        class=\"os-title\" data-type=\"title\"><span data-type=\"\" id=\"2\" class=\"os-title-label\">Newton\u2019s
        First Law of Motion</span></h3><div class=\"os-note-body\">\n        <p id=\"fs-id1694182\"
        class=\" \">A body at rest remains at rest, or, if in motion, remains in motion
        at a constant velocity unless acted on by a net external force. </p></div></div>\n        \n        <p
        id=\"import-auto-id1741367\" class=\" \">Note the repeated use of the verb
        \u201cremains.\u201d We can think of this law as preserving the status quo
        of motion. </p>\n        \n        <p id=\"import-auto-id1904217\" class=\"
        \">Rather than contradicting our experience, <span data-type=\"term\" id=\"term89\"
        group-by=\"N\">Newton\u2019s first law of motion</span> states that there
        must be a <em data-effect=\"italics\">cause</em> (which is a net external
        force) <em data-effect=\"italics\">for there to be any change in velocity
        (either a change in magnitude or direction)</em>. We will define <em data-effect=\"italics\">net
        external force</em> in the next section. An object sliding across a table
        or floor slows down due to the net force of friction acting on the object.
        If friction disappeared, would the object still slow down?</p><p id=\"import-aut[...]
[...]
