---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=58dd938af25d8456a72c81967a77409557dbc7645e0723498c1de98167ece15d&pool_ids=6b773d80-2ed8-42fa-b998-a3e6c64be5e0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.99675445746666236,
        \n      \"confidence\": {\n        \"left\": 0.9076185031584626, \n        \"right\":
        0.99989584710453328, \n        \"sample_size\": 1, \n        \"unique_learner_count\":
        1\n      }, \n      \"interpretation\": {\n        \"confidence\": \"good\",
        \n        \"level\": \"high\", \n        \"threshold\": \"below\"\n      },
        \n      \"pool_id\": \"26929430-f83f-41ac-8200-373370fe5adb\"\n    }, \n    {\n
        \     \"aggregate\": 0.0032455425333375375, \n      \"confidence\": {\n        \"left\":
        3.3436606254830539e-19, \n        \"right\": 0.99999999999996847, \n        \"sample_size\":
        1, \n        \"unique_learner_count\": 1\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"low\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"6b773d80-2ed8-42fa-b998-a3e6c64be5e0\"\n
        \   }\n  ]\n}"
  recorded_at: Wed, 23 Mar 2016 22:12:42 GMT
recorded_with: VCR 2.9.3
