---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=3e2b893a072fd72bb30c07166f0f2ead21f7fb3753c93a29763a8e6067597e08&pool_ids=dd161d9f-ae44-4b43-ae72-04dc06eb498d
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.95257412682243336,
        \n      \"confidence\": {\n        \"left\": 0.036625846053899999, \n        \"right\":
        0.99990577094004462, \n        \"sample_size\": 1, \n        \"unique_learner_count\":
        1\n      }, \n      \"interpretation\": {\n        \"confidence\": \"bad\",
        \n        \"level\": \"high\", \n        \"threshold\": \"below\"\n      },
        \n      \"pool_id\": \"058547f0-9477-4aea-be23-c2a2f4be9f04\"\n    }, \n    {\n
        \     \"aggregate\": 0.047425873177566781, \n      \"confidence\": {\n        \"left\":
        1.7607135648239901e-07, \n        \"right\": 0.99992897277780357, \n        \"sample_size\":
        1, \n        \"unique_learner_count\": 1\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"low\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"dd161d9f-ae44-4b43-ae72-04dc06eb498d\"\n
        \   }\n  ]\n}"
  recorded_at: Wed, 16 Mar 2016 02:41:06 GMT
recorded_with: VCR 2.9.3
