---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "4.3", "submitlog": "added final
        module of chapter", "abstract": null, "revised": "2015-03-16T16:30:01Z", "roles":
        null, "keywords": [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58", "title":
        "Updated Tutor HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "stateid": 1, "parentTitle": null, "maintainers":
        [{"website": "", "surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "othername": "", "email": "alinams@rice.edu", "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "authors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "parentVersion":
        "", "legacy_version": "1.4", "licensors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "language": "en",
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@4.3",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@2",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@7",
        "title": "Force"}, {"id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd@4", "title":
        "Newton''s First Law of Motion: Inertia"}, {"id": "d60a912c-83cf-443a-a6c2-3dd95545e7d4@1",
        "title": "Newton''s Second Law of Motion:"}, {"id": "26906559-5f4c-4b41-8c23-3380fec28355@1",
        "title": "Newton''s Third Law of Motion"}], "title": "Forces and Newton''s
        Laws of Motion"}], "title": "Updated Tutor HS Physics Content - legacy"},
        "doctype": "", "buyLink": null, "submitter": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}, "parentAuthors":
        [], "history": [{"changes": "added final module of chapter", "version": "4.3",
        "revised": "2015-03-16T16:30:01Z", "publisher": {"website": "", "surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "othername": "",
        "email": "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}},
        {"changes": "added final module of chapter", "version": "4.2", "revised":
        "2015-03-16T16:28:25Z", "publisher": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavi[...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "2", "submitlog": "tweaks ", "abstract":
        null, "revised": "2015-03-16T15:56:45Z", "roles": null, "keywords": [], "id":
        "1491e74e-ed39-446f-a602-e7ab881af101", "title": "Introduction", "mediaType":
        "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta
        name=\"created-time\" content=\"2015/03/05 14:26:29 -0600\"/><meta name=\"revised-time\"
        content=\"2015/03/16 10:56:45.052 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/><meta name=\"subject\"
        content=\" Science and Technology\"/></head>\n\n<body xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Introduction</div>\n<?cnx.eoc
        class=\"summary\" title=\"Section Summary\"?> \n<?cnx.eoc class=\"key-equations\"
        title=\"Key Equations\"?>  \n<?cnx.eoc class=\"chapter-review\" title=\"Review\"?>
        \n<?cnx.eoc class=\"test-prep\" title=\"Test Prep\"?>\n\n<section data-depth=\"1\"
        id=\"fs-idp20691760\" class=\"summary ost-reading-discard\"><figure id=\"fs-idp30390784\"
        class=\"splash\"><figcaption>Newton&#8217;s laws of motion describe the motion
        of the dolphin&#8217;s path. (credit: Jin Jang)</figcaption><span data-type=\"media\"
        id=\"fs-idp23649424\" data-alt=\"Alt text\"><img src=\"/resources/a99cf4ac886581d4f905dfa768c26219/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure>\n</section><div
        data-type=\"note\" id=\"eip-105\" class=\"os-teacher\" data-label=\"Teacher
        Edition\">\n<p id=\"eip-idp140653684147760\">Before students begin this chapter,
        they may wish to review the concepts of distance, displacement, speed, velocity,
        acceleration, scalars, vectors, representing vectors[...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "7", "submitlog": "added empty
        label for section learning objectives", "abstract": null, "revised": "2015-03-16T16:29:59Z",
        "roles": null, "keywords": [], "id": "092bbf0d-0729-42ce-87a6-fd96fd87a083",
        "title": "Force", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Force</title><meta name=\"created-time\"
        content=\"2015/03/05 02:29:22 -0600\"/><meta name=\"revised-time\" content=\"2015/03/16
        11:29:59.900 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Force</div>\n<div data-type=\"note\" id=\"fs-id1165900790246\"><div
        data-type=\"note\" id=\"fs-id1165878444996\" class=\"learning-objectives\"
        data-label=\"\"><div data-type=\"title\">Section Learning Objectives</div>\n  <p
        id=\"eip-110\">By the end of this section, you will be able to:</p>  \n    <ul
        id=\"eip-idp30262832\">\n    <li class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo01
        ost-tag-teks-112-39-c-4c\"> Differentiate between force, net\nforce and dynamics</li>\n    <li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo02 ost-tag-teks-112-39-c-4e\">Draw
        a free-body diagram</li>\n    <li>Learn Newton&#8217;s 1st law: <math xmlns=\"http://www.w3.org/1998/Math/MathML\"
        display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math></li>\n    </ul>\n\n</div><div
        data-type=\"note\" id=\"eip-568\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm2236496\">The Learning Objectives in this section
        will help your students master the following TEKS:</p> \n  (4) Science concepts.
        The student knows and applies the laws governing motion in a variety of situations.
        The student is expected to: \n  <ul id=\"fs-idm29263984\"><li class=\"ost-standards-def
        ost-standards-teks ost-tag-teks-112-39-c-4c\">(4C) <span class=\"ost-standards-def
        ost-standards-teks ost-tag-teks-112-39-c-4c\">analyze and describe accelerated
        motion in two dimensions using equations, including projectile and circular
        examples</span></li>\n    <li> (4E) <span class=\"ost-standards-def ost-standards-teks
        ost-tag-teks-112-39-c-4e\">develop and interpret free-body diagrams.</span></li>\n  </ul>\n\n<p
        id=\"eip-idm2196896\"><span class=\"level-below\">[BL]</span> <span class=\"level-on\">[OL]</span>
        Point out that objects at rest tend to stay at rest. A ball, for example,
        moves only when pushed or pulled. The action of pushing or pulling is the
        application of force. Force applied to an object changes its motion.<div data-type=\"newline\"><br/></div><span
        class=\"level-above\">[AL]</span> Start a discussion about force and motion.
        Ask students what would happen if more than one force is applied to an object.
        Take a heavy object such as a desk for demonstration. Ask one student to push
        it from one side. Explain how force and motion work. Now ask a second student
        to push it in the opposite direction. Ask students why no motion occurs even
        though the first student applies the same amount of force. Introduce the concept
        of adding forces.</p></div>\n<table id=\"eip-838\" summary=\"--\" class=\"key-terms
        ost-reading-discard\"><caption><span data-type=\"title\">Section Key Terms</span></caption><tbody>\n  <tr>\n    <td>dynamics</td>\n    <td>external
        force</td>\n    <td>force</td>\n  </tr>\n  <tr>\n    <td>free body diagram</td>\n    <td>net
        external force</td>\n    <td>net force</td>\n  </tr>\n</tbody></table>\n</div>\n<section
        data-depth=\"1\" id=\"eip-963\" class=\"ost-tag-lo-k12phys-ch04-s01-lo01\"><h1
        data-type=\"title\">Defining Force and <em data-effect=\"italics\">Dynamics</em></h1><div
        data-type=\"note\" id=\"eip-752\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm59057616\"><span class=\"level-on\">[OL]</span> Explain
        that the word dynamics comes from a Greek word meaning power. Also point out
        that the word &#8220;dynamics&#8221; is singular, like the word &#8220;physics.&#8221;
        <div data-type=\"newline\"><br/></div> <span class=\"level-below\">[BL]</span><span
        [...]
[...]
