---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/9545b9a2-c371-4a31-abb9-3a4a1fff497b@8.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "8", "submitlog": "checked for
        sim", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-07-15T16:38:48Z",
        "printStyle": null, "roles": null, "keywords": ["universal", "three-dimensional
        model", "theory", "scientific model", "scientific method", "scientific law",
        "principle", "physical model", "Pascal\u2019s principle", "observation", "Newton\u2019s
        second law of motion", "model", "hypothesis", "experiment", "electron cloud
        model", "computer based model"], "id": "9545b9a2-c371-4a31-abb9-3a4a1fff497b",
        "title": "The Scientific Method", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>The Scientific Method</title><meta
        name=\"created-time\" content=\"2015/05/20 07:12:18 -0500\"/><meta name=\"revised-time\"
        content=\"2015/07/15 11:38:48.172 GMT-5\"/><meta name=\"author\" content=\"words_hsphysics\"/><meta
        name=\"acl-list\" content=\"words_hsphysics\"/><meta name=\"licensor\" content=\"words_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"computer based model, electron cloud model, experiment,
        hypothesis, model, Newton&#8217;s second law of motion, observation, Pascal&#8217;s
        principle, physical model, principle, scientific law, scientific method, scientific
        model, theory, three-dimensional model, universal\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">The Scientific Method</div>\n<section data-depth=\"1\"
        id=\"fs-id1164352320468\" class=\"section-opener\">\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-id1164355844283\" class=\"note learning-objectives\"
        data-label=\"\">\n<p id=\"fs-id1164355636735\">By the end of this section,
        you will be able to:</p>\n<ul id=\"fs-id1164355611214\"><li class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch01-s02-lo01 ost-tag-teks-112-39-c-2a ost-tag-teks-112-39-c-2b
        ost-tag-teks-112-39-c-2c ost-tag-teks-112-39-c-2d ost-tag-teks-112-39-c-3a\">Explain
        how the methods of science are used to make scientific discoveries</li>\n<li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch01-s02-lo02 ost-tag-teks-112-39-c-2a
        ost-tag-teks-112-39-c-2c ost-tag-teks-112-39-c-3a\">Define a scientific model
        and describe examples of physical and mathematical models used in physics</li>\n<li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch01-s02-lo02 ost-tag-teks-112-39-c-2b
        ost-tag-teks-112-39-c-2c ost-tag-teks-112-39-c-2d\">Compare and contrast hypothesis,
        theory, and law</li>\n</ul></div>\n\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-id1164355872820\" class=\"note os-teacher\" data-label=\"Teacher Support\">\n<p
        id=\"eip-id1167066858526\">The learning objectives in this section will help
        your students master the following TEKS:</p>\n<ul id=\"fs-id1164355923015\">\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-2a\">\n<span
        class=\"ost-standards-name\">2A</span><span class=\"ost-standards-discard\">:</span>\n<span
        class=\"ost-standards-description\">Know the definition of science and understand
        that it has limitations, as specified in subsection (b)(2) of this section.</span></li>\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-2b\">\n<span
        class=\"ost-standards-name\">2B</span><span class=\"ost-standards-discard\">:</span>\n<span
        class=\"ost-standards-description\">Know that scientific hypothes[...]
