---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@2.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "2.2", "submitlog": "added module",
        "abstract": null, "revised": "2015-03-11T21:28:31Z", "roles": null, "keywords":
        [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58", "title": "Updated Tutor
        HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "stateid": 1, "parentTitle": null, "maintainers":
        [{"website": "", "surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "othername": "", "email": "alinams@rice.edu", "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "authors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "parentVersion":
        "", "legacy_version": "1.2", "licensors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "language": "en",
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@2.2",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@1",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@4",
        "title": "Force"}, {"id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd@3", "title":
        "Newton''s First Law of Motion: Inertia"}], "title": "Forces and Newton''s
        Laws of Motion"}], "title": "Updated Tutor HS Physics Content - legacy"},
        "doctype": "", "buyLink": null, "submitter": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}, "parentAuthors":
        [], "history": [{"changes": "added module", "version": "2.2", "revised": "2015-03-11T21:28:31Z",
        "publisher": {"website": "", "surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "othername": "", "email": "alinams@rice.edu", "fullname":
        "Alina Slavik", "id": "AlinaManager"}}, {"changes": "added module", "version":
        "2.1", "revised": "2015-03-11T18:42:58Z", "publisher": {"website": "", "surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "othername": "",
        "email": "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}[...]
