<h2>Students for course "<%= @course.name %>"</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Username</th>
      <th>Name</th>
      <th>Deidentifier</th>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |student| %>
    <tr>
      <td><%= student.username %></td>
      <td><%= student.name %></td>
      <td><%= student.deidentifier %></td>
    </tr>
  <% end %>
  </tbody>
</table>
