---
http_interactions:
- request:
    method: post
    uri: https://api.box.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&client_id=<box_client_id>&client_secret=<box_client_secret>&assertion=<box_assertion>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<box_access_token>","expires_in":4292,"restricted_to":[],"token_type":"bearer"}'
  recorded_at: Wed, 27 Sep 2017 17:34:56 GMT
- request:
    method: post
    uri: https://api.box.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&client_id=<box_client_id>&client_secret=<box_client_secret>&assertion=<box_assertion>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<box_access_token>","expires_in":4208,"restricted_to":[],"token_type":"bearer"}'
  recorded_at: Wed, 27 Sep 2017 17:34:56 GMT
recorded_with: VCR 2.9.3
