---
http_interactions:
- request:
    method: post
    uri: https://api.box.com/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=urn:ietf:params:oauth:grant-type:jwt-bearer&client_id=<box_client_id>&client_secret=<box_client_secret>&assertion=<box_assertion>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token":"<box_access_token>","expires_in":4232,"restricted_to":[],"token_type":"bearer"}'
  recorded_at: Wed, 27 Sep 2017 17:34:57 GMT
- request:
    method: get
    uri: https://api.box.com/2.0/folders/0/items?fields=id,name&limit=1000&offset=0
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <box_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_count":2,"entries":[{"type":"folder","id":"38614531014","etag":"0","name":"Exports"},{"type":"folder","id":"39095941777","etag":"0","name":"<box_exports_folder>"}],"offset":0,"limit":1000,"order":[{"by":"type","direction":"ASC"},{"by":"name","direction":"ASC"}]}'
  recorded_at: Wed, 27 Sep 2017 17:34:57 GMT
- request:
    method: options
    uri: https://api.box.com/2.0/files/content
    body:
      encoding: UTF-8
      string: '{"name":"excluded_exercises_stats_by_course_20170925T213441Z.csv","parent":{"id":"39095941777"},"size":1003}'
    headers:
      Authorization:
      - Bearer <box_access_token>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"upload_url":"https:\/\/upload.box.com\/api\/2.0\/files\/content?upload_session_id=3ED1AEBEA65DE62AD9F9F98737332F16","upload_token":null}'
  recorded_at: Wed, 27 Sep 2017 17:34:58 GMT
- request:
    method: post
    uri: https://upload.box.com/api/2.0/files/content
    body:
      encoding: UTF-8
      string: "--a33324b20b4b4f07cceed330da60db782cd9e451\r\nContent-Disposition:
        form-data; name=\"attributes\"\r\n\r\n{\"name\":\"excluded_exercises_stats_by_course_20170925T213441Z.csv\",\"parent\":{\"id\":\"39095941777\"}}\r\n--a33324b20b4b4f07cceed330da60db782cd9e451\r\nContent-Disposition:
        form-data; name=\"file\"; filename=\"excluded_exercises_stats_by_course_20170925T213441Z.csv\";
        modification-date=\"Wed, 27 Sep 2017 11:31:54 -0500\"; read-date=\"Wed, 27
        Sep 2017 12:34:58 -0500\"\r\nContent-Type: application/octet-stream\r\n\r\nCourse
        ID,Course Name,Course Type,Teachers,# Exclusions,Excluded Exercise Numbers,Excluded
        Exercise URLs,Exclusion Timestamps,CNX Book Title,CNX Book UUID,CNX Book Locations,CNX
        Page UUIDs,CNX Page URLs\n66,cum nobis consectetur,Tutor,Bob Martin,4,\"-4,
        -3, -2, -1\",\"https://exercises-dev.openstax.org/exercises/-4, https://exercises-dev.openstax.org/exercises/-3,
        https://exercises-dev.openstax.org/exercises/-2, https://exercises-dev.openstax.org/exercises/-1\",\"2017-09-25T21:34:40.085Z,
        2017-09-25T21:34:40.096Z, 2017-09-25T21:34:40.107Z, 2017-09-25T21:34:40.117Z\",saepe
        nam mollitia,929ad821-5801-4272-9186-ffb0c047ec08,\"1.1, 1.2, 1.2, null\",\"3480b873-4599-4e23-b139-afb532da162b,
        5329c45e-5681-457d-b606-d3bab430162c, 5329c45e-5681-457d-b606-d3bab430162c,
        null\",\"https://staging-tutor.cnx.org/contents/3480b873-4599-4e23-b139-afb532da162b,
        https://staging-tutor.cnx.org/contents/5329c45e-5681-457d-b606-d3bab430162c,
        https://staging-tutor.cnx.org/contents/5329c45e-5681-457d-b606-d3bab430162c,
        null\"\n\r\n--a33324b20b4b4f07cceed330da60db782cd9e451--\r\n\r\n"
    headers:
      Authorization:
      - Bearer <box_access_token>
      Content-Md5:
      - 025ed35ed76d6889280dc6426d6f85fe1bc235e1
      Content-Type:
      - multipart/form-data; boundary=a33324b20b4b4f07cceed330da60db782cd9e451
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"total_count":1,"entries":[{"type":"file","id":"230487659492","file_version":{"type":"file_version","id":"243284856804","sha1":"025ed35ed76d6889280dc6426d6f85fe1bc235e1"},"sequence_id":"0","etag":"0","sha1":"025ed35ed76d6889280dc6426d6f85fe1bc235e1","name":"excluded_exercises_stats_by_course_20170925T213441Z.csv","description":"","size":1003,"path_collection":{"total_count":2,"entries":[{"type":"folder","id":"0","sequence_id":null,"etag":null,"name":"All
        Files"},{"type":"folder","id":"39095941777","sequence_id":"0","etag":"0","name":"<box_exports_folder>"}]},"created_at":"2017-09-27T10:34:59-07:00","modified_at":"2017-09-27T10:34:59-07:00","trashed_at":null,"purged_at":null,"content_created_at":"2017-09-27T10:34:59-07:00","content_modified_at":"2017-09-27T10:34:59-07:00","created_by":{"type":"user","id":"2643869773","name":"OpenStax
        Tutor","login":"<box_app_login>"},"modified_by":{"type":"user","id":"2643869773","name":"OpenStax
        Tutor","login":"<box_app_login>"},"owned_by":{"type":"user","id":"2644177455","name":"Greg
        Fitch","login":"<box_folder_owner_login>"},"shared_link":null,"parent":{"type":"folder","id":"39095941777","sequence_id":"0","etag":"0","name":"<box_exports_folder>"},"item_status":"active"}]}'
  recorded_at: Wed, 27 Sep 2017 17:34:59 GMT
recorded_with: VCR 2.9.3
