---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/d60a912c-83cf-443a-a6c2-3dd95545e7d4@1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '161377'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "1", "submitlog": "Created module,
        imported content from Staging3", "abstract": null, "revised": "2015-03-16T16:06:45Z",
        "roles": null, "keywords": [], "id": "d60a912c-83cf-443a-a6c2-3dd95545e7d4",
        "title": "Newton''s Second Law of Motion:", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Newton''s Second Law of Motion:</title><meta
        name=\"created-time\" content=\"2015/03/16 11:03:26.427 GMT-5\"/><meta name=\"revised-time\"
        content=\"2015/03/16 11:06:45.720 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Newton''s
        Second Law of Motion:</div>\n  <section data-depth=\"1\" id=\"eip-838\" class=\"learning-objectives\"><h1
        data-type=\"title\">Section Learning Objectives</h1>\n<p id=\"fs-idm59015504\">By
        the end of this section, you will be able to:<span data-type=\"list\" data-list-type=\"bulleted\"
        id=\"eip-idp11222704\"><span data-type=\"item\" class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch04-s03-lo01 ost-tag-teks-112-39-c-4d\">Describe Newton&#8217;s
        Second Law both verbally and mathematically</span><span data-type=\"item\"
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s03-lo01 ost-tag-teks-112-39-c-4d\">Use
        Newton&#8217;s Second Law to solve problems</span></span></p></section>\n<div
        data-type=\"note\" id=\"eip-idm19181472\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm45698528\">The Learning Objectives in this section
        will help your students master the following TEKS:\n(4) Science concepts.
        The student knows and applies the laws governing motion in a variety of situations.
        The student is expected to:\n<span data-type=\"list\" data-list-type=\"bulleted\"
        id=\"eip-idm34823152\"><span data-type=\"item\">(4D)<span class=\"ost-tag-teks-112-39-c-4d
        ost-teks-def\"> calculate the effect of forces on objects, including the law
        of inertia, the relationship between force and acceleration, and the nature
        of force pairs between objects </span></span></span></p></div>\n<table id=\"eip-383\"
        summary=\"--\" class=\"key-terms ost-reading-discard\"><caption><span data-type=\"title\">Key
        Terms</span></caption><tbody>\n  <tr>\n    <td>freefall</td>\n    <td>Newton''s
        second law of motion</td>\n    <td>weight</td>\n  </tr>\n</tbody></table><section
        data-depth=\"1\" id=\"fs-idp27974464\" class=\"ost-tag-lo-k12phys-ch04-s03-lo01\"><h1
        data-type=\"title\">Describing Newton''s Second Law of Motion</h1><div data-type=\"note\"
        id=\"eip-536\" class=\"os-teacher\" data-label=\"Teacher Edition\"><p id=\"eip-idp138112\"><span
        class=\"level-below\">[BL]</span><span class=\"level-on\">[OL]</span> Re[...]
- request:
    method: get
    uri: http://archive-staging-tutor.cnx.org/contents/d60a912c-83cf-443a-a6c2-3dd95545e7d4@1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 11 Jun 2015 21:17:00 GMT
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/d60a912c-83cf-443a-a6c2-3dd95545e7d4@1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 11 Jun 2015 21:25:18 GMT
recorded_with: VCR 2.9.3
