---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/projections/questions
    body:
      encoding: UTF-8
      string: '{"learner_id":"082f844d71fcd4359bc3b55492d66de49791cc66abbaab0ba08cd0390b7b6161","number_of_questions":5,"allow_repetition":"true","pool_id":"9dbabcee-0292-4e46-bcbe-c11afd093228","excluded_pools":[{"pool_id":"6b773d80-2ed8-42fa-b998-a3e6c64be5e0","ignore_versions":false}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"learner_id\": \"082f844d71fcd4359bc3b55492d66de49791cc66abbaab0ba08cd0390b7b6161\",
        \n  \"questions\": [\n    {\n      \"difficulty\": 0, \n      \"projected_tags\":
        [\n        \"k12phys-ch99-s99-lo02\"\n      ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/-2\",
        \n      \"success_probability\": 0.49675445746666236, \n      \"tags\": []\n
        \   }\n  ]\n}"
  recorded_at: Wed, 23 Mar 2016 22:31:14 GMT
[...]
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/projections/questions
    body:
      encoding: UTF-8
      string: '{"learner_id":"58dd938af25d8456a72c81967a77409557dbc7645e0723498c1de98167ece15d","number_of_questions":5,"allow_repetition":"true","pool_id":"9dbabcee-0292-4e46-bcbe-c11afd093228","excluded_pools":[{"pool_id":"26929430-f83f-41ac-8200-373370fe5adb","ignore_versions":true}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"learner_id\": \"58dd938af25d8456a72c81967a77409557dbc7645e0723498c1de98167ece15d\",
        \n  \"questions\": [\n    {\n      \"difficulty\": 0, \n      \"projected_tags\":
        [\n        \"k12phys-ch99-s99-lo01\"\n      ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/-1\",
        \n      \"success_probability\": 0.18109017141039951, \n      \"tags\": []\n
        \   }\n  ]\n}"
  recorded_at: Wed, 23 Mar 2016 22:31:15 GMT
recorded_with: VCR 2.9.3
