---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/95e61258-2faf-41d4-af92-f62e1414175a@4.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "replaced \"distance\"
        with \"displacement\" per content proofing", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-06-11T17:32:01Z", "printStyle": null, "roles": null, "keywords":
        ["velocity", "universal laws", "system", "normal force", "Newton''s laws of
        motion", "net force", "net external force", "kinematics", "gravitational force",
        "free-body diagram", "force", "external force", "dynamics", "acceleration"],
        "id": "95e61258-2faf-41d4-af92-f62e1414175a", "title": "Force", "mediaType":
        "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Force</title><meta
        name=\"created-time\" content=\"2015/05/29 14:17:56 -0500\"/><meta name=\"revised-time\"
        content=\"2015/06/11 12:32:01.179 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"acl-list\" content=\"tutor_hsphysics\"/><meta name=\"licensor\" content=\"tutor_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"acceleration, dynamics, external force, force,
        free-body diagram, gravitational force, kinematics, net external force, net
        force, Newton''s laws of motion, normal force, system, universal laws, velocity\"/><meta
        name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Force</div>\n <section data-depth=\"1\" id=\"fs-idp37165728\"
        class=\"section-opener\">\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-idp19882368\" class=\"note learning-objectives\" data-label=\"\"><div
        data-type=\"title\" class=\"title\">Section Learning Objectives</div>\n<p
        id=\"fs-idp89347824\">By the end of this section, you will be able to:</p>\n<ul
        id=\"fs-idp39093408\">\n<li class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo01
        ost-tag-teks-112-39-c-4c\">Differentiate between force, net force, and dynamics</li>\n<li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo02 ost-tag-teks-112-39-c-4e\">Draw
        a free-body diagram</li>\n</ul>\n</div>\n\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-idm14107600\" class=\"note os-teacher\" data-label=\"Teacher Support\">\n<p
        id=\"fs-idp35685648\">The Learning Objectives in this section will help your
        students master the following TEKS:</p>\n<ul id=\"fs-idp23952512\">\n<li>(4)
        Science concepts. The student knows and applies the laws governing motion
        in a variety of situations. The student is expected to:\n<ul id=\"fs-idp63398192\"><li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4c\"><span
        class=\"ost-standards-name\">(4C)</span><span class=\"ost-standards-discard\">:</span>
        <span class=\"ost-standards-description\">analyze and describe accelerated
        motion in two dimensions using equations, including projectile and circular
        examples</span></li>\n<li class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4e\"><span
        class=\"ost-standards-name\">(4E)</span><span class=\"ost-standards-discard\">:</span>
        <span class=\"ost-standards-description\">develop and interpret free-body
   [...]
