---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/61445f78-00e2-45ae-8e2c-461b17d9b4fd
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/61445f78-00e2-45ae-8e2c-461b17d9b4fd@4"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 19 Mar 2015 10:32:37 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/61445f78-00e2-45ae-8e2c-461b17d9b4fd@4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '217784'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "imported from
        staging3", "abstract": null, "revised": "2015-03-16T16:00:23Z", "roles": null,
        "keywords": [], "id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd", "title": "Newton''s
        First Law of Motion: Inertia", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Newton''s First Law of Motion:
        Inertia</title><meta name=\"created-time\" content=\"2015/03/11 13:32:11 -0500\"/><meta
        name=\"revised-time\" content=\"2015/03/16 11:00:23.682 GMT-5\"/><meta name=\"author\"
        content=\"AlinaManager\"/><meta name=\"acl-list\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Newton''s First Law of Motion: Inertia</div>\n  <section
        data-depth=\"1\" id=\"fs-idp17120160\" class=\"learning-objectives\"><h1 data-type=\"title\">Section
        Learning Objectives</h1><p id=\"eip-795\">By the end of this section you will
        be able to: <span data-type=\"list\" data-list-type=\"bulleted\" id=\"eip-idp58500736\"><span
        data-type=\"item\" class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s02-lo01
        ost-tag-teks-112-39-c-4d\"> Describe Newton''s first law and friction <math
        xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math></span><span
        data-type=\"item\" class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s02-lo02
        ost-tag-teks-112-39-c-4d\"> Discuss the relationship between mass and inertia</span></span></p></section>\n\n<div
        data-type=\"note\" id=\"eip-887\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm12575088\">The Learning Objectives in this section
        will help your students master the following TEKS: (4) Science concepts. The
        student knows and applies the laws governing motion in a variety of situations.
        The student is expected to: \n<span data-type=\"list\" data-list-type=\"bulleted\"
        id=\"fs-idp60294944\">\n<span data-type=\"item\" class=\"ost-standards-def
        ost-standards-teks\"><span class=\"ost-standards-name\">(4D)</span><span class=\"ost-standards-discard\">:</span><span
        class=\"ost-standards-description ost-tag-teks-112-39-c-4d\">calculate the
        effect of forces on objects, including the law of inertia, the relationship
        between force and acceleration, and the nature of force pairs between objects</span></span></span></p></div>\n\n<table
        id=\"eip-850\" summary=\"--\" class=\"key-terms ost-reading-discard\"><caption><span
        data-type=\"title\">Section Key Terms</span></caption><tbody>\n  <tr>\n    <td>friction</td>\n    <td>inertia</td>\n    <td>law
        of inertia</td>\n  </tr>\n  <tr>\n    <td>mass</td>\n    <td>Newton''s first
        law of motion</td>\n    <td>system</td>\n  </tr>\n</tbody></table><div data-type=\"note\"
        id=\"eip-456\" class=\"os-teacher\" data-label=\"Teacher Edition\"><p id=\"eip-idm59591792\">Before
        students begin this section, it is useful to review the concepts of force,
        external force, net external force, and addition of forces.<div data-type=\"newline\"><br/></div>\n<span
        class=\"level-below\">[BL]</span> <span class=\"level-on\">[OL]</span> <span
        class=\"level-above\">[AL]</span> Ask students to speculate what happens to
        objects when they are set in motion. Do they remain in motion or stop after
        some time? Why?</p><div data-type=\"note\" id=\"eip-idm108977584\" class=\"tip
        misconception\" data-label=\"Misconception Alert\">\nStudents may believe
        that objects that are in motion tend to slow down and stop. Explain the concept
        of friction. Talk about objects in outer space, where there is no atmosphere
        and no gravity. Ask students to describe the motion of such objects.</div></div>\n\n<section
        data-depth=\"1\" id=\"eip-201\" class=\"ost-tag-lo-k12phys-ch04-s02-lo01\"><h1
        data-type=\"title\">Newton''s First Law and Friction</h1><p id=\"eip-708\"><span
        data-type=\"term\">Newton''s first law of motion</span> states that:</p><ol
        id=\"eip-idp55249424\"><li>A body at rest tends to stay at rest <math xmlns=\"http://www.w3.org/1998/Math/MathML\"
        display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math>
        (<a href=\"http://www.pa.uky.edu/~kwng/phy211/oldexam/Spring99EvenFinal/Final.htm\">http://www.pa.uky.edu/~kwng/phy211/oldexam/Spring99EvenFinal/Final.htm</a>)</li>\n<li>A
        body in motion tends to remain in motion at constant velocity unless acted
        on by a net external force (recall that &#8220;constant velocity&#8221; means
        in a straight line and at constant speed). <math xmlns=\"http://www.w3.org/1998/Math/MathML\"
        display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math>
        </li>\n</ol>\n\n<section data-depth=\"2\" id=\"eip-241\"><h2 data-type=\"title\">Newton''s
        1<sup>st</sup> Law: <math xmlns=\"http://www.w3.org/1998/Math/MathML\" display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math>
        </h2><div data-type=\"note\" id=\"eip-659\" class=\"os-teacher\" data-label=\"Teacher
        Edition\">\n<p id=\"eip-idm30448560\"><span class=\"level-below\">[BL]</span>\n<span
        class=\"level-on\">[OL]</span>\n<span class=\"level-above\">[AL]</span[...]
