<% @page_header = "Catalog Offerings" %>

<%= link_to new_admin_catalog_offering_path, class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add offering
<% end %>

<div style="clear:both; padding: 10px"></div>

<%= form_for(@offering,
      as: :offering,
      url: @offering.id ? admin_catalog_offering_path(@offering.id) : admin_catalog_offerings_path,
      method: @offering.id ? 'put' : 'post') do |form| %>

  <% @offerings.each do |offering| %>

    <%= render partial: (offering == @offering) ? 'edit_row' : 'display_row',
               locals: { offering: offering, form: form } %>

  <% end -%>

<% end %>
