<%= lev_form_for( :offering,
    url: @offering.new_record? ? admin_catalog_offerings_path : admin_catalog_offering_path(@offering),
    method: @offering.new_record? ? 'post' : 'put') do |form| %>

<table class='table table-striped'>
  <%= render partial: 'table_header' %>
  <tbody>
    <% @offerings.each do |offering| %>

      <%= render :partial => (offering == @offering) ? 'edit_row' : 'display_row',
      locals: {offering: offering, form: form } %>

    <% end -%>
  </tbody>
</table>

<% end %>
