<% @page_header = "Catalog Offerings" %>

<%= link_to new_admin_catalog_offering_path, class: 'btn btn-primary pull-right' do %>
  <span class="glyphicon glyphicon-plus" aria-hidden="true" /> Add offering
<% end %>

<div style="clear:both; padding: 10px"></div>

<% @offerings.each do |offering| %>
  <%= render partial: 'display_row', locals: { offering: offering } %>
<% end -%>

<% unless @deleted_offerings.empty? %>
  <div class="page-header">
    <h2>Deleted Offerings</h2>
  </div>
<% end %>

<% @deleted_offerings.each do |offering| %>
  <%= render partial: 'display_row', locals: { offering: offering } %>
<% end -%>
