<header>
  <h1>Tutor Administration</h1>
  <nav>
    <%= link_to 'Courses', admin_courses_path %>&nbsp;|
    <%= link_to 'Users', admin_users_path %>&nbsp;|
    <%= render 'layouts/authentication' %>
  </nav>
</header>
