---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=21332ca231a015a11df464d759dd7de0da971bd48334ebb050540ec683f548fe&pool_ids=8c21ea7d-2462-431b-aa7e-49184c7e09f6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0, \n      \"confidence\":
        {\n        \"left\": 0, \n        \"right\": 0, \n        \"sample_size\":
        0, \n        \"unique_learner_count\": 0\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"low\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"508e4ee4-851d-4648-b130-9bacd4efbaab\"\n
        \   }, \n    {\n      \"aggregate\": 0, \n      \"confidence\": {\n        \"left\":
        0, \n        \"right\": 0, \n        \"sample_size\": 0, \n        \"unique_learner_count\":
        0\n      }, \n      \"interpretation\": {\n        \"confidence\": \"bad\",
        \n        \"level\": \"low\", \n        \"threshold\": \"below\"\n      },
        \n      \"pool_id\": \"db4e911d-5018-43f7-bb03-ec6808f077cb\"\n    }, \n    {\n
       [...]
[...]
