---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '83060'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "1", "submitlog": "imported module",
        "abstract": null, "revised": "2015-03-05T20:27:17Z", "roles": null, "keywords":
        [], "id": "1491e74e-ed39-446f-a602-e7ab881af101", "title": "Introduction",
        "mediaType": "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta
        name=\"created-time\" content=\"2015/03/05 14:26:29.944 US/Central\"/><meta
        name=\"revised-time\" content=\"2015/03/05 14:27:17.021 US/Central\"/><meta
        name=\"author\" content=\"AlinaManager\"/><meta name=\"acl-list\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Introduction</div><?cnx.eoc
        class=\"section-summary\" title=\"Section Summary\"?>\n  <figure id=\"fs-idp30390784\"
        class=\"splash\"><figcaption>Newton&#8217;s laws of motion describe the motion
        of the dolphin&#8217;s path. (credit: Jin Jang)</figcaption><span data-type=\"media\"
        id=\"fs-idp23649424\" data-alt=\"Alt text\"><img src=\"/resources/a99cf4ac886581d4f905dfa768c26219/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure><div data-type=\"note\"
        id=\"fs-idp24170976\" class=\"os-teacher\"><p id=\"eip-idp6277632\">Before
        students begin this chapter, they may wish to review the concepts of distance,
        displacement, speed, velocity, acceleration, scalars, vectors, representing
        vectors, units of acceleration, and acceleration due [...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '9712'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "updated to
        ost-tag-lo-k12phys tag and added <label>Grasp Check</label>", "abstract":
        null, "revised": "2015-03-06T17:46:23Z", "roles": null, "keywords": [], "id":
        "092bbf0d-0729-42ce-87a6-fd96fd87a083", "title": "Force", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Force</title><meta name=\"created-time\"
        content=\"2015/03/05 14:29:22 -0600\"/><meta name=\"revised-time\" content=\"2015/03/06
        11:46:23.098 US/Central\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Force</div>\n  <section data-depth=\"1\" id=\"fs-idp57791360\"
        class=\"learning-objectives\"><h1 data-type=\"title\">Section Learning Objectives</h1><p
        id=\"eip-110\">By the end of this section, you will be able to:</p><ul id=\"eip-idp30262832\"><li
        class=\"ost-tag-lo-k12phys-ch04-s01-lo01 ost-tag-teks-112-39-c-4c ost-learning-objective-def\">
        Differentiate between force, net\nforce and dynamics</li><li class=\"ost-tag-lo-k12phys-ch04-s01-lo02
        ost-tag-teks-112-39-c-4e ost-learning-objective-def\">Draw a free-body diagram</li><li>Learn
        Newton&#8217;s 1st law: Fnet =0 3</li></ul></section><div data-type=\"note\"
        id=\"eip-568\" class=\"os-teacher\"><p id=\"eip-idm2236496\">The Learning
        Objectives in this section will help your students master the following TEKS:
        (4) Science concepts. The student knows and applies the laws governing motion
        in a variet[...]
[...]
