---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1615930638725","signature":"<salesforce_signature>"}'
  recorded_at: Tue, 16 Mar 2021 21:37:18 GMT
[...]
- request:
    method: get
    uri: "<salesforce_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20BillingCity,%20BillingState,%20Type,%20School_Location__c,%20SheerID_School_Name__c,%20K_I_P__c,%20child_of_kip__c%20FROM%20Account%20WHERE%20(RecordType.Name%20=%20%27School%27)%20AND%20(Name%20IN%20(%27JP%20University%27))"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=471/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v37.0/sobjects/Account/0010v00000bM8kQAAS"},"Id":"0010v00000bM8kQAAS","Name":"JP
        University","BillingCity":null,"BillingState":null,"Type":null,"School_Location__c":"Domestic","SheerID_School_Name__c":null,"K_I_P__c":false,"child_of_kip__c":false}]}'
  recorded_at: Tue, 16 Mar 2021 21:37:19 GMT
[...]
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v37.0/sobjects/Contact"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Deeanna","LastName":"Marvin","AccountId":"0010v00000bM8kQAAS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=471/5000000
      Location:
      - "/services/data/v37.0/sobjects/Contact/0030v00000Uz8YmAAJ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0030v00000Uz8YmAAJ","success":true,"errors":[]}'
  recorded_at: Tue, 16 Mar 2021 21:37:22 GMT
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v37.0/sobjects/Campaign"
    body:
      encoding: UTF-8
      string: '{"Name":"cbe04e2e6a24edaa"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=471/5000000
      Location:
      - "/services/data/v37.0/sobjects/Campaign/7010v000000kbaZAAQ"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7010v000000kbaZAAQ","success":true,"errors":[]}'
  recorded_at: Tue, 16 Mar 2021 21:37:23 GMT
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v37.0/sobjects/Campaign"
    body:
      encoding: UTF-8
      string: '{"Name":"04adca78cea45b5c"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=471/5000000
      Location:
      - "/services/data/v37.0/sobjects/Campaign/7010v000000kbaeAAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"7010v000000kbaeAAA","success":true,"errors":[]}'
  recorded_at: Tue, 16 Mar 2021 21:37:23 GMT
recorded_with: VCR 4.0.0
