---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_client_key>&client_secret=<salesforce_client_secret>&username=<salesforce_username_url>&password=<salesforce_password><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1573778277847","signature":"<salesforce_signature>"}'
  recorded_at: Fri, 15 Nov 2019 00:37:57 GMT
[...]
- request:
    method: get
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/query?q=SELECT%20Id,%20Name%20FROM%20Account"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D550000000cu7m";
      Sforce-Limit-Info:
      - api-usage=967/51000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v37.0/sobjects/Account/0015500000dS49ZAAS"},"Id":"0015500000dS49ZAAS","Name":"JP
        University"}]}'
  recorded_at: Fri, 15 Nov 2019 00:37:58 GMT
- request:
    method: post
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/sobjects/Contact"
    body:
      encoding: UTF-8
      string: '{"FirstName":"Sunshine","LastName":"Corwin","AccountId":"0015500000dS49ZAAS"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D550000000cu7m";
      Sforce-Limit-Info:
      - api-usage=968/51000
      Location:
      - "/services/data/v37.0/sobjects/Contact/0035500000aJm4mAAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0035500000aJm4mAAC","success":true,"errors":[]}'
  recorded_at: Fri, 15 Nov 2019 00:37:59 GMT
- request:
    method: post
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/sobjects/Campaign"
    body:
      encoding: UTF-8
      string: '{"Name":"37025e1d41314cda"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D550000000cu7m";
      Sforce-Limit-Info:
      - api-usage=967/51000
      Location:
      - "/services/data/v37.0/sobjects/Campaign/70155000000faNkAAI"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"70155000000faNkAAI","success":true,"errors":[]}'
  recorded_at: Fri, 15 Nov 2019 00:38:00 GMT
- request:
    method: post
    uri: "<salesforce_instance_url_lower>/services/data/v37.0/sobjects/Campaign"
    body:
      encoding: UTF-8
      string: '{"Name":"5309da0d47ac418f"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <salesforce_access_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Public-Key-Pins-Report-Only:
      - pin-sha256="9n0izTnSRF+W4W4JTq51avSXkWhQB8duS2bxVLfzXsY="; pin-sha256="5kJvNEMw0KjrCAu7eXY5HZdvyCS13BbA0VJG1RSP91w=";
        pin-sha256="njN4rRG+22dNXAi+yb8e3UMypgzPUPHlv4+foULwl1g="; max-age=86400;
        includeSubDomains; report-uri="https://a.forcesslreports.com/hpkp-report/00D550000000cu7m";
      Sforce-Limit-Info:
      - api-usage=967/51000
      Location:
      - "/services/data/v37.0/sobjects/Campaign/70155000000faNpAAI"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"70155000000faNpAAI","success":true,"errors":[]}'
  recorded_at: Fri, 15 Nov 2019 00:38:00 GMT
recorded_with: VCR 4.0.0
