---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/de43ae15-d1fa-4265-98f6-9820ff31a270
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/de43ae15-d1fa-4265-98f6-9820ff31a270@9
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive5
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/de43ae15-d1fa-4265-98f6-9820ff31a270@9; you should be redirected automatically.

  recorded_at: Thu, 11 Feb 2021 20:32:11 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/de43ae15-d1fa-4265-98f6-9820ff31a270@9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"VQzJOBHcRRvJZqUG7pQ+FA"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:de43ae15-d1fa-4265-98f6-9820ff31a270/Development-of-Force-Concept>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive5
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "9", "submitlog":
        "footnote republish", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"><ul>\n<li>Understand
        the definition of force.</li>\n</ul></div>", "revised": "2020-08-31T15:57:49Z",
        "printStyle": null, "roles": null, "keywords": ["force", "dynamics", "free-body
        diagram"], "id": "de43ae15-d1fa-4265-98f6-9820ff31a270", "canonical": "031da8d3-b525-429c-80cf-6c8ed997733a",
        "title": "Development of Force Concept", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:de43ae15-d1fa-4265-98f6-9820ff31a270/Development-of-Force-Concept",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Development of Force Concept</title><meta
        name=\"created-time\" content=\"2011/12/21 11:42:47 -0600\"/><meta name=\"revised-time\"
        content=\"2018/08/03 15:49:52 -0500\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta
        name=\"licensor\" content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"dynamics, force, free-body diagram\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        xmlns:epub=\"http://www.idpf.org/2007/ops\" data-cnxml-to-html-ver=\"2.1.0\"><div
        data-type=\"document-title\">Development of Force Concept</div><div data-type=\"abstract\"><ul>\n<li>Understand
        the definition of force.</li>\n</ul></div>\n        <p id=\"import-auto-id2380148\"><span
        data-type=\"term\" id=\"import-auto-id2134480\">Dynamics</span> is the study
        of the forces that cause objects and systems to move. To understand this,
        we need a working definition of force. Our intuitive definition of <span data-type=\"term\"
        id=\"import-auto-id2712510\">force</span>&#8212;that is, a push or a pull&#8212;is
        a good place to start. We know that a push or pull has both magnitude and
        direction (therefore, it is a vector quantity) and can vary considerably in
        each regard. For example, a cannon exerts a strong force on a cannonball that
        is launched into the air. In contrast, Earth exerts only a tiny downward pull
        on a flea. Our everyday experiences also give us a good idea of how multiple
        forces add. If two people push in different directions on a third person,
        as illustrated in <a href=\"#import-auto-id2379809\" class=\"autogenerated-content\">[link]</a>,
        we might expect the total force to be in the direction shown. Since force
        is a vector, it adds just like other vectors, as illustrated in <a href=\"#import-auto-id2379809\"
        class=\"autogenerated-content\">[link]</a>(a) for two ice skaters. Forces,
        like other vectors, are represented by arrows and can be added using the familiar
        head-to-tail method or by trigonometric methods. These ideas were developed
        in <a href=\"/contents/f309a0f9-63fb-46ca-9585-d1e1dc96a142\">Two-Dimensional
        Kinematics</a>.</p><figure id=\"import-auto-id2379809\"><figcaption>Part (a)
        shows an overhead view of two ice skaters pushing on a third. Forces are vectors
        and add like other vectors, so the total force on the third skater is in the
        direction shown. In part (b), we see a free-body diagram representing the
        forces acting on the third skater.</figcaption><span data-type=\"media\" id=\"import-auto-id2659946\"
        data-alt=\"(a) Overhead view of two ice skaters pushing on a third. One skater
        pushes with a force F two, represented by an arrow pointing up, and a second
        skater pushes with a force F one, represented by an arrow pointing from left
        to right. Vector F one and vector F two are along the arms of the two skaters
        acting on the third skater. A vector diagram is shown in the form of a right
        triangle in which the base is vector F one pointing east and perpendicular
        is shown by vector F two pointing north. The resultant vector is shown by
        the hypotenuse pointing northeast. (b) Free-body diagram showing only the
        forces acting on the skater.\">\n                <img src=\"/resources/e0668b59b44b3338a2323e56a3c337a20cbbde42/Figure
        04_01_01a.jpg\" data-media-type=\"image/jpg\" alt=\"(a) Overhead view of two
        ice skaters pushing on a third. One skater pushes with a force F two, represented
        by an arrow pointing up, and a second skater pushes with a force F one, represented
        by an arrow pointing from left to right. Vector F one and vector F two are
        along the arms of the two skaters acting on the third skater. A vector diagram
        is shown in the form of a right triangle in which the base is vector F one
        pointing east and perpendicular is shown by vector F two pointing north. The
        resultant vector is shown by the hypotenuse pointing northeast. (b) Free-body
        diagram showing only the forces acting on the skater.\"/>\n            </span>\n\n        </figure><p
        id=\"import-auto-id1374790\"><a href=\"#import-auto-id2379809\" class=\"autogenerated-content\">[link]</a>(b)
        is our first example of a <span data-type=\"term\" id=\"import-auto-id1590568\">free-body
        diagram</span>, which is a technique used to illustrate all the <span data-type=\"term\"
        id=\"import-auto-id1608860\">external forces</span> acting on a body. The
        body is represented by a single isolated point (or free body), and only those
        forces acting <em data-effect=\"italics\">on</em> the body from the outside
        (external forces) are shown. (These forces are the only ones shown, because
        only external forces acting on the body affect its motion. We can ignore any
        internal forces within the body.) Free-body diagrams are very useful in analyzing
        forces acting on a system and are employed extensively in the study and application
        of Newton&#8217;s laws of motion.</p><p id=\"import-auto-id1905924\">A more
       [...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3Ade43ae15-d1fa-4265-98f6-9820ff31a270%22
    headers:
      Authorization:
      - "<Authorization 1>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cbdf3f1d82ba0000f819884ed2b45463"
    body:
      encoding: ASCII-8BIT
      string: '{"total_count":2,"items":[{"images":[],"tags":["ost-type:concept-coach","dok:1","time:short","blooms:2","book:stax-phys","lo:stax-phys:4-1-1","exid:stax-phys:32","context-cnxmod:de43ae15-d1fa-4265-98f6-9820ff31a270","context-cnxmod:7344986b-3079-4db2-92b9-78e0644c8610","context-cnxmod:708c252a-d832-48ab-9d66-06590e607b89","aplo:stax-apphys:3.A.2.1","assignment-type:reading"],"uuid":"b9adadf5-a0b4-4107-9bd8-2d077b1e07a8","group_uuid":"72d7be39-aa78-4f98-bb27-43e3de57b962","number":5770,"version":5,"uid":"5770@5","published_at":"2021-02-05T19:54:03.655Z","authors":[{"user_id":1,"name":"OpenStax"}],"copyright_holders":[{"user_id":2,"name":"Rice
        University"}],"derived_from":[],"is_vocab":false,"stimulus_html":"","questions":[{"id":125056,"is_answer_order_important":true,"stimulus_html":"","stem_html":"The
        push or pull on an object can be best described by what scientific term?","answers":[{"id":498545,"content_html":"friction","correctness":"0.0"},{"id":498544,"content_html":"dynamic
        motion","correctness":"0.0"},{"id":498543,"content_html":"gravity","correctness":"0.0"},{"id":498546,"content_html":"force","correctness":"1.0"}],"hints":[],"formats":["free-response","multiple-choice"],"combo_choices":[],"collaborator_solutions":[{"images":[],"solution_type":"detailed","content_html":"The
        push or pull on an object is a force, with a specific magnitude and direction.
        Gravity and friction are specific forces, while dynamic motion refers to a
        possible outcome of the action of forces."}],"community_solutions":[]}],"delegations":[{"delegator_id":1,"delegate_id":64,"delegate_type":"User","can_assign_authorship":false,"can_assign_copyright":false,"can_read":true,"can_update":false},{"delegator_id":1,"delegate_id":86,"delegate_type":"User","can_assign_authorship":true,"can_assign_copyright":false,"can_read":false,"can_update":false},{"delegator_id":1,"delegate_id":16,"delegate_type":"User","can_assign_authorship":true,"can_assign_copyright":false,"can_read":false,"can_update":false},{"delegator_id":1,"delegate_id":17,"delegate_type":"User","can_assign_authorship":true,"can_assign_copyright":false,"can_read":false,"can_update":false},{"delegator_id":1,"delegate_id":18[...]
