<div class="row">
  <h2 class="col-xs-6">
    Edit Study Brain for study
    <%= link_to @brain.study.name, research_study_path(@brain.study) %>
  </h2>
  <div class="col-xs-6">
<% unless @brain.new_record? || @brain.study.active? %>
    <%= link_to 'Delete Brain',
        research_brain_path(@brain),
        method: :delete,
        data: { confirm: 'Are you sure?' },
        class: "pull-right btn btn-primary" %>
<% end %>
  </div>
</div>

<%= render 'form' %>
