---
http_interactions:
- request:
    method: get
    uri: http://exercises-dev1.openstax.org/api/exercises?q=content:WhAt%20Is%20KiNeMaTiCs?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://exercises-dev1.openstax.org/api/exercises?q=content%3AWhAt+Is+KiNeMaTiCs%3F
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 10 Mar 2015 22:40:17 GMT
- request:
    method: get
    uri: https://exercises-dev1.openstax.org/api/exercises?q=content:WhAt%20Is%20KiNeMaTiCs?
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"bf2c7ac26e2897c791614ee3b8dbe8e2"
    body:
      encoding: UTF-8
      string: '{"total_count":1,"items":[{"uid":"1@1","number":1,"version":1,"published_at":"2015-03-10T19:49:17.810Z","editors":[],"authors":[{"user_id":1}],"copyright_holders":[{"user_id":2}],"derived_from":[],"attachments":[],"tags":["k12phys-ch04-s01-lo01","k12phys-ch04-ex001","practice-concepts","inbook-yes","dok1","time-short","display-free-response","display-rec-sensitive"],"stimulus_html":"","questions":[{"id":79,"stimulus_html":"","stem_html":"What
        is kinematics?","answers":[{"id":283,"content_html":"Kinematics is the study
        of motion","correctness":"1.0","feedback_html":"Correct! Motion of a body
        is studied under kinematics"},{"id":284,"content_html":"Kinematics is the
        study of cause of motion","correctness":"0.0","feedback_html":"Do you think
        cause of motion is studied under kinematics? What about the study of force
        and its effect on a body. Is that kinematics?"},{"id":285,"content_html":"Kinematics
        is the study of dimensions","correctness":"0.0","feedback_html":"Is it correct
        to say that dimensional analysis is done in kinematics?"},{"id":286,"content_html":"Kinematics
        is the study of atomic structure","correctness":"0.0","feedback_html":"Are
        you sure that the study of atomic structures is a part of kinematics?"}],"hints":[],"formats":["multiple-choice","free-response"],"combo_choices":[]}]}]}'
  recorded_at: Tue, 10 Mar 2015 22:40:18 GMT
recorded_with: VCR 2.9.3
