---
http_interactions:
- request:
    method: get
    uri: http://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-ex002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://exercises-dev1.openstax.org/api/exercises?q=tag%3Ak12phys-ch04-ex002
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Tue, 10 Mar 2015 22:40:18 GMT
- request:
    method: get
    uri: https://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-ex002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"4be5e27104d569155fe93797f4f60e9d"
    body:
      encoding: UTF-8
      string: '{"total_count":1,"items":[{"uid":"2@1","number":2,"version":1,"published_at":"2015-03-10T19:49:17.840Z","editors":[],"authors":[{"user_id":1}],"copyright_holders":[{"user_id":2}],"derived_from":[],"attachments":[],"tags":["k12phys-ch04-s01-lo01","k12phys-ch04-ex002","practice-concepts","inbook-yes","dok2","time-short","display-free-response","display-rec-sensitive"],"stimulus_html":"","questions":[{"id":80,"stimulus_html":"","stem_html":"Do
        two bodies have to be in contact to exert force on one another? Explain with
        examples.","answers":[{"id":290,"content_html":"Yes, gravitational force is
        a contact force and requires physical contact to exert force.","correctness":"0.0","feedback_html":"Are
        you sure that gravitational force is a contact force? Can you differentiate
        between field and contact forces?"},{"id":289,"content_html":"Yes, gravitational
        force is a field force and requires physical contact to exert force.","correctness":"0.0","feedback_html":"It
        is correct that the gravitational force is a field force but do you think
        field forces require physical contact to exert force?"},{"id":288,"content_html":"No,
        gravitational force is a contact force and does not require physical contact
        to exert force.","correctness":"0.0","feedback_html":"Do you think gravitational
        force is a contact force? Also, can the contact force act without physical
        contact?"},{"id":287,"content_html":"No, gravitational force is a field force
        and does not requires physical contact to exert force.","correctness":"1.0","feedback_html":"Correct!
        Gravitational force can exist between two objects as it is a field force and
        does not require physical contact."}],"hints":[],"formats":["multiple-choice","free-response"],"combo_choices":[]}]}]}'
  recorded_at: Tue, 10 Mar 2015 22:40:18 GMT
recorded_with: VCR 2.9.3
