---
http_interactions:
- request:
    method: get
    uri: http://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-ex002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://exercises-dev1.openstax.org/api/exercises?q=tag%3Ak12phys-ch04-ex002
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx/1.4.6
        (Ubuntu)</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Sat, 07 Mar 2015 00:33:31 GMT
- request:
    method: get
    uri: https://exercises-dev1.openstax.org/api/exercises?q=tag:k12phys-ch04-ex002
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"f9e95a120812708836b28f4e733c825f"
    body:
      encoding: UTF-8
      string: '{"total_count":1,"items":[{"uid":"2@1","number":2,"version":1,"published_at":"2015-03-07T00:11:21.610Z","editors":[],"authors":[{"user_id":2}],"copyright_holders":[{"user_id":3}],"derived_from":[],"attachments":[],"tags":["k12phys-ch04-s01-lo01","k12phys-ch04-ex002","practice-concepts","inbook-yes","dok-1","time-short","display-free-response","display-rec-sensitive"],"stimulus_html":"","questions":[{"stimulus_html":"","stem_html":"<p>What
        is kinematics?</p>\n","answers":[{"content_html":"<p>Kinematics is the study
        of atomic structure</p>\n","correctness":"0.0","feedback_html":"<p>Are you
        sure that the study of atomic structures is a part of kinematics?</p>\n"},{"content_html":"<p>Kinematics
        is the study of dimensions</p>\n","correctness":"0.0","feedback_html":"<p>Is
        it correct to say that dimensional analysis is done in kinematics?</p>\n"},{"content_html":"<p>Kinematics
        is the study of cause of motion</p>\n","correctness":"0.0","feedback_html":"<p>Do
        you think cause of motion is studied under kinematics? What about the study
        of force and its effect on a body. Is that kinematics?</p>\n"},{"content_html":"<p>Kinematics
        is the study of motion</p>\n","correctness":"1.0","feedback_html":"<p>Correct!
        Motion of a body is studied under kinematics</p>\n"}],"hints":[],"formats":["multiple-choice","free-response"],"combo_choices":[]}]}]}'
  recorded_at: Sat, 07 Mar 2015 00:33:31 GMT
recorded_with: VCR 2.9.3
