<%= form_for @cohort, url: url do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>


  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
