---
http_interactions:
- request:
    method: post
    uri: https://cs51.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Flossie","LastName":"Bailey","AccountId":"0014B00000DaY04QAF"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=756/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0034B00000BJSxtQAH"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0034B00000BJSxtQAH","success":true,"errors":[]}'
  recorded_at: Mon, 13 Mar 2017 22:12:32 GMT
- request:
    method: post
    uri: https://cs51.salesforce.com/services/data/v29.0/sobjects/Individual_Adoption__c
    body:
      encoding: UTF-8
      string: '{"Contact__c":"0034B00000BJSxtQAH","Book__c":"a0Z4B0000002sxQUAQ","Account__c":"0014B00000DaY04QAF","Spring_Start_Date__c":"2017-01-01"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=749/48000
      Location:
      - "/services/data/v29.0/sobjects/Individual_Adoption__c/a1W4B000000gORnUAM"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1W4B000000gORnUAM","success":true,"errors":[]}'
  recorded_at: Mon, 13 Mar 2017 22:12:33 GMT
- request:
    method: post
    uri: https://cs51.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c
    body:
      encoding: UTF-8
      string: '{"Product__c":"Tutor","Individual_Adoption__c":"a1W4B000000gORnUAM","Contact__c":"0034B00000BJSxtQAH"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=757/48000
      Location:
      - "/services/data/v29.0/sobjects/OS_Ancillary__c/a1S4B000000CvKrUAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1S4B000000CvKrUAK","success":true,"errors":[]}'
  recorded_at: Mon, 13 Mar 2017 22:12:34 GMT
- request:
    method: get
    uri: https://cs51.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Book_Text__c,%20Contact__c,%20Book__c,%20Account__c,%20School_Year__c,%20Fall_Start_Date__c,%20Summer_Start_Date__c,%20Winter_Start_Date__c,%20Spring_Start_Date__c,%20TermYear__c,%20Class_Start_Date__c%20FROM%20Individual_Adoption__c%20WHERE%20(Contact__c%20=%20%270034B00000BJSxtQAH%27)%20AND%20(Book_Text__c%20=%20%27Chemistry%27)%20AND%20(School_Year__c%20=%20%272016%20-%2017%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=752/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Individual_Adoption__c","url":"/services/data/v29.0/sobjects/Individual_Adoption__c/a1W4B000000gORnUAM"},"Id":"a1W4B000000gORnUAM","Book_Text__c":"Chemistry","Contact__c":"0034B00000BJSxtQAH","Book__c":"a0Z4B0000002sxQUAQ","Account__c":"0014B00000DaY04QAF","School_Year__c":"2016
        - 17","Fall_Start_Date__c":null,"Summer_Start_Date__c":null,"Winter_Start_Date__c":null,"Spring_Start_Date__c":"2017-01-01","TermYear__c":"2016
        - 17 Spring","Class_Start_Date__c":null}]}'
  recorded_at: Mon, 13 Mar 2017 22:12:35 GMT
- request:
    method: get
    uri: https://cs51.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c,%20Contact__c%20FROM%20OS_Ancillary__c%20WHERE%20(Individual_Adoption__c%20=%20%27a1W4B000000gORnUAM%27)%20AND%20(Product__c%20=%20%27Tutor%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=750/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OS_Ancillary__c","url":"/services/data/v29.0/sobjects/OS_Ancillary__c/a1S4B000000CvKrUAK"},"Id":"a1S4B000000CvKrUAK","Status__c":null,"Product__c":"Tutor","Account_Type__c":null,"Book_Name__c":"Chemistry","Class_Start_Date__c":null,"Course_Name__c":null,"Course_Code__c":null,"External_ID__c":null,"E_Created_Date__c":null,"Error__c":null,"General_Access_URL__c":null,"Teacher_Join_URL__c":null,"School_Name__c":"JP
        University","Active_Teachers__c":null,"Sections__c":null,"Students_Using__c":null,"TermYear__c":"2016
        - 17 Spring","Opportunity__c":null,"Individual_Adoption__c":"a1W4B000000gORnUAM","Contact__c":"0034B00000BJSxtQAH"}]}'
  recorded_at: Mon, 13 Mar 2017 22:12:35 GMT
recorded_with: VCR 2.9.3
