---
http_interactions:
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Macey","LastName":"Considine","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=97/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0033B000008kt87QAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B000008kt87QAA","success":true,"errors":[]}'
  recorded_at: Sun, 29 Jan 2017 00:09:57 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Individual_Adoption__c
    body:
      encoding: UTF-8
      string: '{"Contact__c":"0033B000008kt87QAA","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=103/48000
      Location:
      - "/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000VbFqUAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1W3B000000VbFqUAK","success":true,"errors":[]}'
  recorded_at: Sun, 29 Jan 2017 00:09:57 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c
    body:
      encoding: UTF-8
      string: '{"Product__c":"Tutor","Individual_Adoption__c":"a1W3B000000VbFqUAK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=96/48000
      Location:
      - "/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E16LUAS"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1S3B000000E16LUAS","success":true,"errors":[]}'
  recorded_at: Sun, 29 Jan 2017 00:09:58 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20IN%20(%27a1S3B000000E16LUAS%27))
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=103/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OS_Ancillary__c","url":"/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E16LUAS"},"Id":"a1S3B000000E16LUAS","Status__c":null,"Product__c":"Tutor","Account_Type__c":null,"Book_Name__c":"Chemistry","Class_Start_Date__c":"2017-01-01","Course_Name__c":null,"Course_Code__c":null,"External_ID__c":null,"E_Created_Date__c":null,"Error__c":null,"General_Access_URL__c":null,"Teacher_Join_URL__c":null,"School_Name__c":"JP
        University","Active_Teachers__c":null,"Sections__c":null,"Students_Using__c":null,"TermYear__c":"2016
        - 17 Spring","Opportunity__c":null,"Individual_Adoption__c":"a1W3B000000VbFqUAK"}]}'
  recorded_at: Sun, 29 Jan 2017 00:09:58 GMT
- request:
    method: patch
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E16LUAS
    body:
      encoding: UTF-8
      string: '{"Status__c":"Approved","External_ID__c":4,"E_Created_Date__c":"2017-01-29T00:09:54Z","Teacher_Join_URL__c":"http://localhost:3001/teach/f291f7301b146388bcc201e02ad3b710/DO_NOT_GIVE_TO_STUDENTS","Active_Teachers__c":1,"Sections__c":2,"Students_Using__c":6}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=101/48000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sun, 29 Jan 2017 00:09:59 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20[...]
