---
http_interactions:
- request:
    method: get
    uri: https://cs13.salesforce.com/services/data/v29.0/query?q=SELECT%20count(Id)%20FROM%20Opportunity
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=7/45000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"AggregateResult"},"expr0":0}]}'
  recorded_at: Mon, 23 Jan 2017 07:00:51 GMT
recorded_with: VCR 2.9.3
