---
http_interactions:
- request:
    method: post
    uri: https://test.salesforce.com/services/oauth2/token
    body:
      encoding: US-ASCII
      string: grant_type=password&client_id=<salesforce_consumer_key>&client_secret=<salesforce_consumer_secret>&username=<salesforce_username_url>&password=<salesforce_password_url><salesforce_security_token>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Readonlymode:
      - 'false'
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"<salesforce_access_token>","instance_url":"<salesforce_instance_url>","id":"<salesforce_id>","token_type":"Bearer","issued_at":"1615931631079","signature":"<salesforce_signature>"}'
  recorded_at: Tue, 16 Mar 2021 21:53:51 GMT
[...]
- request:
    method: get
    uri: "<salesforce_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20Annualization_number__c%20FROM%20Book__c%20WHERE%20(Name%20IN%20(%27Chemistry%27,%27Physics%27))"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=590/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v37.0/sobjects/Book__c/a0Z0v000002VhAtEAK"},"Id":"a0Z0v000002VhAtEAK","Name":"Chemistry","Annualization_number__c":1.4}]}'
  recorded_at: Tue, 16 Mar 2021 21:53:51 GMT
- request:
    method: post
    uri: "<salesforce_instance_url>/services/data/v37.0/sobjects/Book__c"
    body:
      encoding: UTF-8
      string: '{"Name":"Physics","Annualization_number__c":1.6}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=590/5000000
      Location:
      - "/services/data/v37.0/sobjects/Book__c/a0Z0v000002Oq7lEAC"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a0Z0v000002Oq7lEAC","success":true,"errors":[]}'
  recorded_at: Tue, 16 Mar 2021 21:53:52 GMT
- request:
    method: get
    uri: "<salesforce_instance_url>/services/data/v37.0/query?q=SELECT%20Id,%20Name,%20BillingCity,%20BillingState,%20Type,%20School_Location__c,%20SheerID_School_Name__c,%20K_I_P__c,%20child_of_kip__c%20FROM%20Account%20WHERE%20(RecordType.Name%20=%20%27School%27)%20AND%20(Name%20IN%20(%27JP%20University%27))"
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<Authorization 1>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=590/5000000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Account","url":"/services/data/v37.0/sobjects/Account/0010v00000bM8kQAAS"},"Id":"0010v00000bM8kQAAS","Name":"JP
        University","BillingCity":null,"BillingState":null,"Type":null,"School_Location__c":"Domestic","SheerID_School_Name__c":null,"K_I_P__c":false,"child_of_kip__c":false}]}'
  recorded_at: Tue, 16 Mar 2021 21:53:52 GMT
recorded_with: VCR 4.0.0
