<% @page_header = "Tags" %>

<%= render partial: 'manager/tags/index',
           locals: { query: params[:query],
                     items: @tags,
                     page: params[:page],
                     per_page: @per_page,
                     extra_headers: 'Actions',
                     extra_fields_proc: lambda do |tag| %>
          <td>
            <%= link_to 'Edit', edit_admin_tag_path(tag.id), class: "btn btn-xs btn-primary"  %>
          </td>
<% end } %>
