# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
development:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || '8adbae8dca077320646d96808890138f8e9256da4f311eeffde38405ca11b7c0' %>
  mail_site_url: <%= ENV["MAIL_SITE_URL"] || 'http://localhost:3001' %>
  js_url: <%= ENV["JS_URL"] || 'http://localhost:8000/dist/tutor.js' %>
  css_url: <%= ENV["CSS_URL"] || 'http://localhost:8000/dist/tutor.css' %>
  timecop_enable: <%= ENV["TIMECOP_ENABLE"] %>
  background_worker_timeout: <%= ENV["BACKGROUND_WORKER_TIMEOUT"] || 15.minutes %>
  demo_user_password: <%= ENV["DEMO_USER_PASSWORD"] || 'password' %>
  cc_origins: # list of url prefixes allowed to access concept coach resources via CORS
    - http://localhost:3001
    - http://localhost:3005 # concept coach dev server
  ga_tracking_code: ''
  salesforce:
    consumer_key: <%= ENV["SALESFORCE_CONSUMER_KEY"] %>
    consumer_secret: <%= ENV["SALESFORCE_CONSUMER_SECRET"] %>
    login_site: <%= ENV["SALESFORCE_LOGIN_SITE"] || 'https://test.salesforce.com' %>
    allow_use_of_real_data: false
    mail_recipients: 'recipients@example.org'
  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV["REDIS_NAMESPACES_CACHE"] || 'cache' %>
      settings: <%= ENV["REDIS_NAMESPACES_SETTINGS"] || 'settings' %>
      jobba: <%= ENV["REDIS_NAMESPACES_LEV"] || 'jobba' %>
      active_force: <%= ENV["REDIS_NAMESPACES_ACTIVE_FORCE"] || 'active_force' %>
      fake_biglearn: <%= ENV["REDIS_NAMESPACES_FAKE_BIGLEARN"] || 'fake_biglearn' %>
      fake_exercises: <%= ENV["REDIS_NAMESPACES_FAKE_EXERCISES"] || 'fake_exercises' %>
  environment_name: 'dev'
  exception:
    contact_name: <%= ENV["EXCEPTION_CONTACT_NAME"] || 'OpenStax' %>
    sender: <%= ENV["EXCEPTION_SENDER"] || 'sender@example.org' %>
    recipients: <%= (ENV["EXCEPTION_RECIPIENTS"] || 'recipients@example.org').split.compact %>
  owncloud:
    username: <%= ENV["OWNCLOUD_USERNAME"] %>
    password: <%= ENV["OWNCLOUD_PASSWORD"] %>
    base_url: <%= ENV["OWNCLOUD_BASE_URL"] %>
    research_folder: <%= ENV["OWNCLOUD_RESEARCH_FOLDER"] %>
    excluded_exercises_stats_folder: <%= ENV["OWNCLOUD_EXCLUDED_EXERCISES_STATS_FOLDER"] %>
  openstax:
    accounts:
      client_id: <%= ENV["OPENSTAX_ACCOUNTS_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_ACCOUNTS_SECRET"] %>
      url: <%= ENV["OPENSTAX_ACCOUNTS_URL"] || 'http://localhost:2999' %>
      stub: <%= ENV["OPENSTAX_ACCOUNTS_STUB"] %>
    cnx:
      archive_url: <%= ENV["OPENSTAX_CNX_ARCHIVE_URL"] || 'https://archive.cnx.org/' %>
    exercises:
      client_id: <%= ENV["OPENSTAX_EXERCISES_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_EXERCISES_SECRET"] %>
      url: <%= ENV["OPENSTAX_EXERCISES_URL"] || 'https://exercises-dev.openstax.org' %>
      stub: <%= ENV["OPENSTAX_EXERCISES_STUB"] %>
    biglearn:
      client_id: <%= ENV["OPENSTAX_BIGLEARN_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_BIGLEARN_SECRET"] %>
      url: <%= ENV["OPENSTAX_BIGLEARN_URL"] || 'https://biglearn-dev.openstax.org' %>
      stub: <%= ENV["OPENSTAX_BIGLEARN_STUB"] %>
    osweb:
      errata_form_url: <%= ENV["OPENSTAX_ERRATA_FORM_URL"] || 'https://oscms.openstax.org/errata/form' %>

test:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || 'c839cca39849dacab21de5bdfe69d921502e74c1b6c176208161ce4c1b84fd0a' %>
  mail_site_url: http://localhost:3001
  js_url: http://localhost:8000/dist/tutor.js
  css_url: http://localhost:8000/dist/tutor.css
  timecop_enable: false
  background_worker_timeout: 15.minutes
  demo_user_password: password
  ga_tracking_code: ''
  cc_origins: # list of url prefixes allowed to access concept coach resources via CORS
     - http://localhost:3001
  salesforce:
    consumer_key: ~
    consumer_secret: ~
    login_site: ~
    allow_use_of_real_data: false
    mail_recipients: 'recipients@example.org'
    tutor_specs_oauth_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN"] || 'tutor_specs_oauth_token' %>
    tutor_specs_refresh_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_REFRESH_TOKEN"] || 'tutor_specs_refresh_token' %>
    tutor_specs_instance_url: <%= ENV["SALESFORCE_TUTORSPECS_USER_INSTANCE_URL"] || 'https://cs51.salesforce.com' %>
  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV["REDIS_NAMESPACES_CACHE"] || 'cache' %>
      settings: <%= ENV["REDIS_NAMESPACES_SETTINGS"] || 'settings' %>
      jobba: <%= ENV["REDIS_NAMESPACES_LEV"] || 'jobba' %>
      fake_biglearn: <%= ENV["REDIS_NAMESPACES_FAKE_BIGLEARN"] || 'fake_biglearn' %>
      fake_exercises: <%= ENV["REDIS_NAMESPACES_FAKE_EXERCISES"] || 'fake_exercises' %>
  environment_name: 'test'
  exception:
    contact_name: OpenStax
    sender: sender@example.org
    recipients: recipients@example.org
  owncloud:
    username: ~
    password: ~
    base_url: ~
    research_folder: ~
    excluded_exercises_stats_folder: ~
  openstax:
    accounts:
      client_id: ~
      secret: ~
      url: http://localhost:2999
      stub: true
    cnx:
      archive_url: https://archive-staging-tutor.cnx.org/
    exercises:
      client_id: ~
      secret: ~
      url: https://exercises-dev.openstax.org
      stub: false
    biglearn:
      client_id: ~
      secret: ~
      url: https://biglearn-dev.openstax.org
      stub: true
    osweb:
      errata_form_url: https://oscms.openstax.org/errata/form
