# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.
development:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || '8adbae8dca077320646d96808890138f8e9256da4f311eeffde38405ca11b7c0' %>
  mail_site_url: <%= ENV["MAIL_SITE_URL"] || 'http://localhost:3001' %>
  js_url: <%= ENV["JS_URL"] || 'http://localhost:8000/dist/tutor.js' %>
  css_url: <%= ENV["CSS_URL"] || 'http://localhost:8000/dist/tutor.css' %>
  timecop_enable: <%= ENV["TIMECOP_ENABLE"] %>
  demo_user_password: <%= ENV["DEMO_USER_PASSWORD"] || 'password' %>
  cc_origins: # list of url prefixes allowed to access concept coach resources via CORS
    - http://localhost:3001
    - http://localhost:3005 # concept coach dev server
  salesforce:
    consumer_key: <%= ENV["SALESFORCE_CONSUMER_KEY"] %>
    consumer_secret: <%= ENV["SALESFORCE_CONSUMER_SECRET"] %>
    login_site: <%= ENV["SALESFORCE_LOGIN_SITE"] || 'https://test.salesforce.com' %>
    allow_use_of_real_data: false
    mail_recipients: 'recipients@example.org'
  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV["REDIS_NAMESPACES_CACHE"] || 'cache' %>
      settings: <%= ENV["REDIS_NAMESPACES_SETTINGS"] || 'settings' %>
      jobba: <%= ENV["REDIS_NAMESPACES_LEV"] || 'jobba' %>
      active_force: <%= ENV["REDIS_NAMESPACES_ACTIVE_FORCE"] || 'active_force' %>
      fake_biglearn: <%= ENV["REDIS_NAMESPACES_FAKE_BIGLEARN"] || 'fake_biglearn' %>
      fake_exercises: <%= ENV["REDIS_NAMESPACES_FAKE_EXERCISES"] || 'fake_exercises' %>
      fake_payments: <%= ENV["REDIS_NAMESPACES_FAKE_PAYMENTS"] || 'fake_payments' %>
  environment_name: 'dev'
  exception:
    contact_name: <%= ENV["EXCEPTION_CONTACT_NAME"] || 'OpenStax' %>
    sender: <%= ENV["EXCEPTION_SENDER"] || 'sender@example.org' %>
    recipients: <%= (ENV["EXCEPTION_RECIPIENTS"] || 'recipients@example.org').split.compact %>
  owncloud:
    username: <%= ENV["OWNCLOUD_USERNAME"] %>
    password: <%= ENV["OWNCLOUD_PASSWORD"] %>
    base_url: <%= ENV["OWNCLOUD_BASE_URL"] %>
    research_folder: <%= ENV["OWNCLOUD_RESEARCH_FOLDER"] %>
    excluded_exercises_stats_folder: <%= ENV["OWNCLOUD_EXCLUDED_EXERCISES_STATS_FOLDER"] %>
  openstax:
    accounts:
      client_id: <%= ENV["OPENSTAX_ACCOUNTS_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_ACCOUNTS_SECRET"] %>
      url: <%= ENV["OPENSTAX_ACCOUNTS_URL"] || 'http://localhost:2999' %>
      stub: <%= ENV.fetch("OPENSTAX_ACCOUNTS_STUB", true) %>
    cnx:
      archive_url: <%= ENV["OPENSTAX_CNX_ARCHIVE_URL"] || 'https://archive.cnx.org/' %>
    exercises:
      client_id: <%= ENV["OPENSTAX_EXERCISES_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_EXERCISES_SECRET"] %>
      url: <%= ENV["OPENSTAX_EXERCISES_URL"] || 'https://exercises-dev.openstax.org' %>
      stub: <%= ENV.fetch("OPENSTAX_EXERCISES_STUB", false) %>
    biglearn:
      api:
        url: <%= ENV["OPENSTAX_BIGLEARN_URL"] || 'http://localhost:3000' %>
        token: <%= ENV['OPENSTAX_BIGLEARN_API_TOKEN'] || 'c2026820cc04587d59de4d4a5ad0781cfe3d6f83d5644e3d785d371c5bba8caf0e214df702cdbe81e1e7eeb4e42002f5036bbf4010f4930da0b29f1fc13525f3' %>
        client_id: <%= ENV["OPENSTAX_BIGLEARN_CLIENT_ID"] %>
        secret: <%= ENV["OPENSTAX_BIGLEARN_SECRET"] %>
        stub: <%= ENV.fetch("OPENSTAX_BIGLEARN_STUB", true) %>
    payments:
      client_id: <%= ENV["OPENSTAX_PAYMENTS_CLIENT_ID"] %>
      secret: <%= ENV["OPENSTAX_PAYMENTS_SECRET"] %>
      url: <%= ENV["OPENSTAX_PAYMENTS_URL"] %>
      embed_js_url: <%= ENV["OPENSTAX_PAYMENTS_EMBED_JS_URL"] || 'http://localhost:8001/pay/embed.js' %>
      product_uuid: <%= ENV["OPENSTAX_PAYMENTS_PRODUCT_UUID"] || '6d60ab29-3b3d-575a-93ef-57d62e30984c' %>
      url: <%= ENV["OPENSTAX_PAYMENTS_URL"] %>
      stub: <%= ENV.fetch("OPENSTAX_PAYMENTS_STUB", true) %>
    osweb:
      errata_form_url: <%= ENV["OPENSTAX_ERRATA_FORM_URL"] || 'https://oscms.openstax.org/errata/form' %>

test:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] || 'c839cca39849dacab21de5bdfe69d921502e74c1b6c176208161ce4c1b84fd0a' %>
  mail_site_url: http://localhost:3001
  js_url: http://localhost:8000/dist/tutor.js
  css_url: http://localhost:8000/dist/tutor.css
  timecop_enable: false
  demo_user_password: password
  cc_origins: # list of url prefixes allowed to access concept coach resources via CORS
     - http://localhost:3001
  salesforce:
    consumer_key: <%= ENV["SALESFORCE_CONSUMER_KEY"] || 'key'  %>
    consumer_secret: <%= ENV["SALESFORCE_CONSUMER_SECRET"] || 'secret'  %>
    login_site: <%= ENV["SALESFORCE_LOGIN_SITE"] || 'https://test.salesforce.com' %>
    allow_use_of_real_data: false
    mail_recipients: 'recipients@example.org'
    tutor_specs_oauth_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_OAUTH_TOKEN"] || 'tutor_specs_oauth_token' %>
    tutor_specs_refresh_token: <%= ENV["SALESFORCE_TUTORSPECS_USER_REFRESH_TOKEN"] || 'tutor_specs_refresh_token' %>
    tutor_specs_instance_url: <%= ENV["SALESFORCE_TUTORSPECS_USER_INSTANCE_URL"] || 'https://cs51.salesforce.com' %>
  redis:
    url: <%= ENV["REDIS_URL"] || 'redis://localhost:6379/0' %>
    namespaces:
      cache: <%= ENV["REDIS_NAMESPACES_CACHE"] || 'cache' %>
      settings: <%= ENV["REDIS_NAMESPACES_SETTINGS"] || 'settings' %>
      jobba: <%= ENV["REDIS_NAMESPACES_LEV"] || 'jobba' %>
      fake_biglearn: <%= ENV["REDIS_NAMESPACES_FAKE_BIGLEARN"] || 'fake_biglearn' %>
      fake_exercises: <%= ENV["REDIS_NAMESPACES_FAKE_EXERCISES"] || 'fake_exercises' %>
      fake_payments: <%= ENV["REDIS_NAMESPACES_FAKE_PAYMENTS"] || 'fake_payments' %>
  environment_name: 'test'
  exception:
    contact_name: OpenStax
    sender: sender@example.org
    recipients: recipients@example.org
  owncloud:
    username: ~
    password: ~
    base_url: ~
    research_folder: ~
    excluded_exercises_stats_folder: ~
  openstax:
    accounts:
      client_id: ~
      secret: ~
      url: http://localhost:2999
      stub: true
    cnx:
      archive_url: https://archive-staging-tutor.cnx.org/
    exercises:
      client_id: ~
      secret: ~
      url: https://exercises-dev.openstax.org
      stub: false
    biglearn:
      api:
        url: http://localhost:3000
        token: <%= ENV['OPENSTAX_BIGLEARN_API_TOKEN'] || '56c3d42cdd96f892ec5448efbe7bfd52a6ff2c874319e7b7297e1ae0dffc1db999cff1c5eb5d5d1ba4e4a16069f72a8bd961791df75d9dd97ff029325eb9fb98' %>
        client_id: ~
        secret: ~
        stub: true
    payments:
      client_id: <%= ENV["OPENSTAX_PAYMENTS_CLIENT_ID"] || 'client_id' %>
      secret: <%= ENV["OPENSTAX_PAYMENTS_SECRET"] || 'secret' %>
      url: <%= ENV["OPENSTAX_PAYMENTS_URL"] || "http://www.example.com" %>
      embed_js_url: <%= ENV["OPENSTAX_PAYMENTS_EMBED_JS_URL"] || 'http://localhost:8001/pay/embed.js' %>
      product_uuid: <%= ENV["OPENSTAX_PAYMENTS_PRODUCT_UUID"] || '6d60ab29-3b3d-575a-93ef-57d62e30984c' %>
      stub: <%= ENV["OPENSTAX_PAYMENTS_STUB"].nil? ? true : ENV["OPENSTAX_PAYMENTS_STUB"] %>
    osweb:
      errata_form_url: https://oscms.openstax.org/errata/form
