---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20210514.171726/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.46.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Amz-Replication-Status:
      - COMPLETED
      Last-Modified:
      - Tue, 18 May 2021 22:29:20 GMT
      Etag:
      - W/"d43d35b67f000b2e959b63408877ebf7"
      X-Amz-Version-Id:
      - wmG2ukzWbxfNX.NcBdDbdgIYle3at35S
    body:
      encoding: ASCII-8BIT
      string: '{"id": "405335a3-7cff-4df2-a9ad-29062a4af261", "version": "8.46", "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "legacy_id": "col12006",
        "legacy_version": "1.8", "title": "College Physics with Courseware", "revised":
        "2021-03-30T11:11:49.351646-05:00", "tree": {"id": "405335a3-7cff-4df2-a9ad-29062a4af261@8.46",
        "title": "College Physics with Courseware", "contents": [{"id": "1927c53d-6fc8-5d7b-87aa-7acd2880752a@8.46",
        "title": "<span class=\"os-number\"><span class=\"os-part-text\">Chapter </span>1</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction:
        The Nature of Science and Physics</span>", "contents": [{"id": "c6b53107-4efb-48a9-8ccf-4db622f029f3@1",
        "title": "<span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction
        to Science and the Realm of Physics, Physical Quantities, and Units</span>",
        "slug": "1-introduction-to-science-and-the-realm-of-physics-physical-quantities-and-units"},
        {"id": "95497188-90c9-4aff-9446-222d4d6f9743@10", "title": "<span class=\"os-number\">1.1</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Physics:
        An Introduction</span>", "slug": "1-1-physics-an-introduction"}, {"id": "1b79a450-f691-4301-aef3-d065268ab4a9@6",
        "title": "<span class=\"os-number\">1.2</span><span class=\"os-divider\">
 [...]
