---
http_interactions:
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/548a8717-71e1-4d65-80f0-7b8c6ed4b4c0@3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "3", "submitlog": "Nothing", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-06-01T16:37:42Z",
        "printStyle": null, "roles": null, "keywords": ["weight", "velocity", "vector",
        "speed", "proportionality", "Newton\u2019s second law of motion", "newton",
        "net external force", "mass", "inversely proportional", "gravity", "gravitational
        force", "freefall", "force", "acceleration"], "id": "548a8717-71e1-4d65-80f0-7b8c6ed4b4c0",
        "title": "Newton''s Second Law of Motion", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Newton''s Second Law of Motion</title><meta
        name=\"created-time\" content=\"2015/05/29 14:21:32 -0500\"/><meta name=\"revised-time\"
        content=\"2015/06/01 11:37:42.690 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"acl-list\" content=\"tutor_hsphysics\"/><meta name=\"licensor\" content=\"tutor_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"acceleration, force, freefall, gravitational force,
        gravity, inversely proportional, mass, net external force, newton, Newton&#8217;s
        second law of motion, proportionality, speed, vector, velocity, weight\"/><meta
        name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Newton''s Second Law of Motion</div>\n <section
        data-depth=\"1\" id=\"fs-idp621856\" class=\"section-opener\">\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-idm47416528\" class=\"note learning-objectives\"
        data-label=\"\"><div data-type=\"title\" class=\"title\">Section Learning
        Objectives</div>\n<p id=\"fs-idm15638672\">By the end of this section, you
        will be able to:</p>\n<ul id=\"fs-idm90795248\">\n<li class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch04-s03-lo01 ost-tag-teks-112-39-c-4d\">Describe Newton&#8217;s
        second law both verbally and mathematically</li>\n<li class=\"ost-learning-objective-def
        ost-tag-lo-k12phys-ch04-s03-lo02 ost-tag-teks-112-39-c-4d\">Use Newton&#8217;s
        second law to solve problems</li>\n</ul>\n</div>\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-idp14534688\" class=\"note os-teacher\" data-label=\"Teacher
        Support\">\n<p id=\"fs-idm74395328\">The Learning Objectives in this section
        will help your students master the following TEKS:</p>\n<ul id=\"fs-idp8576352\">\n<li>(4)
        Science concepts. The student knows and applies the laws governing motion
        in a variety of situations. The student is expected to:\n<ul id=\"fs-idm60653904\">\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4d\"><span
        class=\"ost-standards-name\">(4D)</span><span class=\"ost-standards-discard\">:</span>
        <span class=\"ost-standards-description\">calculate the effect of forces on
        objects, including the law of inertia, the relationship between force and
        acceleration, and the nature of force pairs between objects</span></li>\n<li>Before
        beginning this section, review forces, acceleration, acceleration due to gravity
        (g), friction, inertia, and Newton&#8217;s First Law.</li>\n</ul>\n</li>\n</ul>\n</div>\n  <table
        id=\"fs-idm75177232\" summary=\"The list of Key Terms includes: freefall,
        Newton''s second law of motion, and weight.\" class=\"unnumbered key-terms
        ost-reading-discard\" data-label=\"\"><caption><span data-type=\"title\">Section
        Key Terms</span></caption><tbody>\n<tr>\n<td>freefall</td>\n<td>Newton&#8217;s
        second law of motion</td>\n<td>weight</td>\n</tr>\n</tbody></table></section>\n<section
        data-depth=\"1\" id=\"fs-idp20261488\" class=\"ost-tag-lo-k12phys-ch04-s03-lo01\"><h1
        data-type=\"title\">Describing Newton&#8217;s Second Law of Motion</h1>\n<div
        data-type=\"note\" data-has-label=\"true\" id=\"fs-idm72906336\" class=\"note
        os-teacher\" data-label=\"Teacher Support\">\n<p id=\"fs-idm45977568\"><span
        class=\"ost-level-below\">[BL]</span><span class=\"ost-level-on\">[OL]</span>
        Review the concepts of inertia and Newton&#8217;s first law. Explain that,
        according to Newton&#8217;s First Law, a change in motion is caused by an
        external force. For instance, a ball that is pitched changes its speed and
        direction when it is hit by a bat.</p>\n<p id=\"fs-idm72414080\"><span class=\"ost-level-below\">[BL]</span><span
        class=\"ost-level-on\">[OL]</span><span class=\"ost-level-above\">[AL]</span>
        Write the equation for Newton&#8217;s Second Law and show how it can be solved
        for all three variables, <em data-effect=\"italics\">F</em>, <em data-effect=\"italics\">m</em>,
        and <em data-effect=\"italics\">a</em>. Explain the practical implications
        for each case. Ask students how the other two variables would behave if one
        quantity is held constant.</p>\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-idm4606736\" class=\"note osc-misconception\" data-label=\"Misconception
        Alert\">\n<p id=\"fs-idp8197424\">Students might confuse the terms &#8220;equal&[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.32
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive1
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.32; you should be redirected automatically.

  recorded_at: Fri, 12 Feb 2021 18:24:15 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.32
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"jjUxK7HPYvKraA8NhzKoxA"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261/College-Physics-with-Courseware>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive3
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": [""], "version": "8.32", "submitlog": "errata sept-oct.
        -TM", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2021-01-07T21:20:05Z",
        "printStyle": "physics-prod", "roles": null, "keywords": [], "id": "405335a3-7cff-4df2-a9ad-29062a4af261",
        "canonical": null, "title": "College Physics with Courseware", "mediaType":
        "application/vnd.org.cnx.collection", "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261/College-Physics-with-Courseware",
        "subjects": [], "legacy_id": "col12006", "parentId": null, "resources": [{"media_type":
        "text/xml", "id": "334d301367e9e4c448cab3b52f658773fd480b89", "filename":
        "collection.xml"}], "publishers": [{"surname": "with Courseware", "suffix":
        null, "firstname": "OpenStax Physics", "title": "", "fullname": "OpenStax
        Physics with Courseware", "id": "cnxphyscw"}], "parent": {"authors": [], "shortId":
        null, "version": "", "id": null, "title": null}, "stateid": 1, "parentTitle":
        null, "shortId": "QFM1o3z_", "authors": [{"surname": "with Courseware", "suffix":
        null, "firstname": "OpenStax Physics", "title": "", "fullname": "OpenStax
        Physics with Courseware", "id": "cnxphyscw"}], "parentVersion": "", "legacy_version":
        "1.8", "licensors": [{"surname": "with Courseware", "suffix": null, "firstname":
        "OpenStax Physics", "title": "", "fullname": "OpenStax Physics with Courseware",
        "id": "cnxphyscw"}], "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Creative Commons Attribution License"},
        "created": "2016-05-02T18:26:54Z", "tree": {"shortId": "QFM1o3z_@8.32", "title":
        "College Physics with Courseware", "id": "405335a3-7cff-4df2-a9ad-29062a4af261@8.32",
        "contents": [{"shortId": "GSfFPW_I@8.32", "title": "<span class=\"os-number\">1</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction:
        The Nature of Science and Physics</span>", "id": "1927c53d-6fc8-5d7b-87aa-7acd2880752a@8.32",
        "contents": [{"shortId": "xrUxB077@1", "title": "<span data-type=\"\" itemprop=\"\"
        class=\"os-text\">Introduction to Science and the Realm of Physics, Physical
        Quantities, and Units</span>", "id": "c6b53107-4efb-48a9-8ccf-4db622f029f3@1",
        "slug": "1-introduction-to-science-and-the-realm-of-physics-physical-quantities-and-units"},
        {"shortId": "lUlxiJDJ@10", "title": "<span class=\"os-number\">1.1</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Physics:
        An Introduction</span>", "id": "95497188-90c9-4aff-9446-222d4d6f9743@10",
        "slug": "1-1-physics-an-introduction"}, {"shortId": "G3mkUPaR@6", "title":
        "<span class=\"os-number\">1.2</span><span class=\"os-d[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.32:32b51dcb-a8a8-5a9d-b938-b737bb40a289
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"ezljxJrcKQ10pykh2OmVNw"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:32b51dcb-a8a8-5a9d-b938-b737bb40a289/Prob[...]
