<%= simple_format @message %>
<% if @details.present? %>
<table>
  <% @details.each do | key, value | %>
  <tr>
    <td><%= key.to_s.humanize %>:</td>
    <td><%= simple_format value.to_s %></td>
  </tr>
  <% end %>
</table>
<% end %>
