---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@11"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 25 Mar 2015 13:19:53 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@11
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '488150'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "11", "submitlog": "added title
        back into section opener note", "abstract": null, "revised": "2015-03-19T21:42:34Z",
        "roles": null, "keywords": [], "id": "092bbf0d-0729-42ce-87a6-fd96fd87a083",
        "title": "Force", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Force</title><meta name=\"created-time\"
        content=\"2015/03/04 14:29:22 +0000\"/><meta name=\"revised-time\" content=\"2015/03/19
        16:42:34.130 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Force</div>\n<div data-type=\"note\" id=\"fs-id1165900790246\"
        class=\"section-opener\" data-label=\"\"><div data-type=\"title\">TBD</div><div
        data-type=\"note\" id=\"fs-id1165878444996\" class=\"learning-objectives\"
        data-label=\"\"><div data-type=\"title\">Section Learning Objectives</div>\n  <p
        id=\"eip-110\">By the end of this section, you will be able to:</p>  \n    <ul
        id=\"eip-idp30262832\">\n    <li class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo01
        ost-tag-teks-112-39-c-4c\"> Differentiate between force, net\nforce and dynamics</li>\n    <li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s01-lo02 ost-tag-teks-112-39-c-4e\">Draw
        a free-body diagram</li>\n    <li>Learn Newton&#8217;s 1st law: <math xmlns=\"http://www.w3.org/1998/Math/MathML\"
        display=\"inline\"><semantics><mrow><mtext>MATH</mtext></mrow><annotation-xml
        encoding=\"MathML-Content\"><mtext>MATH</mtext></annotation-xml></semantics></math></li>\n    </ul>\n\n</div><div
        data-type=\"note\" id=\"eip-568\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm2236496\">The Learning Objectives in this section
        will help your students master the following TEKS:</p> \n  (4) Science concepts.
        The student knows and applies the laws governing motion in a variety of situations.
        The student is expected to: \n  <ul id=\"fs-idm29263984\"><li class=\"ost-standards-def
        ost-standards-teks ost-tag-teks-112-39-c-4c\">(4C) <span class=\"ost-standards-def
        ost-standards-teks ost-tag-teks-112-39-c-4c\">analyze and describe accelerated
        motion in two dimensions using equations, including projectile and circular
        examples</span></li>\n    <li> (4E) <span class=\"ost-standards-def ost-standards-teks
        ost-tag-teks-112-39-c-4e\">develop and interpret free-body diagrams.</span></li>\n  </ul>\n\n<p
        id=\"eip-idm2196896\"><span class=\"level-below\">[BL]</span> <span class=\"level-on\">[OL]</span>
        Point out that objects at rest tend to stay at rest. A ball, for example,
        moves only when pushed or pulled. The action of pushing or pulling is the
        application of force. Force applied to an object changes its motion.<div data-type=\"newline\"><br/></div><span
        class=\"level-above\">[AL]</span> Start a discussion about force and motion.
        Ask students what would happen if more than one force is applied to an object.
        Take a heavy object such as a desk for demonstration. Ask one student to push
        it from one side. Explain how force and motion work. Now ask a second student
        to push it in the opposite direction. Ask students why no motion occurs even
        though the first student applies the same amount of force. Introduce the concept
        of adding forces.</p></div>\n<table id=\"eip-838\" summary=\"--\" class=\"key-terms
        ost-reading-discard unnumbered\" data-label=\"\"><caption><span data-type=\"title\">Section
        Key Terms</span></caption><tbody>\n  <tr>\n    <td>dynamics</td>\n    <td>external
        force</td>\n    <td>force</td>\n  </tr>\n  <tr>\n    <td>free body diagram</td>\n    <td>net
        external force</td>\n    <td>net force</td>\n  </tr>\n</tbody></table>\n</div><section
        data-depth=\"1\" id=\"eip-963\" class=\"ost-tag-lo-k12phys-ch04-s01-lo01\"><h1
        data-type=\"title\">Defining Force and <em data-effect=\"italics\">Dynamics</em></h1><div
        data-type=\"note\" id=\"eip-752\" class=\"os-teacher\" data-label=\"Teacher
        Edition\"><p id=\"eip-idm59057616\"><span class=\"level-on\">[OL]</span> Explain
        that the word dynamics comes from a Greek word meaning power. Also point out
        that the word &#8220;dynamics&#8221; is singular, like the word &#8220;physics.&#8221;
        <div data-type=\"newline\"><br/></div> <span class=\"level-below\">[BL]</span><span
        class=\"level-on\">[OL]</span> You may want to introduce the terms system,
        external force, and internal force. <div data-type=\"newline\"><br/></div><span
        class=\"level-above\">[AL]</span> Explain that both magnitude and direction
        must be considered when talking about forces.</p><div data-type=\"note\" id=\"fs-idm58745200\"
        class=\"teacher-demonstration\" data-label=\"Teacher Demonstration\">Demonstrate
        by using physical objects how different forces acting together can add if
        they act in the same direction or cancel if they act in opposite directions.
        Explain the terms \"acting on\" and \"being acted on.\"<figure id=\"eip-idm38910720\"><figcaption/><span
        data-type=\"media\" id=\"eip-idm8621056\" data-alt=\"Alt text\"><img src=\"/resources/4fd8ef6e594ffd1be3f2871c02b80868/OST_PhysicsTestContent_01_01_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure></div></div><p
        id=\"eip-305\"><span data-type=\"term\">Force</span> is the cause of motion,
        and motion draws our attention. Motion itself can be beautiful, such as a
        dolphin jumping out of the water, the flight of a bird, or the orbit of a
        satellite. The study of motion is called kinematics, but kinematics[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 11 Jun 2015 21:17:01 GMT
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/plain
    body:
      encoding: UTF-8
      string: Not Found
  recorded_at: Thu, 11 Jun 2015 21:25:19 GMT
recorded_with: VCR 2.9.3
