$orange: #F36B32;

@mixin mobile {
  @media screen and (max-width: 600px) { @content }
}

@mixin tablet {
  @media screen and (min-width: 601px) and (max-width: 999px) { @content }
}

@mixin desktop {
  @media screen and (min-width: 1000px) { @content }
}

.layout-default {
  @include mobile {
    --body-padding: 1.6rem;
    --content-top-margin: 4.2rem;
  }
  @include tablet {
    --body-padding: 3.2rem;
    --content-top-margin: 10.4rem;
  }
  @include desktop {
    --body-padding: 0;
    --content-top-margin: 14.5rem;
  }
}

html {
  font-size: 10px;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.header {
  font-family: 'Libre Baskerville', serif;
  font-size: 6rem;
  letter-spacing: -1px;
  line-height: 75px;
}

.wrapper {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#home {
  margin: 0;
  padding: var(--body-padding);
  font-size: 1.4rem;

  .button {
    display: block;
    width: 200px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 2px;
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;

    &.primary {
      background: $orange;
      color: #fff;
      border: 0;
    }
  }

  .rice-logo {
    width: 82px;
    height: 30px;
    display: inline-block;
  }

  &.layout-default {
    text-align: center;

    .wrapper {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
    }

    nav .logo {
      background-size: cover;
      width: 227px;
      height: 40px;
      display: block;
    }

    header, .content, footer {
      width: 100%;
    }
    header {
      align-self: flex-start;
      .rice-logo { display: none; }
    }
    .content {
      flex-grow: 1;
      margin-top: var(--content-top-margin);

      .body {
        margin: 2.4rem 0 3.2rem;
        font-size: 1.6rem;
        line-height: 2.4rem;
      }
    }

    .login-buttons {
      flex-direction: column;
      max-width: 480px;
      margin: 0 auto;
      .button { width: 100%; }
      .button + .button { margin: 2.4rem 0; }
    }

    footer {
      max-width: 680px;
      margin-bottom: 3.2rem;
      .links {
        margin: 1.4rem 0 1.6rem;
      }
      .sep {
        margin: 0 0.8rem;
      }
      .disclaimer {
        margin: 0 2rem 2.4rem 1.2rem;
        line-height: 2rem;
      }
      .rice-logo {
        margin-top: 5rem;
      }
    }

    //=========== LAYOUT BREAKPOINTS
    @include tablet {
      .wrapper {
        max-width: initial;
        width: 100%;

        .content, footer {
          max-width: 680px;
        }
      }

      footer {
        .disclaimer {
          margin: 0 auto;
          max-width: 640px;
        }
      }
    }

    @include desktop {
      text-align: unset;

      header, .content, footer {
        max-width: 500px;
        margin-left: 8rem;
      }
      header {
        margin: 4rem 0 0 8rem;
        .rice-logo {
          display: block;
          position: absolute;
          top: 4rem;
          right: 3.2rem;
        }
      }
      .wrapper {
        max-width: 640px;
      }
      .login-buttons {
        display: flex;
        flex-direction: row;
        margin: 0 0 20px;

        .button {
          max-width: 200px;
        }
        .button + .button {
          margin: 0 0 0 3.2rem;
        }
      }
      footer .rice-logo {
        display: none;
      }
    }
  }

  &.appearance-default {
    a          { color: #007297; }
    .logo      { background: url('../images/homepage/OST_color.png') no-repeat; }
    .rice-logo { background: url('../images/homepage/rice_logo_dark.png') no-repeat center center/cover; }
    .hint      { color: #6F6F6F; }
    .wrapper   { background: #fff; }
    background: #fff;
    color: #424242;

    .button:not(.primary) {
      background: #fff;
      border-color: #D5D5D5;
      filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.1));
      color: #5E6062;
    }

    //=========== APPEARANCE BREAKPOINTS
    @include desktop {
      color: #fff;
      background: url('../images/homepage/default.png') no-repeat center center fixed;
      background-size: cover;

      a           { color: #fff; }
      .wrapper    { background: #000; }
      .copyright  { color: #fff; }
      .disclaimer { color: #fff; }
      .hint       { color: #fff; }
      .button:not(.primary) {
        border-color: #fff;
        background: #000;
        color: #fff;
      }
      .logo {
        background: url('../images/homepage/OST_light.png') no-repeat;
      }
      .rice-logo {
        background: url('../images/homepage/rice_logo_light.png') repeat center center/cover;
      }
      .disclaimer { display: none; }
    }
  }
}

