<% status ||= nil %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Job ID</th>
      <th>Status</th>
      <th>Course</th>
      <th>Ecosystem Title</th>
    </tr>
  </thead>
  <tbody>
  <% (jobs || []).each do |job| %>
    <% data = job.data || {} %>
    <% course_id = data["course_id"] %>
    <% course_name = data["course_name"] || 'Course' %>

    <tr>
      <td><%= link_to(job.id, job_path_proc.call(job)) %></td>
      <td><%= status || job.state.name.capitalize %></td>
      <td><%= current_user.is_admin? && course_id.present? ?
                link_to(course_name, edit_admin_course_path(course_id)) : course_name %></td>
      <td><%= data["ecosystem_title"] %></td>
    </tr>
  <% end %>
</table>

<p><strong>Note:</strong> This table does not automatically refresh.</p>
