<% incomplete_jobs ||= [] %>
<% failed_jobs ||= [] %>

<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active">
    <a href="#main" aria-controls="main" role="tab" data-toggle="tab">
      List of Courses
    </a>
  </li>
  <li>
    <a href="#incomplete" aria-controls="main" role="tab" data-toggle="tab">
      Incomplete Bulk Ecosystem Update Jobs
    </a>
  </li>
  <li>
    <a href="#failed" aria-controls="main" role="tab" data-toggle="tab">
      Failed Bulk Ecosystem Update Jobs
    </a>
  </li>
</ul>
