<%#
  Clients of this partial must provide the following variable:
  form
%>

<h4>Catalog Offering</h4>

<div class="form-group">
  <%= form.label :id %>
  <%=
    form.text_field(
      :id,
      class: 'form-control',
      placeholder: 'One of either id or name is required'
    )
  %>
</div>

<div class="form-group">
  <%= form.label :title %>
  <%=
    form.text_field(
      :title,
      class: 'form-control',
      placeholder: 'One of either id or name is required'
    )
  %>
</div>
