<%
  # Clients of this partial must provide the following variable:
  # form
  # Additionally, they may override the following variables:
  options ||= {}
  name ||= 'User'
%>

<div class="form-group">
  <%= form.label :username %>
  <%=
    form.text_field :username, options.merge(
      class: 'form-control', required: true, placeholder: "Required (unless #{name} is removed)"
    )
  %>
</div>
