---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Location:
      - https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f%403.2.json
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/f10533ca-f803-490d-b935-88899941197f%403.2.json; you should be redirected automatically.

  recorded_at: Mon, 02 May 2016 23:29:34 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f@3.2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "3.2", "submitlog": ".", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">Biology is designed for
        multi-semester biology courses for science majors. It is grounded on an evolutionary
        basis and includes exciting features that highlight careers in the biological
        sciences and everyday applications of the concepts at hand. To meet the needs
        of today&#8217;s instructors and students, some content has been strategically
        condensed while maintaining the overall scope and coverage of traditional
        texts for this course. Instructors can customize the book, adapting it to
        the approach that works best in their classroom. Biology also includes an
        innovative art program that incorporates critical thinking and clicker questions
        to help students understand&#8212;and apply&#8212;key concepts.</div>", "revised":
        "2016-02-25T17:10:34Z", "printStyle": "ccap-biology", "roles": null, "keywords":
        ["cells", "DNA", "gene expression", "phylogeny", "conservation", "biodiversity",
        "biology", "chemistry", "evolution", "proteins", "bacteria", "fungi", "cell
        membranes", "inheritance", "physiology", "ecology", "genetics", "biotechnology",
        "biosphere", "photosynthesis", "biological molecules", "cell structure", "metabolism",
        "cellular respiration", "genes", "cell communication", "cell reproduction",
        "meiosis", "sexual reproduction", "genomics", "study of life", "cell function",
        "animal diversity", "animal reproduction", "plant nutrition", "soil", "seedless
        plants", "plant physiology", "plant reproduction", "animal body", "circulatory
        system", "digestive system", "endocrine system", "nervous system", "respiratory
        system", "origin of species", "ecosystems", "archaea", "sensory system", "osmotic
        regulation", "immune system", "vertebrates", "virus", "population ecology",
        "musculoskeletal system", "behavioral biology", "animal biology", "animal
        physiology", "biology for majors", "college biology", "eukaryotes", "invertebrates",
        "macromolecules", "plant biology", "population evolution", "prokaryotes",
        "protists", "seed plants"], "id": "f10533ca-f803-490d-b935-88899941197f",
        "title": "Mini CC Biology Tes Coll", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Science and Technology"], "legacy_id": "col11900", "parentId":
        "185cbf87-c72e-48f5-b51e-f14f21b5eabd", "publishers": [{"surname": "feng",
        "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy feng",
        "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}, {"surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": null, "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "parent": {"authors": [{"surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "fullname": "OpenStax",
        "id": "OpenStaxCollege"}], "shortId": "GFy_h8cu", "version": "9.87", "id":
        "185cbf87-c72e-48f5-b51e-f14f21b5eabd", "title": "Biology"}, "stateid": 1,
        "parentTitle": "Biology", "shortId": "8QUzyvgD", "authors": [{"surname": "feng",
        "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy feng",
        "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}], "parentVersion":
        "9.87", "legacy_version": "1.3", "licensors": [{"surname": "feng", "suffix":
        null, "firstname": "wendy", "title": "", "fullname": "wendy feng", "id": "wendyfeng"},
        {"surname": "Slavik", "suffix": "", "firstname": "Alina", "title": "", "fullname":
        "Alina Slavik", "id": "openstaxalina"}], "language": "en", "license": {"url":
        "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version": "4.0",
        "name": "Creative Commons Attribution License"}, "created": "2012-08-22T18:43:24Z",
        "tree": {"shortId": "8QUzyvgD@3.2", "id": "f10533ca-f803-490d-b935-88899941197f@3.2",
        "contents": [{"shortId": "subcol", "id": "subcol", "contents": [{"shortId":
        "subcol", "id": "subcol", "contents": [{"shortId": "rZudN6XP@2", "id": "ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2",
        "title": "Sample module 1"}, {"shortId": "agVo2CPX@12", "id": "6a0568d8-23d7-439b-9a01-16e4e73886b3@12",
        "title": "The Science of Biology"}], "title": "The Study of Life"}, {"shortId":
        "subcol", "id": "subcol", "contents": [{"shortId": "djajv-uA@2", "id": "7636a3bf-eb80-4898-8b2c-e81c1711b[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f@3.2:ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '378744'
   [...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f@3.2:6a0568d8-23d7-439b-9a01-16e4e73886b3@12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '378743'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-3", "version": "12", "submitlog":
        "errata report 797", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">By
        the end of this section, you will be able to:\n<ul>\n<li>Identify the shared
        characteristics of the natural sciences</li>\n<li>Summarize the steps of the
        scientific method</li>\n<li>Compare inductive reasoning with deductive reasoning</li>\n<li>Describe
        the goals of basic science and applied science</li>\n</ul></div>", "revised":
        "2015-05-13T17:57:57Z", "printStyle": null, "roles": null, "keywords": ["introduction",
        "control", "abstract", "variable", "results", "conclusion", "theory", "science",
        "biology", "discussion", "experiment", "life", "hypothesis", "plagiarism",
        "life science", "scientific method", "applied science", "basic science", "deductive
        reasoning", "descriptive science", "falsifiable", "hypothesis-based science",
        "inductive reasoning", "materials and methods", "natural sciences", "peer-reviewed",
        "physical science", "review article", "scientific reasoning", "serendipity"],
        "id": "6a0568d8-23d7-439b-9a01-16e4e73886b3", "title": "The Science of Biology",
        "mediaType": "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>The
        Science of Biology</title><meta name=\"created-time\" content=\"2012/08/22
        14:06:58 -0500\"/><meta name=\"revised-time\" content=\"2015/05/13 12:57:57.339
        GMT-5\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta name=\"licensor\"
        content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"abstract, applied science, basic science, biology,
        conclusion, control, deductive reasoning, descriptive sci[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: 'page=1&q=tag%3A%22context-cnxmod%3Aad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c%2Ccontext-cnxmod%3A6a0568d8-23d7-439b-9a01-16e4e73886b3%2Ccontext-cnxmod%3A7636a3bf-eb80-4898-8b2c-e81c1711b99f%2Ccontext-cnxmod%3Abe8818d0-2dba-4bf3-859a-737c25fb2c99%2Ccontext-cnxmod%3Ae98bdaec-4060-4b43-ac70-681555a30e22%2Ccontext-cnxmod%3A003aedba-f354-4e57-ba45-f8b4eda66e12%2Ccontext-cnxmod%3Aa1a2f03a-701f-4e7a-ae0e-d8087880c6fd%2Ccontext-cnxmod%3A40e1947a-5a8b-4314-a9e7-bae3cedb885d%22+collaborator%3Aopenstax'
    headers:
      Authorization:
      - Bearer <request_header_oauth_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"32a413e51a1641411df62250c245955a"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6NDksIml0ZW1zIjpbeyJhdHRhY2htZW50cyI6W10s
        InRhZ3MiOlsiYm9vazpzdGF4LWJpbyIsImxvOnN0YXgtYmlvOjEtMC0xIiwi
        b3N0LXR5cGU6Y29uY2VwdC1jb2FjaCIsImV4aWQ6c3RheC1iaW86NCIsImRv
        azoyIiwiYmxvb21zOjIiLCJ0aW1lOnNob3J0IiwiY29udGV4dC1jbnhtb2Q6
        YWQ5YjlkMzctYTVjZi00YTBkLWI4YzEtMDgzZmNjNGQzYjBjIiwidHlwZTpj
        b25jZXB0dWFsLW9yLXJlY2FsbCJdLCJ1aWQiOiI[...]
