---
http_interactions:
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Edgardo","LastName":"Hirthe","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=195/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0033B000008kt0rQAA"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B000008kt0rQAA","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 22:35:33 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20TermYear__c,%20Book_Text__c,%20Contact__c,%20Class_Start_Date__c,%20Book__c,%20Account__c%20FROM%20Individual_Adoption__c%20WHERE%20(Contact__c%20=%20%270033B000008kt0rQAA%27)%20AND%20(Book_Text__c%20=%20%27Chemistry%27)%20AND%20(TermYear__c%20=%20%272016%20-%2017%20Spring%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=195/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Sat, 28 Jan 2017 22:35:33 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Name,%20FirstName,%20LastName,%20Email,%20Email_alt__c,%20Faculty_Confirmed_Date__c,%20Faculty_Verified__c,%20LastModifiedDate,%20AccountId%20FROM%20Contact%20WHERE%20(Id%20=%20%270033B000008kt0rQAA%27)%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=196/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"Contact","url":"/services/data/v29.0/sobjects/Contact/0033B000008kt0rQAA"},"Id":"0033B000008kt0rQAA","Name":"Edgardo
        Hirthe","FirstName":"Edgardo","LastName":"Hirthe","Email":null,"Email_alt__c":null,"Faculty_Confirmed_Date__c":null,"Faculty_Verified__c":null,"LastModifiedDate":"2017-01-28T22:35:32.000+0000","AccountId":"0013B000009vJrCQAU"}]}'
  recorded_at: Sat, 28 Jan 2017 22:35:34 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Name%20FROM%20Book__c
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=197/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":2,"done":true,"records":[{"attributes":{"type":"Book__c","url":"/services/data/v29.0/sobjects/Book__c/a0Z3B000000UAiCUAW"},"Id":"a0Z3B000000UAiCUAW","Name":"Physics"},{"attributes":{"type":"Book__c","url":"/services/data/v29.0/sobjects/Book__c/a0Z3B000000UAi7UAG"},"Id":"a0Z3B000000UAi7UAG","Name":"Chemistry"}]}'
  recorded_at: Sat, 28 Jan 2017 22:35:34 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Individual_Adoption__c
    body:
      encoding: UTF-8
      string: '{"Contact__c":"0033B000008kt0rQAA","Class_Start_Date__c":"2017-01-01","Book__c":"a0Z3B000000UAi7UAG","Account__c":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=193/48000
      Location:
      - "/services/data/v29.0/sobjects/Individual_Adoption__c/a1W3B000000VbEsUAK"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1W3B000000VbEsUAK","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 22:35:35 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Individual_Adoption__c%20=%20%27a1W3B000000VbEsUAK%27)%20AND%20(Product__c%20=%20%27Tutor%27)
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=194/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":0,"done":true,"records":[]}'
  recorded_at: Sat, 28 Jan 2017 22:35:35 GMT
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c
    body:
      encoding: UTF-8
      string: '{"Product__c":"Tutor","Individual_Adoption__c":"a1W3B000000VbEsUAK"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=196/48000
      Location:
      - "/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E15XUAS"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"a1S3B000000E15XUAS","success":true,"errors":[]}'
  recorded_at: Sat, 28 Jan 2017 22:35:37 GMT
- request:
    method: get
    uri: https://cs50.salesforce.com/services/data/v29.0/query?q=SELECT%20Id,%20Status__c,%20Product__c,%20Account_Type__c,%20Book_Name__c,%20Class_Start_Date__c,%20Course_Name__c,%20Course_Code__c,%20External_ID__c,%20E_Created_Date__c,%20Error__c,%20General_Access_URL__c,%20Teacher_Join_URL__c,%20School_Name__c,%20Active_Teachers__c,%20Sections__c,%20Students_Using__c,%20TermYear__c,%20Opportunity__c,%20Individual_Adoption__c%20FROM%20OS_Ancillary__c%20WHERE%20(Id%20=%20%27a1S3B000000E15XUAS%27)%20LIMIT%201
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Sforce-Limit-Info:
      - api-usage=197/48000
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"totalSize":1,"done":true,"records":[{"attributes":{"type":"OS_Ancillary__c","url":"/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E15XUAS"},"Id":"a1S3B000000E15XUAS","Status__c":null,"Product__c":"Tutor","Account_Type__c":null,"Book_Name__c":"Chemistry","Class_Start_Date__c":"2017-01-01","Course_Name__c":null,"Course_Code__c":null,"External_ID__c":null,"E_Created_Date__c":null,"Error__c":null,"General_Access_URL__c":null,"Teacher_Join_URL__c":null,"School_Name__c":"JP
        University","Active_Teachers__c":null,"Sections__c":null,"Students_Using__c":null,"TermYear__c":"2016
        - 17 Spring","Opportunity__c":null,"Individual_Adoption__c":"a1W3B000000VbEsUAK"}]}'
  recorded_at: Sat, 28 Jan 2017 22:35:38 GMT
- request:
    method: patch
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/OS_Ancillary__c/a1S3B000000E15XUAS
    body:
      encoding: UTF-8
      string: '{"Status__c":"Approved","External_ID__c":5,"E_Created_Date__c":"2017-01-28T22:35:29Z","Teacher_Join_URL__c":"http://localhost:3001/teach/4556275ed3743ec76e329889c8e855d9/DO_NOT_GIVE_TO_STUDENTS","Active_Teachers__c":1,"Sections__c":3,"Students_Using__c":12}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 204
      message: No Content
    headers:
      Sforce-Limit-Info:
      - api-usage=197/48000
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 28 Jan 2017 22:35:39 GMT
recorded_with: VCR 2.9.3
