---
http_interactions:
- request:
    method: post
    uri: https://cs51.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Joanie","LastName":"Abbott","AccountId":"0014B00000DaY04QAF"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=134/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0034B00000Fg3sVQAR"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0034B00000Fg3sVQAR","success":true,"errors":[]}'
  recorded_at: Thu, 13 Apr 2017 20:49:08 GMT
recorded_with: VCR 2.9.3
