---
http_interactions:
- request:
    method: post
    uri: https://cs50.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Freddy","LastName":"Hoppe","AccountId":"0013B000009vJrCQAU"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=1/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0033B000008lE2aQAE"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0033B000008lE2aQAE","success":true,"errors":[]}'
  recorded_at: Tue, 31 Jan 2017 22:13:00 GMT
recorded_with: VCR 2.9.3
