---
http_interactions:
- request:
    method: post
    uri: https://cs51.salesforce.com/services/data/v29.0/sobjects/Contact
    body:
      encoding: UTF-8
      string: '{"FirstName":"Ronaldo","LastName":"Fisher","AccountId":"0014B00000DaY04QAF"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - OAuth <tutor_specs_oauth_token>
  response:
    status:
      code: 201
      message: Created
    headers:
      Sforce-Limit-Info:
      - api-usage=775/48000
      Location:
      - "/services/data/v29.0/sobjects/Contact/0034B00000BJSyIQAX"
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"id":"0034B00000BJSyIQAX","success":true,"errors":[]}'
  recorded_at: Mon, 13 Mar 2017 22:13:10 GMT
recorded_with: VCR 2.9.3
