<%#
  Clients of this partial must provide the following variable:
  form
%>

<%= render partial: File.join('admin', 'demo', 'course'), locals: { form: form } %>

<h3>Work</h3>

<%=
  render partial: 'form_collection', locals: {
    form: form,
    scope: :task_plans,
    partial: File.join('admin', 'demo', 'work', 'task_plan', 'fields')
  }
%>
