<script src="https://surveyjs.azureedge.net/1.0.58/survey.jquery.min.js"></script>

<div id="survey-preview"></div>

<script type="text/javascript">

function init() {

  var json = <%= @survey_plan.survey_js_model.html_safe %>;

  window.survey = new Survey.Model(json);
  survey.onComplete.add(function(result) {
    document.querySelector("#surveyResult").innerHTML =
      "result: " + JSON.stringify(result.data);
  });


  $("#survey-preview").Survey({
    model: survey
  });
}

if (!window["%hammerhead%"]) {
  init();
}

</script>
