<div class="enrollment-failure archived">
  <p class="explain">
    This is a link to a past course or one that is inactive.
    Please contact the instructor of the course you would like to enroll in for assistance.
  </p>
  <p class="continue">
    <% if current_user.is_anonymous? %>
      <%= link_to 'Sign in', openstax_accounts.login_path, class: 'btn' %> to view your current courses
    <% elsif @handler_result.outputs.current_courses.any? %>
      <%= link_to 'Continue', dashboard_path, class: 'btn' %> to view your current courses
    <% else %>
      <%= link_to 'Continue', openstax_accounts.profile_path, class: 'btn' %> to your account info
    <% end %>
  </p>
</div>
