---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261@8.32:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"zPZUGd9op4TojnzQRilxnQ"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6/Newton%E2%80%99s-First-Law-of-Motion:-Inertia>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive4
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "3", "submitlog":
        "corrected short code spelling", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"><ul>\n<li>Define
        mass and inertia.</li>\n<li>Understand Newton''s first law of motion.</li>\n</ul></div>",
        "revised": "2016-07-08T16:34:03Z", "printStyle": null, "roles": null, "keywords":
        ["inertia", "mass", "Newton\u2019s first law of motion"], "id": "b0ffd0a2-9c83-4d73-b899-7f2ade2acda6",
        "canonical": "405335a3-7cff-4df2-a9ad-29062a4af261", "title": "Newton\u2019s
        First Law of Motion: Inertia", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6/Newton%E2%80%99s-First-Law-of-Motion:-Inertia",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n  <body><div data-type=\"page\"
        id=\"b0ffd0a2-9c83-4d73-b899-7f2ade2acda6\" data-cnxml-to-html-ver=\"1.7.3\"
        class=\"chapter-content-module\"><h2 data-type=\"document-title\" id=\"0\"><span
        class=\"os-number\">4.2</span><span class=\"os-divider\"> </span><span data-type=\"\"
        itemprop=\"\" class=\"os-text\">Newton\u2019s First Law of Motion: Inertia</span></h2>\n        \n        <p
        id=\"import-auto-id2654505\">Experience suggests that an object at rest will
        remain at rest if left alone, and that an object in motion tends to slow down
        and stop unless some effort is made to keep it moving. What <span data-type=\"term\"
        id=\"term88\" group-by=\"N\">Newton\u2019s first law of motion</span><strong
        data-effect=\"bold\"><!-- no-selfclose --></strong> states, however, is the
        following:</p>\n      \n        \n      \n        <div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-id2690663\" data-label=\"\"><h3 class=\"os-title\"
        data-type=\"title\"><span data-type=\"\" id=\"2\" class=\"os-title-label\">Newton\u2019s
        First Law of Motion</span></h3><div class=\"os-note-body\">\n        <p id=\"fs-id1694182\">A
        body at rest remains at rest, or, if in motion, remains in motion at a constant
        velocity unless acted on by a net external force. </p></div></div>\n        \n        <p
        id=\"import-auto-id1741367\">Note the repeated use of the verb \u201cremains.\u201d
        We can think of this law as preserving the status quo of motion. </p>\n        \n        <p
        id=\"import-auto-id1904217\">Rather than contradicting our experience, <span
        data-type=\"term\" id=\"term89\" group-by=\"N\">Newton\u2019s first law of
        motion</span> states that there must be a <em data-effect=\"italics\">cause</em>
        (which is a net external force) <em data-effect=\"italics\">for there to be
        any change in velocity (either a change in magnitude or direction)</em>. We
        will define <em data-effect=\"italics\">net external force</em> in the next
        section. An object sliding across a table or floor slows down due to the net
        force of friction acting on the object. If friction disappeared, would the
        object still slow down?</p><p id=\"im[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3Ab0ffd0a2-9c83-4d73-b899-7f2ade2acda6%2Ccontext-cnxmod%3A920725c6-229b-4f50-870b-b87366ce4f9e%22
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b69104095497295bf48822aa8954d6d5"
    body:
      encoding: ASCII-8BIT
[...]
