---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@4"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 07 Mar 2015 00:36:18 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/092bbf0d-0729-42ce-87a6-fd96fd87a083@4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '23270'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "updated to
        ost-tag-lo-k12phys tag and added <label>Grasp Check</label>", "abstract":
        null, "revised": "2015-03-06T17:46:23Z", "roles": null, "keywords": [], "id":
        "092bbf0d-0729-42ce-87a6-fd96fd87a083", "title": "Force", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Force</title><meta name=\"created-time\"
        content=\"2015/03/05 14:29:22 -0600\"/><meta name=\"revised-time\" content=\"2015/03/06
        11:46:23.098 US/Central\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"acl-list\" content=\"AlinaManager\"/><meta name=\"licensor\" content=\"AlinaManager\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Force</div>\n  <section data-depth=\"1\" id=\"fs-idp57791360\"
        class=\"learning-objectives\"><h1 data-type=\"title\">Section Learning Objectives</h1><p
        id=\"eip-110\">By the end of this section, you will be able to:</p><ul id=\"eip-idp30262832\"><li
        class=\"ost-tag-lo-k12phys-ch04-s01-lo01 ost-tag-teks-112-39-c-4c ost-learning-objective-def\">
        Differentiate between force, net\nforce and dynamics</li><li class=\"ost-tag-lo-k12phys-ch04-s01-lo02
        ost-tag-teks-112-39-c-4e ost-learning-objective-def\">Draw a free-body diagram</li><li>Learn
        Newton&#8217;s 1st law: Fnet =0 3</li></ul></section><div data-type=\"note\"
        id=\"eip-568\" class=\"os-teacher\"><p id=\"eip-idm2236496\">The Learning
        Objectives in this section will help your students master the following TEKS:
        (4) Science concepts. The student knows and applies the laws governing motion
        in a variety of situations. The student is expected to: </p><ul id=\"fs-idm29263984\"><li>(C)
        <span class=\"ost-tag-teks-112-39-c-4c ost-teks-def\">analyze and describe
        accelerated motion in two dimensions using equations, including projectile
        and circular examples</span></li><li> (E) <span class=\"ost-tag-teks-112-39-c-4e
        ost-teks-def\">develop and interpret free-body diagrams.</span></li></ul><p
        id=\"eip-idm2196896\"><span class=\"level-below\">[BL]</span> <span class=\"level-on\">[OL]</span>
        Point out that objects at rest tend to stay at rest. A ball, for example,
        moves only when pushed or pulled. The action of pushing or pulling is the
        application of force. Force applied to an object changes its motion.\n<span
        class=\"level-above\">[AL]</span> Start a discussion about force and motion.
        Ask students what would happen if more than one force is applied to an object.
        Take a heavy object such as a desk for demonstration. Ask one student to push
        it from one side. Explain how force and motion work. Now ask a second student
        to push it in the opposite direction. Ask students why no motion occurs even
        though the first student applies the same amount of force. Introduce the concept
        of adding forces.</p></div><table id=\"eip-838\" summary=\"--\" class=\"key-terms
        ost-reading-discard\"><caption><span data-type=\"title\">Key Terms</span></caption><tbody>\n  <tr>\n    <td>dynamics</td>\n    <td>external
        force</td>\n    <td>force</td>\n  </tr>\n  <tr>\n    <td>free body diagram</td>\n    <td>net
        external force</td>\n    <td>net force</td>\n  </tr>\n</tbody></table><section
        data-depth=\"1\" id=\"eip-963\" class=\"ost-tag-lo-k12phys-ch04-s01-lo01\"><h1
        data-type=\"title\">Defining Force and <em data-effect=\"italics\">Dynamics</em></h1><div
        data-type=\"note\" id=\"eip-752\" class=\"os-teacher\"><p id=\"eip-idm59057616\"><span
        class=\"level-on\">[OL]</span> Explain that the word dynamics comes from a
        Greek word meaning power. Also point out that the word &#8220;dynamics&#8221;
        is singular, like the word &#8220;physics.&#8221; <span class=\"level-below\">[BL]</span>
        <span class=\"level-on\">[OL]</span> You may want to introduce the terms system,
        external force, and internal force. <span class=\"level-above\">[AL]</span>
        Explain that both magnitude and direction must be considered when talking
        about forces.</p><div data-type=\"note\" id=\"fs-idm58745200\" class=\"teacher-demonstration\"
        data-label=\"Demonstration\">Demonstrate by using physical objects how different
        forces acting together can add if they act in the same direction or cancel
        if they act in opposite directions. Explain the terms \"acting on\" and \"being
        acted on.\"<figure id=\"eip-idm38910720\"><figcaption/><span data-type=\"media\"
        id=\"eip-idm8621056\" data-alt=\"Alt text\"><img src=\"/resources/4fd8ef6e594ffd1be3f2871c02b80868/OST_PhysicsTestContent_01_01_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure></div></div><p
        id=\"eip-305\"><span data-type=\"term\">Force</span> is the cause of motion,
        and motion draws our attention. Motion itself can be beautiful, such as a
        dolphin jumping out of the water, the flight of a bird, or the orbit of a
        satellite. The study of motion is called kinematics, but kinematics[...]
