---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@1.4"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 10 Mar 2015 22:41:32 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@1.4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '362004'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "1.4", "submitlog": "created collection",
        "abstract": null, "revised": "2015-03-06T17:46:21Z", "roles": null, "keywords":
        [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58", "title": "Updated Tutor
        HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "stateid": 1, "parentTitle": null, "maintainers":
        [{"website": "", "surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "othername": "", "email": "alinams@rice.edu", "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "authors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "parentVersion":
        "", "legacy_version": "1.1", "licensors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "language": "en",
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@1.4",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@1",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@4",
        "title": "Force"}], "title": "Forces and Newton''s Laws of Motion"}], "title":
        "Updated Tutor HS Physics Content - legacy"}, "doctype": "", "buyLink": null,
        "submitter": {"website": "", "surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "othername": "", "email": "alinams@rice.edu", "fullname":
        "Alina Slavik", "id": "AlinaManager"}, "parentAuthors": [], "history": [{"changes":
        "created collection", "version": "1.4", "revised": "2015-03-06T17:46:21Z",
        "publisher": {"website": "", "surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "othername": "", "email": "alinams@rice.edu", "fullname":
        "Alina Slavik", "id": "AlinaManager"}}, {"changes": "created collection",
        "version": "1.3", "revised": "2015-03-05T21:07:36Z", "publisher": {"website":
        "", "surname": "Slavik", "suffix": "", "firstname": "Alina", "title": "",
        "othername": "", "email": "alinams@rice.edu", "fullname": "Alina Slavik",
        "id": "AlinaManager"}}, {"changes": "created collection", "version": "1.2",
        "revised": "2015-03-05T21:03:52Z", "publisher": {"website": "", "surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "othername": "",
        "email": "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}},
        {"changes": "created collection", "version": "1.1", "revised": "2015-03-05T20:40:19Z",
        "publisher": {"website": "", "surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "othername": "", "email": "alinams@rice.edu", "fullname":
        "Alina Slavik", "id": "AlinaManager"}}]}'
  recorded_at: Tue, 10 Mar 2015 22:41:32 GMT
recorded_with: VCR 2.9.3
