---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/031da8d3-b525-429c-80cf-6c8ed997733a@8.33"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 26 Feb 2015 02:13:15 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a@8.33
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '125530'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-1", "version": "8.33", "submitlog":
        "changed chapter title", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:html=\"http://www.w3.org/1999/xhtml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\">This introductory, algebra-based,
        two-semester college physics book is grounded with real-world examples, illustrations,
        and explanations to help students grasp key, fundamental physics concepts.
        This online, fully editable and customizable title includes learning objectives,
        concept questions, links to labs and simulations, and ample practice opportunities
        to solve traditional physics application problems.</div>", "revised": "2015-02-03T15:05:50Z",
        "roles": null, "keywords": ["ac circuits", "atomic physics", "bioelectricity",
        "biological and medical applications", "circuits", "college physics", "collisions",
        "dc instruments", "drag", "elasticity", "electric charge and electric field",
        "electric current", "electric potential", "electrical technologies", "electromagnetic
        induction", "electromagnetic waves", "energy", "fluid dynamics", "fluid statics",
        "forces", "friction", "frontiers of physics", "gas laws", "geometric optics",
        "heat and transfer methods", "kinematics", "kinetic theory", "linear momentum",
        "magnetism", "medical applications of nuclear physics", "Newton\u2019s Laws
        of Motion", "Ohm\u2019s Law", "oscillatory motion and waves", "particle physics",
        "physics", "physics of hearing", "quantum physics", "radioactivity and nuclear
        physics", "resistance", "rotational motion and angular momentum", "special
        relativity", "statics and torque", "temperature", "thermodynamics", "uniform
        circular motion and gravitation", "vision and optical instruments", "wave
        optics", "work"], "id": "031da8d3-b525-429c-80cf-6c8ed997733a", "title": "College
        Physics", "mediaType": "application/vnd.org.cnx.collection", "subjects": ["Mathematics
        and Statistics", "Science and Technology"], "legacy_id": "col11406", "parentId":
        null, "stateid": 1, "parentTitle": null, "maintainers": [{"website": "http://openstaxcollege.org",
        "surname": "Physics", "suffix": "", "firstname": "College", "title": "", "othername":
        "", "email": "info@openstaxcollege.org", "fullname": "OSC Physics Maintainer",
        "id": "cnxcap"}, {"website": "http://openstaxcollege.org", "surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "othername": "", "email":
        "info@openstaxcollege.org", "fullname": "OpenStax College", "id": "OpenStaxCollege"}],
        "authors": [{"website": "http://openstaxcollege.org", "surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "othername": "", "email":
        "info@openstaxcollege.org", "fullname": "OpenStax College", "id": "OpenStaxCollege"}],
        "parentVersion": "", "legacy_version": "1.8", "licensors": [{"website": "http://rice.edu",
        "surname": "University", "suffix": "", "firstname": "Rice", "title": "", "othername":
        "", "email": "daniel@openstaxcollege.org", "fullname": "Rice University",
        "id": "OSCRiceUniversity"}], "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Creative Commons Attribution License"},
        "language": "en", "created": "2012-01-23T19:03:30Z", "tree": {"id": "031da8d3-b525-429c-80cf-6c8ed997733a@8.33",
        "contents": [{"id": "a4579e90-f894-4438-88c3-14772d3da9ff@9", "title": "Preface"},
        {"id": "subcol", "contents": [{"id": "1d1fd537-77fb-4eac-8a8a-60bbaa747b6d@3",
        "title": "Introduction to Science and the Realm of Physics, Physical Quantities,
        and Units"}, {"id": "39256206-03b0-4396-abb6-75e6ee5e3c7b@4", "title": "Physics:
        An Introduction"}, {"id": "102e9604-daa7-4a09-9f9e-232251d1a4ee@7", "title":
        "Physical Quantities and Units"}, {"id": "4bba6a1c-a0e6-45c0-988c-0d5c[...]
