---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/questions
    body:
      encoding: UTF-8
      string: '{"question_tags":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1,"tags":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Question tags saved."
        }
  recorded_at: Wed, 16 Mar 2016 01:43:48 GMT
recorded_with: VCR 2.9.3
