---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/7db9aa72-f815-4c3b-9cb6-d50cf5318b58@2.2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '177555'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "2.2", "submitlog": "added module",
        "abstract": null, "revised": "2015-03-11T21:28:31Z", "roles": null, "keywords":
        [], "id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58", "title": "Updated Tutor
        HS Physics Content - legacy", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Mathematics and Statistics", "Science and Technology"], "legacy_id":
        "col11768", "parentId": null, "stateid": 1, "parentTitle": null, "maintainers":
        [{"website": "", "surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "othername": "", "email": "alinams@rice.edu", "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "authors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "parentVersion":
        "", "legacy_version": "1.2", "licensors": [{"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}], "license":
        {"url": "http://creativecommons.org/licenses/by/4.0/", "code": "by", "version":
        "4.0", "name": "Creative Commons Attribution License"}, "language": "en",
        "created": "2015-03-05T20:37:25Z", "tree": {"id": "7db9aa72-f815-4c3b-9cb6-d50cf5318b58@2.2",
        "contents": [{"id": "subcol", "contents": [{"id": "1491e74e-ed39-446f-a602-e7ab881af101@1",
        "title": "Introduction"}, {"id": "092bbf0d-0729-42ce-87a6-fd96fd87a083@4",
        "title": "Force"}, {"id": "61445f78-00e2-45ae-8e2c-461b17d9b4fd@3", "title":
        "Newton''s First Law of Motion: Inertia"}], "title": "Forces and Newton''s
        Laws of Motion"}], "title": "Updated Tutor HS Physics Content - legacy"},
        "doctype": "", "buyLink": null, "submitter": {"website": "", "surname": "Slavik",
        "suffix": "", "firstname": "Alina", "title": "", "othername": "", "email":
        "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}, "parentAuthors":
        [], "history": [{"changes": "added module", "version": "2.2", "revised": "2015-03-11T21:28:31Z",
        "publisher": {"website": "", "surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "othername": "", "email": "alinams@rice.edu", "fullname":
        "Alina Slavik", "id": "AlinaManager"}}, {"changes": "added module", "version":
        "2.1", "revised": "2015-03-11T18:42:58Z", "publisher": {"website": "", "surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": "", "othername": "",
        "email": "alinams@rice.edu", "fullname": "Alina Slavik", "id": "AlinaManager"}[...]
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '89461'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "1", "submitlog": "imported module",
        "abstract": null, "revised": "2015-03-05T20:27:17Z", "roles": null, "keywords":
        [], "id": "1491e74e-ed39-446f-a602-e7ab881af101", "title": "Introduction",
        "mediaType": "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta
        name=\"created-time\" content=\"2015/03/05 14:26:29.944 US/Central\"/><meta
        name=\"revised-time\" content=\"2015/03/05 14:27:17.021 US/Central\"/><meta
        name=\"author\" content=\"AlinaManager\"/><meta name=\"acl-list\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Introduction</div><?cnx.eoc
        class=\"section-summary\" title=\"Section Summary\"?>\n  <figure id=\"fs-idp30390784\"
        class=\"splash\"><figcaption>Newton&#8217;s laws of motion describe the motion
        of the dolphin&#8217;s path. (credit: Jin Jang)</figcaption><span data-type=\"media\"
        id=\"fs-idp23649424\" data-alt=\"Alt text\"><img src=\"/resources/a99cf4ac886581d4f905dfa768c26219/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure><div data-type=\"note\"
        id=\"fs-idp24170976\" class=\"os-teacher\"><p id=\"eip-idp6277632\">Before
        students begin this chapter, they may wish to review the concepts of distance,
        displacement, speed, velocity, acceleration, scalars, vectors, representing
        vectors, units of acceleration, and acceleration due [...]
