<form method="post" action="<%= @launch_message.content_item_return_url %>" id="assignment_selection">
 <input type="hidden" name="data" value="<%= @launch_message.data %>"/>
 <input type="hidden" name="lti_message_type" value="ContentItemSelection"/>
 <input type="hidden" name="lti_version" value="LTI-1p0"/>
 <input type="hidden" name="content_items" value="<%= @cis.parameters['content_items'] %>"/>
</form>

<script>
    document.getElementById('assignment_selection').submit();
</script>
