<p>Something went wrong when trying to open OpenStax Tutor.  Please go back and try to open the Tutor link again; that may resolve the issue.  If not, please <%= link_to "contact Support", TUTOR_HELPDESK_URL %>.</p>
