<%# This page exists to force Tutor to open in its own tab; we try to load minimal CSS/JS to
  make it fast. %>

<html>
  <head>
    <%= stylesheet_link_tag 'launch' %>
  </head>
  <body>

    <div id="lms-say-open-in-tab" style="display:none">
      <%= image_tag "openstax-tutor-beta-logo.svg", class: 'logo' %>
      <div class="text" id="message">Continue to OpenStax Tutor in a new browser tab.</div>
      <%= link_to "Continue", @next_url, target: :_blank, class: "btn", id: 'continue' %>
    </div>

    <script>
    // https://stackoverflow.com/a/9899701
    (function() {
      // https://stackoverflow.com/a/326076
      var inIframe = function() {
        try {
          return window.self !== window.top;
        } catch (e) {
          return true;
        }
      }

      if (inIframe()) {
        document.getElementById('lms-say-open-in-tab').style.display = 'block';
      } else {
        window.location.href = '<%= @next_url %>';
      }

      document.getElementById('continue').onclick=function() {
        document.getElementById('message').innerHTML =
          '<p>OpenStax Tutor was successfully loaded in a new browser tab.</p>' +
          '<p>Reload to access from this page again.</p>';
        document.getElementById('continue').style.display = 'none'
      }
    })();
    </script>

  </body>
</html>

