<!DOCTYPE html>
<html>
  <head>
    <title>OpenStax Tutor</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= OpenStax::Utilities::Assets.tags_for("lmspair") %>
    <%= csrf_meta_tags %>
    <%= render 'webview/google_analytics' %>
  </head>
  <body>
    <div id="ox-root-view">
      <script id="tutor-boostrap-data" type="application/json"><%=raw json_escape bootstrap_data %></script>
    </div>
  </body>
</html>
