---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/projections/questions?allow_repetition=true&learner_id=21332ca231a015a11df464d759dd7de0da971bd48334ebb050540ec683f548fe&number_of_questions=5&pool_id=c8183974-c247-41a0-ad38-e69b72159b76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"learner_id\": \"21332ca231a015a11df464d759dd7de0da971bd48334ebb050540ec683f548fe\",
        \n  \"questions\": [\n    {\n      \"difficulty\": 0, \n      \"projected_tags\":
        [\n        \"apbio-ch16-s07-lo01\"\n      ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/2410\",
        \n      \"success_probability\": 0.0, \n      \"tags\": []\n    }, \n    {\n
        \     \"difficulty\": 0, \n      \"projected_tags\": [\n        \"apbio-ch16-s07-lo01\"\n
        \     ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/2381\",
        \n      \"success_probability\": 0.0, \n      \"tags\": []\n    }, \n    {\n
        \     \"difficulty\": 0, \n      \"projected_tags\": [\n        \"apbio-ch16-s07-lo01\"\n
        \     ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/2392\",
        \n      \"success_probability\": 0.0, \n      \"tags\": []\n    }, \n    {\n
        \     \"difficulty\": 0, \n      \"projected_tags\": [\n        \"apbio-ch16-s07-lo02\"\n
        \     ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/2359\",
        \n      \"success_probability\": 0.0, \n      \"tags\": []\n    }, \n    {\n
        \     \"difficulty\": 0, \n      \"projected_tags\": [\n        \"apbio-ch16-s07-lo01\"\n
        \     ], \n      \"question\": \"//exercises-dev.openstax.org/exercises/2393\",
        \n      \"success_probability\": 0.0, \n      \"tags\": []\n    }\n  ]\n}"
  recorded_at: Thu, 10 Sep 2015 23:31:50 GMT
[...]
