<% method ||= :post %>

<%= lev_form_for :district, url: url, method: method do |f| %>
  <div class='form-group'>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit 'Save', class: 'btn btn-primary' %>
<% end %>
