@import "bootstrap-sprockets";
@import "bootstrap";
@import "common_colors";
@import "fonts";
@import "jquery.datetimepicker";
@import "jquery-ui-1.11.4.custom.min";

.flash_error {
  color: red;
}

#jobs {
  .completed {
    display: none;
  }
}

#search_by_id {
  position: relative;
  span {
    display: block;
    position: absolute;
    top: -2.3em;
    left: 1em;
    background: #4b3725;
    color: #fff;
    padding: 0.5em 1em;
  }
}
