@import "bootstrap-sprockets";
@import "bootstrap";
@import "common_colors";
@import "fonts";
@import "jquery.datetimepicker";
@import "jquery-ui";
@import "admin_navbar";
@import "manager";

.underlined-spaced-row {
  border-bottom: 1px solid gray;
  padding-bottom: 20px;
  margin-bottom: 20px
}

.collection {
  .template {
    display: none;
  }

  .list .item {
    margin: 2rem 0;
    border-left: 1px solid gray;
    padding-left: 7px;
  }
}
