@import "bootstrap-sprockets";
@import "bootstrap";
@import "common_colors";
@import "fonts";
@import "jquery.datetimepicker";
@import "jquery-ui-1.11.4.custom.min";

.flash_error {
  color: red;
}

#jobs {
  .completed {
    display: none;
  }
}
