// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/buttons";
@import "common_colors";
@import "fonts";
@import "mixins";

$mobile-collapse-breakpoint: 600px;

@media(max-width: $mobile-collapse-breakpoint) {
  html {
    height: 100%;
    overflow: hidden;
  }
}

body#enroll {
  font-family: $tutor-default-font-list;
  font-weight: 300;
  color: #424242;
  padding: 40px;
  line-height: 20px;

  @media(max-width: $mobile-collapse-breakpoint) {
    font-size: 16px;
    line-height: 24px;
    height: 100%;
    padding: 0;
  }

  @include hero-fullpage-background();

  .splash {
    margin: 80px auto;
    max-width: 1000px;
    padding: 40px;
    background-color: $tutor-neutral-lighter;
    text-align: center;

    @media(max-width: $mobile-collapse-breakpoint) {
     height: 100%;
     margin: 0 auto;
    }
    h1 {
      color: #222e66;
      line-height: 35px;
    }

    h3 {
      font-weight: 300;
    }

    .columns {
      margin: 80px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @media(max-width: $mobile-collapse-breakpoint) {
        flex-flow: column;
        margin: 20px 0;
      }

      > div {
        flex: 1;
        background-size: 100px auto;
        background-repeat: no-repeat;
        background-position: top center;
        padding-top: 116px;

        max-width: 280px;
        text-align: center;
        margin: 20px auto;

        &.signup { background-image: image-url("student-onboarding/key.svg"); }
        &.enter-id {
          background-image: image-url("student-onboarding/student-id.svg");
          @media(max-width: $mobile-collapse-breakpoint) {
            padding-top: 95px;
          }
        }
      }

    }
    .btn {
      @include tutor-button();
      @media(max-width: $mobile-collapse-breakpoint) {
        padding: 19px;
      }
    }
  }
}
