#enroll {
  &.well {
    margin-bottom: 0px;
  }

  h2 {
    text-align: center;
    margin-top: 0px;
    font-size: 24px;
    line-height: 36px;
  }

  hr {
    width: 60%;
    border-top: 2px solid #dddddd;
  }

  form {
    margin: 0 auto;
    width: 305px;
    input[type='text'] {
      width: 170px;
      margin-top: 10px;
      margin-right: 20px;
    }
    label {
      font-size: 16px;
      margin-bottom: 2px;
    }
    .btn {
      font-size: 18px;
      padding: 4px 16px;
      background-color: $os_green;
      width: 110px;
      margin-top: 10px;
    }

    .btn-link {
      background:none!important;
      border:none;
      padding:0!important;
      font: inherit;
      cursor: pointer;
      margin-top: 14px;
      font-size: 16px;

      &:disabled {
        color: #666666;
        cursor: default;
      }
    }
  }

  span.help {
    display: block;
    font-size: 12px;
    line-height: 14px;
    font-style: italic;
    color: #aaaaaa;
    margin-top: 15px;
  }
}

.enrollment-failure {
  .explain {
    font-size: 25px;
    max-width: 600px;
    margin: 30px auto;
  }
  .continue {
    text-align: center;
    font-size: 16px;
  }
  &.archived {
    .continue .btn {
      background-color: $btn-primary-bg;
      color: $btn-primary-color;
    }
  }
  &.dropped {
    .continue .btn {
      background-color: $btn-success-bg;
      color: $btn-success-color;
    }
  }
}
