.error_card {
  width: 540px;
  margin: 16px auto;
  background-color: white;
  font-size: 16px;

  .title {
    height: 76px;
    background-color: rgb(248, 232, 234);
    color: rgb(194, 32, 50);
    font-weight: bold;
    padding: 28px 15px;
    line-height: 25px;
  }

  .body {
    padding: 30px;
  }

  &.iframe {
    width: 90%;
    .body {
      padding: 30px 0;
    }
  }
}
