.flash_error {
  color: red;
}

#search_by_id {
  span {
    display: block;
    background: #4b3725;
    color: #fff;
    padding: 0.5em 1em;
  }
}

nav.navbar.production {
  border-bottom: 2px solid red;
}

[data-toggle="popover"] {
  cursor: pointer;
}

/* Courses Stats */

.stats-card {
  width: 100%;
  min-height: 110px;
  height: auto;
  border: #777 1px solid;
  margin-bottom: 35px;
  overflow-y: auto;
  border-radius: 8px;

  .card-header {
    background-color: #eee;
    border-bottom: #777 1px solid;
    padding: 5px;

    .bread-crumb {

    }
  }

  .card-body {
    width: 100%;
    position: relative;
    padding: 10px;
    float: left;
    display: inline-block;

    .card-content-left {
      max-width: 80%;
      float: left;

      .card-body-left {

        .content-top {
          float: left;
        }
        .content-middle {
          float: left;
          clear: left;
          width: 50%;
          margin-left: 40px;
          color: #666;
        }
        .content-bottom {
          float: left;
          clear: left;
          margin-top: 10px;
          padding-bottom: 15px;

          .bread-crumb {

          }
        }
      }
    }
    .card-content-right {
      max-width: 20%;
      float: right;
    }
  }

  .course-stats-button {
    display: block;
    overflow: hidden;
  }
}

input[type="radio"],
input[type="checkbox"] {
  &.form-control {
    display: inline;
    width: inherit;
    height: inherit;
  }

}
