.flash_error {
  color: red;
}

#jobs {
  .succeeded {
    display: none;
  }
}

#search_by_id {
  position: relative;
  span {
    display: block;
    position: absolute;
    top: -2.3em;
    left: 1em;
    background: #4b3725;
    color: #fff;
    padding: 0.5em 1em;
  }
}

nav.navbar.production {
  border-bottom: 2px solid red;
}

.concept-coach-stats thead {
  background-color: white;
}

.concept-coach-stats #overall, .concept-coach-stats .book {
  color: white;
  background-color: black;
}

.concept-coach-stats .chapter {
  background-color: #f9f9f9;
}
