
body#minimal_error {

  $application_master_width: 960px;
  $application_edge_distance: 30px;
  $application_top_nav_height: 80px;
  $application_footer_height: 84px;

  margin-top:       0px;
  background: image_url('blue_green_bg.jpg') no-repeat center center fixed;
  background-size: cover;

  #header {
    $image_height:  40px;
    $image_width:  174px;

    #top-nav-logo  {
      height:     $image_height;
      width:      $image_width;
      $top_bottom_margin: ($application_top_nav_height - $image_height)/2;
      margin: $top_bottom_margin auto;

      a {
        background: image-url("openstax-logo-white.svg") no-repeat transparent;
        background-position: center;
        display: block;
        height:  $image_height;
        width:   $image_width;
      }
    }

  }
}
