---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/93e2b09d-261c-4007-a987-0b3062fe154b@3.6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "3.6", "submitlog": "applied CCAP
        Physics template", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-06-11T17:31:59Z", "printStyle": null, "roles": null, "keywords":
        [], "id": "93e2b09d-261c-4007-a987-0b3062fe154b", "title": "Physics", "mediaType":
        "application/vnd.org.cnx.collection", "subjects": ["Science and Technology"],
        "legacy_id": "col10014", "parentId": null, "publishers": [{"surname": "HSPhysics",
        "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics",
        "id": "tutor_hsphysics"}], "parent": {"authors": [], "version": "", "id":
        null, "title": null}, "stateid": 1, "parentTitle": null, "authors": [{"surname":
        "HSPhysics", "suffix": null, "firstname": "Tutor", "title": "", "fullname":
        "Tutor HSPhysics", "id": "tutor_hsphysics"}], "parentVersion": "", "legacy_version":
        "1.3", "licensors": [{"surname": "HSPhysics", "suffix": null, "firstname":
        "Tutor", "title": "", "fullname": "Tutor HSPhysics", "id": "tutor_hsphysics"}],
        "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Attribution"}, "created": "2015-05-29T18:59:40Z",
        "tree": {"id": "93e2b09d-261c-4007-a987-0b3062fe154b@3.6", "contents": [{"id":
        "subcol", "contents": [], "title": "What is Physics?"}, {"id": "subcol", "contents":
        [], "title": "Motion in One Dimension"}, {"id": "subcol", "contents": [{"id":
        "4e40d43d-cfee-412e-919c-facccdf0535d@3", "title": "Introduction"}, {"id":
        "0e58aa87-2e09-40a7-8bf3-269b2fa16509@6", "title": "Acceleration"}, {"id":
        "3005b86b-d993-4048-aff0-500256001f42@7", "title": "Representing Acceleration
        with Equations and Graphs"}], "title": "Acceleration"}, {"id": "subcol", "contents":
        [{"id": "1bb611e9-0ded-48d6-a107-fbb9bd900851@2", "title": "Introduction"},
        {"id": "95e61258-2faf-41d4-af92-f62e1414175a@4", "title": "Force"}, {"id":
        "640e3e84-09a5-4033-b2a7-b7fe5ec29dc6@3", "title": "Newton''s First Law of
        Motion: Intertia"}, {"id": "548a8717-71e1-4d65-80f0-7b8c6ed4b4c0@3", "title":
        "Newton''s Second Law of Motion"}, {"id": "dbc79576-8c66-41d2-929a-74bcd036a1df@3",
        "title": "Newton''s Third Law of Motion"}], "title": "Force and Newton''s
        Laws of Motion"}], "title": "Physics"}, "doctype": "", "buyLink": null, "submitter":
        {"surname": "HSPhysics", "suffix": null, "firstname": "Tutor", "title": "",
        "fullname": "Tutor HSPhysics", "id": "tutor_hsphysics"}, "parentAuthors":
        [], "history": [{"changes": "applied CCAP Physics template", "version": "3.6",
        "revised": "2015-06-11T17:31:59Z", "publisher": {"surname": "HSPhysics", "suffix":
        null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics", "id":
        "tutor_hsphysics"}}, {"changes": "applied CCAP Physics template", "version":
        "3.5", "revised": "2015-06-11T17:28:17Z", "publisher": {"surname": "HSPhysics",
        "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics",
        "id": "tutor_hsphysics"}}, {"changes": "applied CCAP Physics template", "version":
        "3.4", "revised"[...]
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/4e40d43d-cfee-412e-919c-facccdf0535d@3.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "3", "submitlog": "Nothing", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-06-01T16:28:03Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "4e40d43d-cfee-412e-919c-facccdf0535d",
        "title": "Introduction", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2015/05/29 14:03:42 -0500\"/><meta name=\"revised-time\" content=\"2015/06/01
        11:28:03.440 GMT-5\"/><meta name=\"author\" content=\"tutor_hsphysics\"/><meta
        name=\"acl-list\" content=\"tutor_hsphysics\"/><meta name=\"licensor\" content=\"tutor_hsphysics\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/></head>\n\n<body
        xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Introduction</div>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"summary\" title=\"Section Summary\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"key-equations\" title=\"Key Equations\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"concept\" title=\"Concept Items\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"critical-thinking\" title=\"Critical Thinking
        Items\"</cnx-pi>\n<cnx-pi data-type=\"cnx.eoc\">class=\"problem\" title=\"Problems\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"performance\" title=\"Performance Task\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"multiple-choice\" title=\"Multiple Choice\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"short-answer\" title=\"Short Answer\"</cnx-pi>\n<cnx-pi
        data-type=\"cnx.eoc\">class=\"extended-response\" title=\"Extended Response\"</cnx-pi>\n\n<figure
        id=\"fs-idp31463056\" class=\"splash ost-tag-lo-phys-ch03-s01-lo01\"><figcaption>A
        plane slows down as it comes in for landing in St. Maarten. Its acceleration
        is in the opposite direction of its velocity. (credit: Steve Conry, Flickr)</figcaption>\n<span
        data-type=\"media\" id=\"fs-idm48780080\" data-alt=\"An airplane is flying
        over a beach area in St. Maarten as it comes in for a landing at the airport.
        The airplane''s acceleration is in the opposite direction of its velocity.\">\n<img
        src=\"/resources/e2ffcfbb4c64af294808509[...]
[...]
