---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/93e2b09d-261c-4007-a987-0b3062fe154b
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/93e2b09d-261c-4007-a987-0b3062fe154b@3.6.json"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 11 Jun 2015 23:21:19 GMT
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/93e2b09d-261c-4007-a987-0b3062fe154b@3.6.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "3.6", "submitlog": "applied CCAP
        Physics template", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>",
        "revised": "2015-06-11T17:31:59Z", "printStyle": null, "roles": null, "keywords":
        [], "id": "93e2b09d-261c-4007-a987-0b3062fe154b", "title": "Physics", "mediaType":
        "application/vnd.org.cnx.collection", "subjects": ["Science and Technology"],
        "legacy_id": "col10014", "parentId": null, "publishers": [{"surname": "HSPhysics",
        "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics",
        "id": "tutor_hsphysics"}], "parent": {"authors": [], "version": "", "id":
        null, "title": null}, "stateid": 1, "parentTitle": null, "authors": [{"surname":
        "HSPhysics", "suffix": null, "firstname": "Tutor", "title": "", "fullname":
        "Tutor HSPhysics", "id": "tutor_hsphysics"}], "parentVersion": "", "legacy_version":
        "1.3", "licensors": [{"surname": "HSPhysics", "suffix": null, "firstname":
        "Tutor", "title": "", "fullname": "Tutor HSPhysics", "id": "tutor_hsphysics"}],
        "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Attribution"}, "created": "2015-05-29T18:59:40Z",
        "tree": {"id": "93e2b09d-261c-4007-a987-0b3062fe154b@3.6", "contents": [{"id":
        "subcol", "contents": [], "title": "What is Physics?"}, {"id": "subcol", "contents":
        [], "title": "Motion in One Dimension"}, {"id": "subcol", "contents": [{"id":
        "4e40d43d-cfee-412e-919c-facccdf0535d@3", "title": "Introduction"}, {"id":
        "0e58aa87-2e09-40a7-8bf3-269b2fa16509@6", "title": "Acceleration"}, {"id":
        "3005b86b-d993-4048-aff0-500256001f42@7", "title": "Representing Acceleration
        with Equations and Graphs"}], "title": "Acceleration"}, {"id": "subcol", "contents":
        [{"id": "1bb611e9-0ded-48d6-a107-fbb9bd900851@2", "title": "Introduction"},
        {"id": "95e61258-2faf-41d4-af92-f62e1414175a@4", "title": "Force"}, {"id":
        "640e3e84-09a5-4033-b2a7-b7fe5ec29dc6@3", "title": "Newton''s First Law of
        Motion: Intertia"}, {"id": "548a8717-71e1-4d65-80f0-7b8c6ed4b4c0@3", "title":
        "Newton''s Second Law of Motion"}, {"id": "dbc79576-8c66-41d2-929a-74bcd036a1df@3",
        "title": "Newton''s Third Law of Motion"}], "title": "Force and Newton''s
        Laws of Motion"}], "title": "Physics"}, "doctype": "", "buyLink": null, "submitter":
        {"surname": "HSPhysics", "suffix": null, "firstname": "Tutor", "title": "",
        "fullname": "Tutor HSPhysics", "id": "tutor_hsphysics"}, "parentAuthors":
        [], "history": [{"changes": "applied CCAP Physics template", "version": "3.6",
        "revised": "2015-06-11T17:31:59Z", "publisher": {"surname": "HSPhysics", "suffix":
        null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics", "id":
        "tutor_hsphysics"}}, {"changes": "applied CCAP Physics template", "version":
        "3.5", "revised": "2015-06-11T17:28:17Z", "publisher": {"surname": "HSPhysics",
        "suffix": null, "firstname": "Tutor", "title": "", "fullname": "Tutor HSPhysics",
        "id": "tutor_hsphysics"}}, {"changes": "applied CCAP Physics template", "version":
        "3.4", "revised"[...]
