<% @page_header = "Research Data" %>

<h3>Export Data</h3>

<p>Use the button below to trigger an export of research data into the OwnCloud Research Data
   folder. The export will take several minutes, so check back later.</p>

<%= button_to "Export Data", admin_research_data_path, class: 'btn btn-primary' %>
