---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod08_archive0
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3; you should be redirected automatically.

  recorded_at: Mon, 15 Feb 2021 18:16:16 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/b0ffd0a2-9c83-4d73-b899-7f2ade2acda6@3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"/EJ79jgscQJhGYALaerOcw"'
      Link:
      - <https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6/Newton%E2%80%99s-First-Law-of-Motion:-Inertia>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive3
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "3", "submitlog":
        "corrected short code spelling", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"><ul>\n<li>Define
        mass and inertia.</li>\n<li>Understand Newton''s first law of motion.</li>\n</ul></div>",
        "revised": "2016-07-08T16:34:03Z", "printStyle": null, "roles": null, "keywords":
        ["inertia", "mass", "Newton\u2019s first law of motion"], "id": "b0ffd0a2-9c83-4d73-b899-7f2ade2acda6",
        "canonical": "405335a3-7cff-4df2-a9ad-29062a4af261", "title": "Newton\u2019s
        First Law of Motion: Inertia", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://cnx.org/contents/405335a3-7cff-4df2-a9ad-29062a4af261:b0ffd0a2-9c83-4d73-b899-7f2ade2acda6/Newton%E2%80%99s-First-Law-of-Motion:-Inertia",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Newton&#8217;s First Law of Motion:
        Inertia</title><meta name=\"created-time\" content=\"2016/05/02 14:46:19 -0500\"/><meta
        name=\"revised-time\" content=\"2016/07/08 11:34:03.241 GMT-5\"/><meta name=\"author\"
        content=\"cnxphyscw\"/><meta name=\"acl-list\" content=\"cnxphyscw\"/><meta
        name=\"licensor\" content=\"cnxphyscw\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"inertia, mass, Newton&#8217;s first law of motion\"/><meta
        name=\"subject\"[...]
