---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/640e3e84-09a5-4033-b2a7-b7fe5ec29dc6@4.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "fixed typo
        in title", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-06-15T20:33:53Z",
        "printStyle": null, "roles": null, "keywords": ["weight", "system", "normal
        force", "Newton\u2019s first law of motion", "mass", "law of inertia", "inertia",
        "friction", "coefficient of friction"], "id": "640e3e84-09a5-4033-b2a7-b7fe5ec29dc6",
        "title": "Newton''s First Law of Motion: Inertia", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Newton''s First Law of Motion:
        Inertia</title><meta name=\"created-time\" content=\"2015/05/29 14:19:54 -0500\"/><meta
        name=\"revised-time\" content=\"2015/06/15 15:33:53.649 GMT-5\"/><meta name=\"author\"
        content=\"tutor_hsphysics\"/><meta name=\"acl-list\" content=\"tutor_hsphysics\"/><meta
        name=\"licensor\" content=\"tutor_hsphysics\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"coefficient of friction, friction, inertia, law
        of inertia, mass, Newton&#8217;s first law of motion, normal force, system,
        weight\"/><meta name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body
        xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div data-type=\"document-title\">Newton''s
        First Law of Motion: Inertia</div>\n <section data-depth=\"1\" id=\"fs-idp46496672\"
        class=\"section-opener\">\n<div data-type=\"note\" data-has-label=\"true\"
        id=\"fs-idp71732464\" class=\"note learning-objectives\" data-label=\"\"><div
        data-type=\"title\" class=\"title\">Section Learning Objectives</div>\n<p
        id=\"fs-idp96258256\">By the end of this section, you will be able to:</p>\n<ul
        id=\"fs-idm4291344\">\n<li class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s02-lo01
        ost-tag-teks-112-39-c-4d\">Describe Newton&#8217;s first law and friction</li>\n<li
        class=\"ost-learning-objective-def ost-tag-lo-k12phys-ch04-s02-lo02 ost-tag-teks-112-39-c-4d\">Discuss
        the relationship between mass and inertia</li>\n</ul>\n</div>\n<div data-type=\"note\"
        data-has-label=\"true\" id=\"fs-idp76470832\" class=\"note os-teacher\" data-label=\"Teacher
        Support\">\n<p id=\"fs-idp94596288\">The Learning Objectives in this section
        will help your students master the following TEKS:</p>\n<ul id=\"fs-idp47248480\">\n<li>(4)
        Science concepts. The student knows and applies the laws governing motion
        in a variety of situations. The student is expected to:\n<ul id=\"fs-idp88038336\">\n<li
        class=\"ost-standards-def ost-standards-teks ost-tag-teks-112-39-c-4d\"><span
        class=\"ost-standards-name\">(4D)</span><span class=\"ost-standards-discard\">:</span>
        <span class=\"ost-standards-description\">calculate the effect of forces on
        objects, including the law of inertia, the relationship between force and
        acceleration, and the nature of force pairs between objects</span></li>\n<li>Before
        students begin this section, it is useful to review the concepts of force,
        external force, net external force, and addition of forces.</li>\n<li><span
        class=\"ost-level-below\">[...]
