---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/pools
    body:
      encoding: UTF-8
      string: '{"sources":[{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "pool_ids": [
            "3c1ebe22-7e01-4a6a-81cb-a424a1b79003"
          ]
        }
  recorded_at: Wed, 16 Mar 2016 02:41:05 GMT
recorded_with: VCR 2.9.3
