---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/pools
    body:
      encoding: UTF-8
      string: '{"sources":[{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/-1","version":1}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "pool_ids": [
            "fa7c1833-a5da-422b-96d0-5e89a42333e6"
          ]
        }
  recorded_at: Wed, 23 Mar 2016 22:12:41 GMT
recorded_with: VCR 2.9.3
