---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/pools
    body:
      encoding: UTF-8
      string: '{"sources":[{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "pool_ids": [
            "d21bd71a-6c9b-4e53-ba0c-cfbd46e3f0d5"
          ]
        }
  recorded_at: Wed, 16 Mar 2016 01:43:48 GMT
recorded_with: VCR 2.9.3
