---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=b29f96b826f813b0bdae1c2d22702ca0777c0fe4383e581e12005c445f3d132741f3fccf4c429d473093e9529f0f35423b89a3c26b652dbaab39b778cebcffad&pool_ids=bbb928b9-f436-4a0f-a495-5ae7ca27a709
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.5, \n      \"confidence\":
        {\n        \"left\": 9.5937071336180249e-05, \n        \"right\": 0.99990406292866374,
        \n        \"sample_size\": 0, \n        \"unique_learner_count\": 0\n      },
        \n      \"interpretation\": {\n        \"confidence\": \"bad\", \n        \"level\":
        \"medium\", \n        \"threshold\": \"below\"\n      }, \n      \"pool_id\":
        \"7d786a3a-98d0-4c16-8c74-dc2a1d23f83f\"\n    }, \n    {\n      \"aggregate\":
        0.5, \n      \"confidence\": {\n        \"left\": 9.5937071336180249e-05,
        \n        \"right\": 0.99990406292866374, \n        \"sample_size\": 0, \n
        \       \"unique_learner_count\": 0\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"medium\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"bbb928b9-f436-4a0f-a495-5ae7ca27a709\"\n
        \   }\n  ]\n}"
  recorded_at: Wed, 16 Mar 2016 01:59:46 GMT
recorded_with: VCR 2.9.3
