---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=73696860ec2c14805c782bc662080a62af90e1d3d7f6f8406b4da1262d1c4a4c&pool_ids=d64cacc1-428e-4f7e-ac3c-fab80a3d5392
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.047425873177566781,
        \n      \"confidence\": {\n        \"left\": 1.7607135648239901e-07, \n        \"right\":
        0.99992897277780357, \n        \"sample_size\": 1, \n        \"unique_learner_count\":
        1\n      }, \n      \"interpretation\": {\n        \"confidence\": \"bad\",
        \n        \"level\": \"low\", \n        \"threshold\": \"below\"\n      },
        \n      \"pool_id\": \"95abb957-e766-490c-83e3-b8e3ececd4cd\"\n    }, \n    {\n
        \     \"aggregate\": 0.95257412682243336, \n      \"confidence\": {\n        \"left\":
        0.036625846053899999, \n        \"right\": 0.99990577094004462, \n        \"sample_size\":
        1, \n        \"unique_learner_count\": 1\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"high\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"d64cacc1-428e-4f7e-ac3c-fab80a3d5392\"\n
        \   }\n  ]\n}"
  recorded_at: Wed, 16 Mar 2016 01:43:49 GMT
recorded_with: VCR 2.9.3
