---
http_interactions:
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/1491e74e-ed39-446f-a602-e7ab881af101@10"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Tue, 14 Apr 2015 21:14:44 GMT
- request:
    method: get
    uri: http://archive.cnx.org/contents/1491e74e-ed39-446f-a602-e7ab881af101@10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '353287'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "10", "submitlog": "changed roles",
        "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-04-10T18:27:38Z",
        "roles": null, "keywords": [], "id": "1491e74e-ed39-446f-a602-e7ab881af101",
        "title": "Introduction", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Introduction</title><meta name=\"created-time\"
        content=\"2015/03/05 08:26:29 +0000\"/><meta name=\"revised-time\" content=\"2015/04/10
        13:27:38.803 GMT-5\"/><meta name=\"author\" content=\"AlinaManager\"/><meta
        name=\"licensor\" content=\"AlinaManager\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"subject\" content=\"Mathematics and Statistics\"/></head>\n\n<body
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Introduction</div>\n<?cnx.eoc class=\"summary\"
        title=\"Section Summary\"?> \n<?cnx.eoc class=\"key-equations\" title=\"Key
        Equations\"?>  \n<?cnx.eoc class=\"concept\" title=\"Concept Items\"?>\n<?cnx.eoc
        class=\"critical-thinking\" title=\"Critical Thinking Items\"?>\n<?cnx.eoc
        class=\"problem\" title=\"Problems\"?>\n<?cnx.eoc class=\"performance\" title=\"Performance
        Task\"?>\n<?cnx.eoc class=\"multiple-choice\" title=\"Multiple Choice \"?>\n<?cnx.eoc
        class=\"short-answer\" title=\"Short Answer\"?>\n<?cnx.eoc class=\"extended-response\"
        title=\"Extended Response\"?>\n\n<figure id=\"fs-idp30390784\" class=\"splash\"><figcaption>Newton&#8217;s
        laws of motion describe the motion of the dolphin&#8217;s path. (credit: Jin
        Jang)</figcaption><span data-type=\"media\" id=\"fs-idp23649424\" data-alt=\"Alt
        text\"><img src=\"/resources/a99cf4ac886581d4f905dfa768c26219/OST_PhysicsTestContent_01_00_01.jpg\"
        data-media-type=\"image/jpeg\" alt=\"Alt text\"/></span></figure>\n<div data-type=\"note\"
        id=\"eip-105\" class=\"os-teacher\" data-label=\"Teacher Edition\">\n<p id=\"eip-idp140653684147760\">Before
        students begin this chapter, they may wish to review the concepts of distance,
        displacement, speed, velocity, acceleration, scalars, vectors, representing
        vectors, units of[...]
[...]
