---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/21d0e217-d50f-4901-af75-905e738eb4c4
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain; charset=UTF-8
      Etag:
      - '"1B2M2Y8AsgTpgAmY7PhCfg"'
      Location:
      - https://archive.cnx.org/contents/21d0e217-d50f-4901-af75-905e738eb4c4@13
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive2
      X-Varnish-Ttl:
      - '60.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: |+
        302 Found

        The resource was found at /contents/21d0e217-d50f-4901-af75-905e738eb4c4@13; you should be redirected automatically.

  recorded_at: Thu, 11 Feb 2021 20:47:35 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/21d0e217-d50f-4901-af75-905e738eb4c4@13
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"KQA3yHYuwirCPv+dvWncyw"'
      Link:
      - <https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:21d0e217-d50f-4901-af75-905e738eb4c4/Kinematics-in-Two-Dimensions:-An-Introduction>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - prod07_archive5
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": ["UA-30227798-1"], "version": "13", "submitlog":
        "footnote republish", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"><ul>\n<li>Observe
        that motion in two dimensions consists of horizontal and vertical components.</li>\n<li>Understand
        the independence of horizontal and vertical vectors in two-dimensional motion.</li>\n</ul></div>",
        "revised": "2020-08-31T15:57:49Z", "printStyle": null, "roles": null, "keywords":
        ["Kinematics", "Motion", "Vector", "Pythagorean theorem"], "id": "21d0e217-d50f-4901-af75-905e738eb4c4",
        "canonical": "031da8d3-b525-429c-80cf-6c8ed997733a", "title": "Kinematics
        in Two Dimensions: An Introduction", "mediaType": "application/vnd.org.cnx.module",
        "canon_url": "https://cnx.org/contents/031da8d3-b525-429c-80cf-6c8ed997733a:21d0e217-d50f-4901-af75-905e738eb4c4/Kinematics-in-Two-Dimensions:-An-Introduction",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Kinematics in Two Dimensions:
        An Introduction</title><meta name=\"created-time\" content=\"2011/12/21 11:22:16
        -0600\"/><meta name=\"revised-time\" content=\"2020/03/17 16:14:38.847 GMT-5\"/><meta
        name=\"author\" content=\"OpenStaxCollege\"/><meta name=\"licensor\" content=\"OSCRiceUniversity\"/><meta
        name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"Kinematics, Motion, Pythagorean theorem, Vector\"/><meta
        name=\"subject\" content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://www.w3.org/TR/html5/dom.html#custom-data-attribute\"
        xmlns:epub=\"http://www.idpf.org/2007/ops\" data-cnxml-to-html-ver=\"2.1.0\"><div
        data-type=\"document-title\">Kinematics in Two Dimensions: An Introduction</div><div
        data-type=\"abstract\"><ul>\n<li>Observe that motion in two dimensions consists
        of horizontal and vertical components.</li>\n<li>Understand the independence
        of horizontal and vertical vectors in two-dimensional motion.</li>\n</ul></div>\n\n    <figure
        id=\"import-auto-id1165298608692\"><figcaption>Walkers and drivers in a city
        like New York are rarely able to travel in straight lines to reach their destinations.
        Instead, they must follow roads and sidewalks, making two-dimensional, zigzagged
        paths. (credit: Margaret W. Carruthers)</figcaption><span data-type=\"media\"
        id=\"import-auto-id1165296572209\" data-alt=\"A busy traffic intersection
        in New York showing vehicles moving on the road.\">\n        <img src=\"/resources/fb7c5f8fe285e235727fae06c2ecb0dd11106b79/Figure_03_01_00.jpg\"
        data-media-type=\"image/jpg\" alt=\"A busy traffic intersection in New York
        showing vehicles moving on the road.\" width=\"300\"/>\n      </span>\n\n    </figure><section
        data-depth=\"1\" id=\"fs-id1165298595412\"><h3 data-type=\"title\">Two-Dimensional
        Motion: Walking in a City</h3>\n    <p id=\"import-auto-id1165298535384\">Suppose
        you want to walk from one point to another in a city with uniform square blocks,
        as pictured in <a href=\"#import-auto-id1165296250183\" class=\"autogenerated-content\">[link]</a>.</p>\n\n    <figure
        id=\"import-auto-id1165296250183\"><figcaption>A pedestrian walks a two-dimensional
        path between two points in a city. In this scene, all blocks are square and
        are the same size.</figca[...]
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/oauth/token"
    body:
      encoding: UTF-8
      string: client_id=<openstax_exercises_client_id>&client_secret=<openstax_exercises_secret>&grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"773d8dfb0592b9204c01e9b02605bb5f"
    body:
      encoding: ASCII-8BIT
      string: '{"access_token":"cdd8fb6b09bb1ae0fccb0493572e2339be3af110f202f201225440539907e033","token_type":"Bearer","created_at":1549033637}'
  recorded_at: Fri, 12 Feb 2021 04:13:58 GMT
[...]
- request:
    method: post
    uri: "<openstax_exercises_url>/api/exercises/search"
    body:
      encoding: UTF-8
      string: page=1&q=tag%3A%22context-cnxmod%3A2242a8c5-e8b1-4287-b801-af74ef6f1e5b%22
    headers:
      Authorization:
      - "<Authorization>"
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"b9800ea46ec4c921fd6bbe8bc66f8ce5"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6NiwiaXRlbXMiOlt7ImltYWdlcyI6W10sInRhZ3MiOlsiaW5ib29rLXllcyIsImsxMnBoeXMiLCJvcy1wcmFjdGljZS1jb25jZXB0cyIsImsxMnBoeXMtY2gwNSIsImsxMnBoe[...]
