// These styles are copied from the FE and should be kept in sync with
// tutor/src/screens/surveys/styles.scss
#survey-preview {

  background-color:  $tutor-neutral-bright;
  padding: 50px;

  h3 {
    text-align: center;
    margin-bottom: 40px;
  }

  textarea {
    font-size: 1.6rem;
    line-height: 2.5rem;
    font-weight: 400;
    letter-spacing: normal;
    border: .1rem solid #d5d5d5;
    background-color: #fff;
    box-sizing: border-box;
    color: #424242;
    flex: 0 0 100%;
    padding: 0 1.5rem;
    width: 100%;
  }

  .sv_main {

    display: flex;
    justify-content: center;

  }

  .sv_nav {
    margin-top: 40px;
    input[type=button] {
      padding: 10px 20px;
    }
  }

  .sv_row {
    margin-bottom: 40px;
  }


  .sv_q_title {
    font-size: 1.6rem;
    font-weight: normal;
    margin-bottom: 20px;
    color: $tutor-neutral-darker;
  }

  // answer choices wrapper
  label {
    font-weight: normal;
    color: $tutor-neutral-thin-dark;
    display: flex;
    align-items: center;
    input { margin: 0; }
  }
  .sv_q_radiogroup_label {
    input { margin-right: 0.5rem; }
  }

  input[type="radio"],
  input[type="checkbox"] {
    height: inherit; // override pattern library default of 5rem
  }

  .btn, [type=button], [type=reset], [type=submit], button {
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.6rem;
    line-height: 2.5rem;
    letter-spacing: normal;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-flex;
    height: 5rem;
    margin: 0;
    padding: 0 3rem;
    text-decoration: none;
    user-select: none;
    white-space: nowrap;
    width: auto;
    border: .1rem solid #d5d5d5;
    border-radius: .2rem;
    color: #424242;
    font-weight: 400;
    background-color: #f1f1f1;
  }

  .sv_next_btn,
  .sv_complete_btn {
    border: 0;
    color: #fff;
    font-weight: 700;
    background-color: $os_orange;
    cursor: pointer;
    &:hover {
      background-color: #e96128;
    }
    cursor: pointer;
  }

}
