---
http_interactions:
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@6.2.json"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 07 Apr 2016 22:22:23 GMT
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@6.2.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "", "version": "6.2", "submitlog": "added clarification
        to title", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-10-19T05:24:48Z",
        "printStyle": null, "roles": null, "keywords": [], "id": "ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7",
        "title": "AP Biology Demo Content (Obsolete)", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Science and Technology"], "legacy_id": "col10038", "parentId":
        null, "publishers": [{"surname": "APBio", "suffix": null, "firstname": "Tutor",
        "title": "", "fullname": "Tutor APBio", "id": "tutor_apbio"}], "parent": {"authors":
        [], "version": "", "id": null, "title": null}, "stateid": 1, "parentTitle":
        null, "authors": [{"surname": "APBio", "suffix": null, "firstname": "Tutor",
        "title": "", "fullname": "Tutor APBio", "id": "tutor_apbio"}], "parentVersion":
        "", "legacy_version": "1.6", "licensors": [{"surname": "APBio", "suffix":
        null, "firstname": "Tutor", "title": "", "fullname": "Tutor APBio", "id":
        "tutor_apbio"}], "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Attribution"}, "created": "2015-06-16T15:17:51Z",
        "tree": {"id": "ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@6.2", "contents": [{"id":
        "subcol", "contents": [{"id": "subcol", "contents": [{"id": "dc74b6ed-d06a-4fef-8479-8eefd058b59a@23",
        "title": "Introduction"}, {"id": "4d5fc58c-cdea-4950-a91d-a5f141a38744@34",
        "title": "The Science of Biology"}, {"id": "cb7cf05b-7e16-4a53-a498-003b01ec3d7f@27",
        "title": "Themes and Concepts of Biology"}], "title": "The Study of Life"},
        {"id": "subcol", "contents": [], "title": "The Chemical Foundation of Life"},
        {"id": "subcol", "conten[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@6.2:dc74b6ed-d06a-4fef-8479-8eefd058b59a@23
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-3", "version": "23", "submitlog":
        "Modified", "abstract": "<div xml[...]
[...]
- request:
    method: get
    uri: https://archive-staging-tutor.cnx.org/contents/ccbc51fa-49f3-40bb-98d6-07a15a7ab6b7@6.2:cb7cf05b-7e16-4a53-a498-003b01ec3d7f@27
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "27", "submitlog": "fixed link
        case 2", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2015-07-31T16:01:26Z",
        "printStyle": null, "roles": null, "keywords": ["zoology", "tissue", "prokaryote",
        "population", "phylogeny", "phylogenetic tree", "paleontology", "organ system",
        "organism", "organelle", "organ", "neurobiology", "molecule", "molecular biology",
        "microbiology", "macromolecule", "life", "homeostasis", "evolution", "eukaryote",
        "ecosystem", "community", "cell", "Carl Woese", "botany", "biosphere", "biology",
        "biochemistry", "atom"], "id": "cb7cf05b-7e16-4a53-a498-003b01ec3d7f", "title":
        "Themes and Concepts of Biology", "mediaType": "application/vnd.org.cnx.module",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Themes and Concepts of Biology</title><meta
        name=\"created-time\" content=\"2015/04/21 10:25:26 -0500\"/><meta name=\"revised-time\"
        content=\"2015/07/31 11:01:26.057 GMT-5\"/><meta name=\"author\" content=\"tutor_apbio\"/><meta
        name=\"licensor\" content=\"tutor_apbio\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"atom, biochemistry, biology, biosphere, botany,
        Carl Woese, cell, community, ecosystem, eukaryote, evolution, homeostasis,
        life, macromolecule, microbiology, molecular biology, molecule, neurobiology,
        organ, organelle, organism, organ system, paleontology, phylogenetic tree,
        phylogeny, population, prokaryote, tissue, zoology\"/><meta name=\"subject\"
        content=\"Science and Technology\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Themes and Concepts of Biology</div>\n<section
        data-depth=\"1\" id=\"fs-id1167066857224\" class=\"learning-objectives\">\n<p
        id=\"fs-id1167066808654\">By the end of this section, you will be able to:</p>\n<ul
        id=\"fs-id1167066852444\">\n<li class=\"ost-learning-objective-def ost-tag-lo-apbio-ch01-s02-lo01\">Identify
        and describe the properties of life</li>\n<li class=\"ost-learning-objective-def
        ost-tag-lo-apbio-ch01-s02-lo02\">Describe the levels of organization among
        living things</li>\n<li class=\"ost-learning-objective-def ost-tag-lo-apbio-ch01-s02-lo03\">Recognize
        and interpret a phylogenetic tree</li>\n</ul>\n</section>\n<section data-depth=\"1\"
        id=\"fs-id1167066854039\" class=\"ap-connection\"><h1 data-type=\"title\">Connection
        for AP<sup>&#174;</sup> Courses</h1><p id=\"fs-id1167066831692\">The AP<sup>&#174;</sup>
        Biology curriculum is organized around four major themes called the Big Ideas
        that apply to all levels of biological organization&#8212;from molecules and
        cells to populations and ecosystems. Each Big Idea identifies key concepts
        called Enduring Understandings, and Essential Knowledges, along with supporting
        examples. Simple descriptions define the focus of each Big Idea: Big Ide[...]
[...]
- request:
    method: get
    uri: <openstax_exercises_url>/api/exercises?q=tag:%22context-cnxmod:dc74b6ed-d06a-4fef-8479-8eefd058b59a,context-cnxmod:4d5fc58c-cdea-4950-a91d-a5f141a38744,apbio-ch01-s01-lo01,apbio-ch01-s01-lo02,apbio-ch01-s01-aplo-2-03,context-cnxmod:cb7cf05b-7e16-4a53-a498-003b01ec3d7f,apbio-ch01-s02-lo01,apbio-ch01-s02-lo02,apbio-ch01-s02-lo03,apbio-ch01-s02-aplo-1-14,apbio-ch01-s02-aplo-1-18,context-cnxmod:d146e100-19c1-429d-9218-1ebb7325f594,context-cnxmod:85d6c500-9860-42e8-853a-e6940a50224f,apbio-ch03-s01-lo01,apbio-ch03-s01-lo02,apbio-ch03-s01-aplo-1-27,apbio-ch03-s01-aplo-1-28,context-cnxmod:cb5052e5-d776-4570-8e4b-61171b792703,apbio-ch03-s02-lo01,apbio-ch03-s02-lo02,apbio-ch03-s02-lo03,apbio-ch03-s02-aplo-4-1,apbio-ch03-s02-aplo-4-2,apbio-ch03-s02-aplo-4-3,context-cnxmod:84ab6fe4-c1c3-4d36-b4c8-6615d6100820,apbio-ch03-s03-lo01,apbio-ch03-s03-lo02,apbio-ch03-s03-lo03,apbio-ch03-s03-lo04,apbio-ch03-s03-lo05,apbio-ch03-s03-lo06,apbio-ch03-s03-aplo-4-1,apbio-ch03-s03-aplo-4-2,apbio-ch03-s03-aplo-4-3,context-cnxmod:cbbe54d1-c692-4405-a487-1c0f8ef8ea92,apbio-ch03-s04-lo01,apbio-ch03-s04-lo02,apbio-ch03-s04-lo03,apbio-ch03-s04-lo04%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <request_header_oauth_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"ce0dce752b6a1d9ada620a61c3df3f13"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MTU0LCJpdGVtcyI6W3siYXR0YWNobWVudHMiOltd
        LCJ0YWdzIjpbImFwYmlvIiwiYXBiaW8tY2gwMSIsImFwYmlvLWNoMDEtczAx
        IiwiYXBiaW8tY2gwMS1zMDEtbG8wMiIsImFwYmlvLWNoMDEtZXgwMDEiLCJ2
        aXN1YWwtY29ubmVjdGlvbiIsImRvazMiLCJ0aW1lLW1lZGl1bSIsImJsb29t
        cy00IiwiZG9rOjMiLCJibG9vbXM6NCIsInRpbWU6bWVkaXVtIiwiZXhpZDpz
        dGF4LWFwYmlvOjEiLCJjb250ZXh0LWNueG1vZDo[...]
