---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 302
      message: Found
    headers:
      Content-Type:
      - text/plain
      Location:
      - "/contents/f10533ca-f803-490d-b935-88899941197f@3.1.json"
      X-Varnish-Action:
      - FETCH (pass - status > 300, not content)
      X-Varnish-Age:
      - '0'
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Thu, 05 Nov 2015 17:55:08 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/f10533ca-f803-490d-b935-88899941197f@3.1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '4386'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": null, "version": "3.1", "submitlog": ".", "abstract":
        "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">Biology is designed for
        multi-semester biology courses for science majors. It is grounded on an evolutionary
        basis and includes exciting features that highlight careers in the biological
        sciences and everyday applications of the concepts at hand. To meet the needs
        of today&#8217;s instructors and students, some content has been strategically
        condensed while maintaining the overall scope and coverage of traditional
        texts for this course. Instructors can customize the book, adapting it to
        the approach that works best in their classroom. Biology also includes an
        innovative art program that incorporates critical thinking and clicker questions
        to help students understand&#8212;and apply&#8212;key concepts.</div>", "revised":
        "2015-11-05T16:38:21Z", "printStyle": "ccap-biology", "roles": "{''translators'':[''openstaxalina'']}",
        "keywords": ["virus", "vertebrates", "study of life", "soil", "sexual reproduction",
        "sensory system", "seedless plants", "seed plants", "respiratory system",
        "protists", "proteins", "prokaryotes", "population evolution", "population
        ecology", "plant reproduction", "plant physiology", "plant nutrition", "plant
        biology", "physiology", "phylogeny", "photosynthesis", "osmotic regulation",
        "origin of species", "nervous system", "musculoskeletal system", "metabolism",
        "meiosis", "macromolecules", "invertebrates", "inheritance", "immune system",
        "genomics", "genetics", "genes", "gene expression", "fungi", "evolution",
        "eukaryotes", "endocrine system", "ecosystems", "ecology", "DNA", "digestive
        system", "conservation", "college biology", "circulatory system", "chemistry",
        "cellular respiration", "cells", "cell structure", "cell reproduction", "cell
        membranes", "cell function", "cell communication", "biotechnology", "biosphere",
        "biology for majors", "biology", "biological molecules", "biodiversity", "behavioral
        biology", "bacteria", "archaea", "animal reproduction", "animal physiology",
        "animal diversity", "animal body", "animal biology"], "id": "f10533ca-f803-490d-b935-88899941197f",
        "title": "Mini CC Biology Tes Coll", "mediaType": "application/vnd.org.cnx.collection",
        "subjects": ["Science and Technology"], "legacy_id": "col11900", "parentId":
        "185cbf87-c72e-48f5-b51e-f14f21b5eabd", "publishers": [{"surname": "feng",
        "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy feng",
        "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname": "Alina",
        "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}, {"surname":
        "Slavik", "suffix": "", "firstname": "Alina", "title": null, "fullname": "Alina
        Slavik", "id": "AlinaManager"}], "parent": {"authors": [{"surname": "OpenStax
        College", "suffix": "", "firstname": "", "title": "", "fullname": "OpenStax
        College", "id": "OpenStaxCollege"}], "version": "9.87", "id": "185cbf87-c72e-48f5-b51e-f14f21b5eabd",
        "title": "Biology"}, "stateid": 1, "parentTitle": "Biology", "authors": [{"surname":
        "feng", "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy
        feng", "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}],
        "parentVersion": "9.87", "legacy_version": "1.3", "licensors": [{"surname":
        "feng", "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy
        feng", "id": "wendyfeng"}, {"surname": "Slavik", "suffix": "", "firstname":
        "Alina", "title": "", "fullname": "Alina Slavik", "id": "openstaxalina"}],
        "language": "en", "license": {"url": "http://creativecommons.org/licenses/by/4.0/",
        "code": "by", "version": "4.0", "name": "Creative Commons Attribution License"},
        "created": "2012-08-22T18:43:24Z", "tree": {"id": "f10533ca-f803-490d-b935-88899941197f@3.1",
        "contents": [{"id": "subcol", "contents": [{"id": "subcol", "contents": [{"id":
        "ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2", "title": "Sample module 1"}, {"id":
        "6a0568d8-23d7-439b-9a01-16e4e73886b3@12", "title": "The Science of Biology"}],
        "title": "The Study of Life"}, {"id": "subcol", "contents": [{"id": "7636a3bf-eb80-4898-8b2c-e81c1711b99f@2",
        "title": "Sample module 2"}, {"id": "be8818d0-2dba-4bf3-859a-737c25fb2c99@12",
        "title": "Atoms, Isotopes, Ions, and Molecules: The Building Blocks"}], "title":
        "The Chemical Foundation of Life"}], "title": "Unit 1. The Chemistry of Life"},
        {"id": "subcol", "contents": [{"id": "subcol", "contents": [{"id": "e98bdaec-4060-4b43-ac70-681555a30e22@2",
        "title": "Sample module 3"}, {"id": "003aedba-f354-4e57-ba45-f8b4eda66e12@8",
        "title": "Studying Cells"}], "title": "Cell Structure"}, {"id": "subcol",
        "contents": [{"id": "a1a2f03a-701f-4e7a-ae0e-d8087880c6fd@2", "title": "Sample
        module 4"}, {"id": "40e1947a-5a8b-4314-a9e7-bae3cedb885d@9", "title": "Components
        and Structure"}], "title": "Structure and Function of Plasma Membranes"}],
        "title": "Unit 2. The Cell"}], "title": "Mini CC Biology Tes Coll"}, "doctype":
        "", "buyLink": null, "submitter": {"surname": "feng", "suffix": null, "firstname":
        "wendy", "title": "", "fullname": "wendy feng", "id": "wendyfeng"}, "parentAuthors":
        [{"surname": "OpenStax College", "suffix": "", "firstname": "", "title": "",
        "fullname": "OpenStax College", "id": "OpenStaxCollege"}], "history": [{"changes":
        ".", "version": "3.1", "revised": "2015-11-05T16:38:21Z", "publisher": {"surname":
        "feng", "suffix": null, "firstname": "wendy", "title": "", "fullname": "wendy
        feng", "id": "wendyfeng"}}, {"changes": "mini", "version": "2.1", "revised":
        "2015-10-29T16:29:45Z", "publisher": {"surname": "feng", "suffix": null, "firstname":
        "wendy", "title": "", "fullname": "wendy feng", "id": "wendyfeng"}}, {"changes":
        "...", "version": "1.1", "revised": "2015-10-29T13:21:26Z", "publisher": null}]}'
  recorded_at: Thu, 05 Nov 2015 17:55:08 GMT
- request:
    method: get
    uri: https://archive.cnx.org/contents/ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c@2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '74180'
    body:
      encoding: UTF-8
      string: '{"googleAnaly[...]
- request:
    method: get
    uri: https://archive.cnx.org/contents/6a0568d8-23d7-439b-9a01-16e4e73886b3@12
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '74180'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-3", "version": "12", "submitlog":
        "errata report 797", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\">By
        the end of this section, you will be able to:\n<ul>\n<li>Identify the shared
        characteristics of the natural sciences</li>\n<li>Summarize the steps of the
        scientific method</li>\n<li>Compare inductive reasoning with deductive reasoning</li>\n<li>Describe
        the goals of basic science and applied science</li>\n</ul></div>", "revised":
        "2015-05-13T17:57:57Z", "printStyle": null, "roles": null, "keywords": ["variable",
        "theory", "serendipity", "scientific reasoning", "scientific method", "science",
        "review article", "results", "plagiarism", "physical science", "peer-reviewed",
        "natural sciences", "materials and methods", "life science", "life", "introduction",
        "inductive reasoning", "hypothesis-based science", "hypothesis", "falsifiable",
        "experiment", "discussion", "descriptive science", "deductive reasoning",
        "control", "conclusion", "biology", "basic science", "applied science", "abstract"],
        "id": "6a0568d8-23d7-439b-9a01-16e4e73886b3", "title": "The Science of Biology",
        "mediaType": "application/vnd.org.cnx.module", "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"><title>The
        Science of Biology</title><meta name=\"created-time\" content=\"2012/08/22
        14:06:58 -0500\"/><meta name=\"revised-time\" content=\"2015/05/13 12:57:57.339
        GMT-5\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta name=\"licensor\"
        content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/4.0/\"/><meta
        name=\"keywords\" content=\"abstract, applied science, basic science, biology,
        conclusion, control, deductive reasoning, descriptive sci[...]
[...]
- request:
    method: get
    uri: https://exercises-dev.openstax.org/api/exercises?q=tag:%22cnxmod:ad9b9d37-a5cf-4a0d-b8c1-083fcc4d3b0c,cnxmod:6a0568d8-23d7-439b-9a01-16e4e73886b3,cnxmod:7636a3bf-eb80-4898-8b2c-e81c1711b99f,cnxmod:be8818d0-2dba-4bf3-859a-737c25fb2c99,cnxmod:e98bdaec-4060-4b43-ac70-681555a30e22,cnxmod:003aedba-f354-4e57-ba45-f8b4eda66e12,cnxmod:a1a2f03a-701f-4e7a-ae0e-d8087880c6fd,cnxmod:40e1947a-5a8b-4314-a9e7-bae3cedb885d%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0efb429088f50bfd1d21721c818426e0"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6NDksIml0ZW1zIjpbeyJ1aWQiOiIyOTMzQDIiLCJu
        dW1iZXIiOjI5MzMsInZlcnNpb24iOjIsInB1Ymxpc2hlZF9hdCI6IjIwMTUt
        MTEtMDVUMTc6MjI6MzkuMzEwWiIsImVkaXRvcnMiOltdLCJhdXRob3JzIjpb
        eyJ1c2VyX2lkIjoxLCJuYW1lIjoiT3BlblN0YXgifV0sImNvcHlyaWdodF9o
        b2xkZXJzIjpbeyJ1c2VyX2lkIjoyLCJuYW1lIjoiUmljZSBVbml2ZXJzaXR5
        In1dLCJkZXJpdmVkX2Zyb20iOltdLCJhdHRhY2h[...]
