---
http_interactions:
- request:
    method: get
    uri: https://archive.cnx.org/contents/102e9604-daa7-4a09-9f9e-232251d1a4ee@7
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Varnish-Action:
      - FETCH (override - archive contents)
      X-Factor-Ttl:
      - 'ttl: 604800.000'
      X-Varnish-Age:
      - '11465'
    body:
      encoding: UTF-8
      string: '{"googleAnalytics": "UA-30227798-1", "version": "7", "submitlog": "None,
        correction was made to ISM.", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><ul>\n<li>Perform
        unit conversions both in the SI and English units.\n</li>\n<li>Explain the
        most common prefixes in the SI units and be able to write them in scientific
        notation.</li>\n</ul></div>", "revised": "2013-08-28T21:47:11Z", "printStyle":
        null, "roles": null, "keywords": ["Units", "Meter", "SI units", "Conversion
        factor", "Customary system", "Derived units", "English units", "Fundamental
        units", "Kilogram", "Metric system", "Order of magnitude", "Physical quantity",
        "Second"], "id": "102e9604-daa7-4a09-9f9e-232251d1a4ee", "title": "Physical
        Quantities and Units", "mediaType": "application/vnd.org.cnx.module", "content":
        "<html xmlns=\"http://www.w3.org/1999/xhtml\">\n<head xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\"><title>Physical Quantities and Units</title><meta
        name=\"created-time\" content=\"2011/12/21 10:59:22 -0600\"/><meta name=\"revised-time\"
        content=\"2013/08/28 16:47:11.544 GMT-5\"/><meta name=\"author\" content=\"OpenStaxCollege\"/><meta
        name=\"licensor\" content=\"OSCRiceUniversity\"/><meta name=\"license\" content=\"http://creativecommons.org/licenses/by/3.0/\"/><meta
        name=\"keywords\" content=\"Conversion factor, Customary system, Derived units,
        English units, Fundamental units, Kilogram, Meter, Metric system, Order of
        magnitude, Physical quantity, Second, SI units, Units\"/><meta name=\"subject\"
        content=\"Mathematics and Statistics\"/></head>\n\n<body xmlns=\"http://www.w3.org/1999/xhtml\"
        xmlns:c=\"http://cnx.rice.edu/cnxml\" xmlns:md=\"http://cnx.rice.edu/mdml\"
        xmlns:qml=\"http://cnx.rice.edu/qml/1.0\" xmlns:mod=\"http://cnx.rice.edu/#moduleIds\"
        xmlns:bib=\"http://bibtexml.sf.net/\" xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"><div
        data-type=\"document-title\">Physical Quantities and Units</div><div data-type=\"abstract\"><ul>\n<li>Perform
        unit conversions both in the SI and English units.\n</li>\n<li>Explain the
        most common prefixes in the SI units and be able to write them in scientific
        notation.</li>\n</ul></div>\n    \n    <figure id=\"import-auto-id2657097\"><figcaption>The
        distance from Earth to the Moon may seem immense, but it is just a tiny fraction
        of the distances from Earth to other celestial bodies. (credit: NASA)</figcaption><span
        data-type=\"media\" id=\"import-auto-id3164906\" data-alt=\"A view of Earth
        from the Moon.\">\n        <img src=\"/resources/485c7cbe98e7d93838a4bd98e125dde7583a0883/Figure_01_02_01b.jpg\"
        data-media-type=\"image/png\" alt=\"A view of Earth from the Moon.\" width=\"300\"/>\n      </span>\n      \n    </figure><p
        id=\"import-auto-id2510075\">The range of objects and phenomena studied in
        physics is immense. From the incredibly short lifetime of a nucleus to the
        age of the Earth, from the tiny sizes of sub-nuclear particles to the vast
        distance to the edges of the known universe, from the force exerted by a jumping
        flea to the force between Earth and the Sun, there are enough factors of 10
        to challenge the imagination of even the most experienced scientist. Giving
        numerical values for physical quantities and equations for physical principles
        allows us to understand nature much more deeply than does qualitative description
        alone. To comprehend these vast ranges, we must also have accepted units in
        which to express them. And we shall find that (even in the potentially mundane
        discussion of meters, kilograms, and seconds) a profound simplicity of nature
        appears&#8212;all physical quantities can be expressed as combinations of
        only four fundamental physical quantities: length, mass, time, and electric
        current.</p><p id=\"import-auto-id1675918\">We define a <span data-type=\"term\"
        id=\"import-auto-id1536256\">physical quantity</span> either by  <em data-effect=\"italics\">specifying
        how it is measured</em> or by <em data-effect=\"italics\"><em data-effect=\"italics\">stating
        how it is calculated</em></em> from other measurements. For example, we define
        distance and time by specifying methods for measuring them, whereas we define
        <em data-effect=\"italics\"><em data-effect=\"italics\">average speed</em></em>
        by stating that it is calculated as distance traveled divided by time of travel.</p>\n    <p
 [...]
- request:
    method: get
    uri: <openstax_exercises_url>/api/exercises?q=tag:%22context-cnxmod:102e9604-daa7-4a09-9f9e-232251d1a4ee%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <request_header_oauth_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"1e3eeddff37610c231ad747ceb5e3bd3"
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        eyJ0b3RhbF9jb3VudCI6MSwiaXRlbXMiOlt7ImF0dGFjaG1lbnRzIjpbXSwi
        dGFncyI6WyJ0eXBlOmNvbmNlcHQtY29hY2giLCJibG9vbXM6MiIsInRpbWU6
        c2hvcnQiLCJkb2s6MSIsImJvb2s6c3RheC1waHlzIiwibG86c3RheC1waHlz
        OjEtMi0yIiwiZXhpZDpzdGF4LXBoeXM6MyIsImNvbnRleHQtY254bW9kOjEw
        MmU5NjA0LWRhYTctNGEwOS05ZjllLTIzMjI1MWQxYTRlZSJdLCJ1aWQiOiIz
        MjU1QDEiLCJudW1iZXIiOjMyNTUsInZlcnNpb24[...]
[...]
- request:
    method: get
    uri: <openstax_exercises_url>/api/exercises?q=tag:%22context-cnxmod:127f63f7-d67f-4710-8625-2b1d4128ef6b%22
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <request_header_oauth_access_token>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"7d677de0cf405de24f0f10b68258ceb0"
    body:
      encoding: UTF-8
      string: '{"total_count":0,"items":[]}'
  recorded_at: Thu, 07 Apr 2016 22:23:39 GMT
recorded_with: VCR 2.9.3
