<table class='table table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
  <% @periods.each do |period| %>
    <tr>
      <td><%= period.name %></td>
      <td>
        <%= link_to 'Edit', edit_admin_course_period_path(@course.course_id, period), class: "btn btn-xs btn-primary"  %>
        <%= link_to 'Delete', admin_course_period_path(@course.course_id, period), method: :delete, class: 'btn btn-xs btn-primary' %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Add period', new_admin_course_period_path(@course.course_id), class: "btn btn-primary", style: 'margin-bottom:0px' %>
