<% method ||= :post %>

<%= form_tag(url, method: method, class: 'form-inline') do |f| %>
  <div class="form-group">
    <%= label_tag 'Offering' %>
    <%= select_tag :catalog_offering_id,
        options_from_collection_for_select(@catalog_offerings || [], :id, :salesforce_book_name,
        params[:catalog_offering_id] || @course.catalog_offering_id),
        include_blank: true, class: 'form-control' %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
<% end %>
