<% method ||= :post %>

<%= form_tag(url, method: method, class: 'form-inline') do |f| %>
  <div class="form-group">
    <%= label_tag :book_id %>
    <%= select_tag :book_id, options_from_collection_for_select(@books, :id, :title_with_id, params[:book_id] || @course_book.try(:id)), include_blank: true, class: 'form-control' %>
  </div>

  <%= submit_tag 'Submit', class: 'btn btn-primary' %>
<% end %>
