<% @page_header = "Edit Course" %>

<%= render 'form', url: admin_course_path, method: :put %>

<hr/>

<h3>Select a course book</h3>

<%= render 'set_book', url: set_book_admin_course_path(@course.course_id) %>

<hr/>

<h3>Periods</h3>

<%= render 'periods' %>

<hr/>

<h3>Upload Student Roster</h3>

<%= render 'students', url: students_admin_course_path(@course.course_id) %>
