<%= link_to 'Add Course', new_admin_course_path %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Teacher(s)</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.teacher_names.to_sentence %></td>
        <td><%= link_to 'edit', edit_admin_course_path(course.course_id) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
