---
http_interactions:
- request:
    method: get
    uri: https://openstax.org/apps/archive/20201222.172624/contents/d380510e-6145-4625-b19a-4fa68204b6b1@11.1:d7290d42-6efd-4a78-b863-eb5861e630c1.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Etag:
      - '"U1XtJUgVz0yX7eiq5nDXZQ"'
      Link:
      - <https://staging.cnx.org/contents/d380510e-6145-4625-b19a-4fa68204b6b1:d7290d42-6efd-4a78-b863-eb5861e630c1/Introduction>
        ;rel="Canonical"
      X-Varnish-Status:
      - cacheable - Cache-Control in backend response
      X-Varnish-Backend:
      - staging08_archive0
      X-Varnish-Ttl:
      - '31536000.000'
      X-Varnish-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"googleAnalytics": null, "version": "4", "submitlog": "metadata title
        space", "abstract": "<div xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:c=\"http://cnx.rice.edu/cnxml\"
        xmlns:md=\"http://cnx.rice.edu/mdml\" xmlns:qml=\"http://cnx.rice.edu/qml/1.0\"
        xmlns:mod=\"http://cnx.rice.edu/#moduleIds\" xmlns:bib=\"http://bibtexml.sf.net/\"
        xmlns:data=\"http://dev.w3.org/html5/spec/#custom\"/>", "revised": "2020-05-22T19:47:47Z",
        "printStyle": null, "roles": null, "keywords": ["social entrepreneur", "lifestyle
        venture", "entrepreneurial vision", "entrepreneurial venture", "entrepreneurial
        mindset", "disruptive technologies", "career entrepreneur", "serial entrepreneur",
        "vision statement", "mission statement", "entrepreneur", "divergent thinking"],
        "id": "d7290d42-6efd-4a78-b863-eb5861e630c1", "canonical": "d380510e-6145-4625-b19a-4fa68204b6b1",
        "title": "Introduction ", "mediaType": "application/vnd.org.cnx.module", "canon_url":
        "https://staging.cnx.org/contents/d380510e-6145-4625-b19a-4fa68204b6b1:d7290d42-6efd-4a78-b863-eb5861e630c1/Introduction",
        "content": "<html xmlns=\"http://www.w3.org/1999/xhtml\"><body xmlns:epub=\"http://www.idpf.org/2007/ops\"><div
        data-type=\"page\" id=\"d7290d42-6efd-4a78-b863-eb5861e630c1\" class=\"introduction\"
        data-cnxml-to-html-ver=\"2.0.0\"><div class=\"os-chapter-outline\"><h3 class=\"os-title\">Chapter
        Outline</h3><div class=\"os-chapter-objective\"><a class=\"os-chapter-objective\"
        href=\"/contents/d51e5dbd-ff69-4828-a882-9c6e8a940365#9592\"><span class=\"os-number\">1.1</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Entrepreneurship
        Today </span></a></div><div class=\"os-chapter-objective\"><a class=\"os-chapter-objective\"
        href=\"/contents/7ccc54a5-2430-429f-b74e-c94732f87418#67897\"><span class=\"os-number\">1.2</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">Entrepreneurial
        Vision and Goals </span></a></div><div class=\"os-chapter-objective\"><a class=\"os-chapter-objective\"
        href=\"/contents/eca9a0ef-7ef7-47d3-abaf-ce21ce92452d#29556\"><span class=\"os-number\">1.3</span><span
        class=\"os-divider\"> </span><span data-type=\"\" itemprop=\"\" class=\"os-text\">The
        Entrepreneurial Mindset </span></a></div></div><h2 data-type=\"document-title\"
        id=\"4672\"><span data-type=\"\" itemprop=\"\" class=\"os-text\">Introduction
        </span></h2>\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n<div class=\"os-figure has-splash\"><figure
        id=\"OSX_Eship_01_00_Algae\" class=\"splash\"><span data-type=\"media\" id=\"fs-idm364079856\"
        data-alt=\"Photo of two men talking (left); on the right is a screenshot of
        an app with the words New Note at the top, with options for text, snapshot,
        camera roll, and voice.\">\n<img src=\"/resources/7ffe3141b66a07b02254486248bdfa999a756ce1\"
        data-media-type=\"image/jpeg\" alt=\"Photo of two men talking (left); on the
        right is a screenshot of an app with the words New Note at the top, with options
        for text, snapshot, camera roll, and voice.\" id=\"41352\"/>\n</span>\n\n</figure><div
        class=\"os-caption-container\"><span class=\"os-title-label\">Figure </span><span
        class=\"os-number\">1.1</span><span class=\"os-divider\"> </span><span cl[...]
