---
http_interactions:
- request:
    method: get
    uri: http://biglearn-dev.openstax.org/projections/questions?allow_repetition=true&learner_id=123&number_of_questions=5&tag_query=((%22os-practice-concepts%22%20OR%20%22os-practice-problems%22%20OR%20(%22test-prep%22%20AND%20%22multiple-choice%22))%20AND%20(%22k12phys-ch04-s01-lo01%22%20OR%20%22k12phys-ch04-s01-lo02%22))
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://biglearn-dev.openstax.org/projections/questions?allow_repetition=true&learner_id=123&number_of_questions=5&tag_query=%28%28%22os-practice-concepts%22+OR+%22os-practice-problems%22+OR+%28%22test-prep%22+AND+%22multiple-choice%22%29%29+AND+%28%22k12phys-ch04-s01-lo01%22+OR+%22k12phys-ch04-s01-lo02%22%29%29
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 24 Jul 2015 02:22:12 GMT
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/projections/questions?allow_repetition=true&learner_id=123&number_of_questions=5&tag_query=((%22os-practice-concepts%22%20OR%20%22os-practice-problems%22%20OR%20(%22test-prep%22%20AND%20%22multiple-choice%22))%20AND%20(%22k12phys-ch04-s01-lo01%22%20OR%20%22k12phys-ch04-s01-lo02%22))
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"learner_id\": \"123\", \n  \"questions\": [\n    {\n      \"difficulty\":
        0.0, \n      \"projected_tags\": [\n        \"k12phys-ch04-s01-lo02\"\n      ],
        \n      \"question\": \"https://exercises-dev.openstax.org/exercises/391\",
        \n      \"success_probability\": 0.0, \n      \"tags\": [\n        \"k12phys-ch04-s01-lo02\",
        \n        \"time-short\", \n        \"display-free-response\", \n        \"display-rec-sensitive\",
        \n        \"dok2\", \n        \"tutor-only\", \n        \"blooms-1\", \n        \"k12phys\",
        \n        \"os-practice-concepts\", \n        \"k12phys-ch04\", \n        \"k12phys-ch04-s01\",
        \n        \"k12phys-ch04-ot007\"\n      ]\n    }, \n    {\n      \"difficulty\":
        0.0, \n      \"projected_tags\": [\n        \"k12ph[...]
