---
http_interactions:
- request:
    method: get
    uri: http://biglearn-dev.openstax.org/knowledge/clue?aggregations=(%22k12phys-ch04-s02-lo01%22)&learners=0edbe5f8f30abc5ba56b5b890bddbbe2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Content-Type:
      - text/html
      Location:
      - https://biglearn-dev.openstax.org/knowledge/clue?aggregations=%28%22k12phys-ch04-s02-lo01%22%29&learners=0edbe5f8f30abc5ba56b5b890bddbbe2
    body:
      encoding: UTF-8
      string: "<html>\r\n<head><title>301 Moved Permanently</title></head>\r\n<body
        bgcolor=\"white\">\r\n<center><h1>301 Moved Permanently</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n"
  recorded_at: Fri, 24 Jul 2015 02:22:12 GMT
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?aggregations=(%22k12phys-ch04-s02-lo01%22)&learners=0edbe5f8f30abc5ba56b5b890bddbbe2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.49943281162580061,
        \n      \"confidence\": {\n        \"left\": 0.93822089658017793, \n        \"right\":
        0.034306225533957423, \n        \"sample_size\": 0\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"good\", \n        \"level\": \"medium\", \n        \"threshold\":
        \"below\"\n      }, \n      \"tag_query\": \"(\\\"k12phys-ch04-s02-lo01\\\")\"\n
        \   }\n  ]\n}"
  recorded_at: Fri, 24 Jul 2015 02:22:13 GMT
recorded_with: VCR 2.9.3
