---
http_interactions:
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/questions
    body:
      encoding: UTF-8
      string: '{"question_tags":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1,"tags":[]},{"question_id":"//exercises-dev.openstax.org/exercises/43","version":1,"tags":[]},{"question_id":"//exercises-dev.openstax.org/exercises/43","version":2,"tags":[]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
          "message": "Question tags saved."
        }
  recorded_at: Wed, 16 Mar 2016 01:58:59 GMT
- request:
    method: post
    uri: https://biglearn-dev.openstax.org/facts/pools
    body:
      encoding: UTF-8
      string: '{"sources":[{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1}]},{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/43","version":1}]},{"questions":[{"question_id":"//exercises-dev.openstax.org/exercises/42","version":1},{"question_id":"//exercises-dev.openstax.org/exercises/43","version":2}]}]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"pool_ids\": [\n    \"7d786a3a-98d0-4c16-8c74-dc2a1d23f83f\",
        \n    \"bbb928b9-f436-4a0f-a495-5ae7ca27a709\", \n    \"65bcad44-51dd-4958-b598-598ffb0d85b2\"\n
        \ ]\n}"
  recorded_at: Wed, 16 Mar 2016 01:58:59 GMT
recorded_with: VCR 2.9.3
