name: Migrations

on:
  pull_request:
    types:
      - opened
      - edited
      - synchronize
      - reopened

jobs:
  migrations:
    timeout-minutes: 30
    runs-on: ubuntu-20.04
    services:
      postgres:
        image: postgres:11
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        env:
          POSTGRES_PASSWORD: postgres
      redis:
        image: redis
        ports:
          - 6379:6379
        # Set health checks to wait until redis has started
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      # Clone repo and checkout merge commit parent (PR target commit)
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2

      - run: git checkout HEAD^

      # Install ruby
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 2.7

      # Retrieve gem cache for merge commit parent
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-parent-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-parent-

      - name: Install gems from base commit and create data to be migrated
        env:
          OXT_DB_USER: postgres
          OXT_DB_PASS: postgres
        run: |
          gem install bundler
          bundle config path vendor/bundle
          bundle install --jobs 4 --retry 3
          bundle exec rake db:create db:schema:load db:seed --trace
          bundle exec rake demo[mini]
          bundle exec rake jobs:workoff
          git checkout --force -

      # Retrieve gem cache for PR merge commit
      - uses: actions/cache@v2
        with:
          path: vendor/bundle
          key: ${{ runner.os }}-gems-pr-${{ hashFiles('**/Gemfile.lock') }}
          restore-keys: |
            ${{ runner.os }}-gems-pr-

      - name: Install gems from PR, migrate and ensure no files changed
        env:
          OXT_DB_USER: postgres
          OXT_DB_PASS: postgres
        run: |
          bundle install --jobs 4 --retry 3
          bundle exec rake db:migrate
          git diff --exit-code
