<span class="copyright">&copy; <%= year = Time.current.year; 2015 == year ? "2015" : "2015&ndash;#{year}".html_safe %></span> <span class="sep" aria-hidden="true">&middot;</span> <a href="http://www.rice.edu" target="_blank" rel="noopener">Rice University</a> <span class="sep" aria-hidden="true">&middot;</span> <%= link_to "Terms", main_app.terms_path %>
