---
http_interactions:
- request:
    method: get
    uri: https://biglearn-dev.openstax.org/knowledge/clue?learners=21332ca231a015a11df464d759dd7de0da971bd48334ebb050540ec683f548fe&pool_ids=c8183974-c247-41a0-ad38-e69b72159b76
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: "{\n  \"aggregates\": [\n    {\n      \"aggregate\": 0.5, \n      \"confidence\":
        {\n        \"left\": 0.0001032959608441861, \n        \"right\": 0.99989670403915609,
        \n        \"sample_size\": 0, \n        \"unique_learner_count\": 0\n      },
        \n      \"interpretation\": {\n        \"confidence\": \"bad\", \n        \"level\":
        \"medium\", \n        \"threshold\": \"below\"\n      }, \n      \"pool_id\":
        \"c8183974-c247-41a0-ad38-e69b72159b76\"\n    }, \n    {\n      \"aggregate\":
        0.5, \n      \"confidence\": {\n        \"left\": 9.9618095980814734e-05,
        \n        \"right\": 0.9999003819040192, \n        \"sample_size\": 0, \n
        \       \"unique_learner_count\": 0\n      }, \n      \"interpretation\":
        {\n        \"confidence\": \"bad\", \n        \"level\": \"medium\", \n        \"threshold\":
        \"below\"\n      }, \n      \"pool_id\": \"5e816a18-9fdb-4430-9cb8-de2661940b3b\"\n
        \   }\n  ]\n}"
  recorded_at: Thu, 10 Sep 2015 23:35:49 GMT
recorded_with: VCR 2.9.3
